################################################################################
# Copyrights © 2021-2022 Fiserv, Inc. or its affiliates.
# Fiserv is a trademark of Fiserv, Inc.,
# registered or used in the United States and foreign countries,
# and may or may not be registered in your country.
# All trademarks, service marks,
# and trade names referenced in this
# material are the property of their
# respective owners. This work, including its contents
# and programming, is confidential and its use
# is strictly limited. This work is furnished only
# for use by duly authorized licensees of Fiserv, Inc.
# or its affiliates, and their designated agents
# or employees responsible for installation or
# operation of the products. Any other use,
# duplication, or dissemination without the
# prior written consent of Fiserv, Inc.
# or its affiliates is strictly prohibited.
# Except as specified by the agreement under
# which the materials are furnished, Fiserv, Inc.
# and its affiliates do not accept any liabilities
# with respect to the information contained herein
# and are not responsible for any direct, indirect,
# special, consequential or exemplary damages
# resulting from the use of this information.
# No warranties, either express or implied,
# are granted or extended by this work or
# the delivery of this work
################################################################################
openapi: 3.0.1
info:
  title: Silvercore™ Account Service - API Documentation
  description: This documentation describes the REST APIs provided by the Silvercore™
  version: "2.0"
servers:
  - url: https://int.api.firstdata.com/latam-gfs-apis/
    description: Sandbox Test
paths:
  /accounts/tripLog:
    put:
      tags:
        - TripLog
      summary: Posibilita generar la carga de un nuevo viaje para uno o varios integrantes de la cuenta. Además, ejecuta Bajas o Modificaciones de uno o varios avisos de viaje previamente cargado. El emisor armara el PUT con los datos que obtiene originalmente de la Consulta de Viajes ofreciendo al cliente la gestión sobre alguno de ellos.
      operationId: putTripLog
      parameters:
        - name: Authorization
          in: header
          description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
          required: false
          schema:
            maxLength: 35
            minLength: 35
            type: string
            description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
            example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
          example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
        - name: apikey
          in: header
          description: Provisto por Fiserv ClientKey de ApiGee.
          required: false
          schema:
            maxLength: 32
            minLength: 32
            type: string
            description: Provisto por Fiserv ClientKey de ApiGee.
            example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
          example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
        - name: Signature
          in: header
          description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
          required: false
          schema:
            maxLength: 44
            minLength: 44
            type: string
            description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
            example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
          example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutTripLogResponse'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Trip Log ABM
      x-group-name: Account
      x-child-product-name: Accounts
    post:
      tags:
        - TripLog
      summary: Permite listar los viajes previamente cargados, históricos, vigentes y futuros.
      operationId: getTripLog
      parameters:
        - name: Authorization
          in: header
          description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
          required: false
          schema:
            maxLength: 35
            minLength: 35
            type: string
            description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
            example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
          example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
        - name: apikey
          in: header
          description: Provisto por Fiserv ClientKey de ApiGee.
          required: false
          schema:
            maxLength: 32
            minLength: 32
            type: string
            description: Provisto por Fiserv ClientKey de ApiGee.
            example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
          example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
        - name: Signature
          in: header
          description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
          required: false
          schema:
            maxLength: 44
            minLength: 44
            type: string
            description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
            example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
          example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TripLogRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TripLogResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Trip Log Status
      x-group-name: Account
      x-child-product-name: Accounts
  /accounts/v2/annualSummary:
    post:
      tags:
        - Annual Summary
      summary: Permite obtener de forma detallada y consolidada, los datos sobre intereses, comisiones y gastos que se han aplicado durante un año.
      operationId: dataAnnualSummary
      parameters:
        - name: X-ClientID
          in: header
          description: Número que representa la entidad cliente del servicio en Fiserv.
          required: true
          schema:
            pattern: '[0-9]{1,3}'
            type: string
            description: Número que representa la entidad cliente del servicio en Fiserv.
        - name: username
          in: header
          description: Identificador que representa al usuario.
          required: true
          schema:
            type: string
            description: Identificador que representa al usuario.
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: requestId
          in: header
          description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
          required: false
          schema:
            type: string
            description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
        - name: Authorization
          in: header
          description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
          required: false
          schema:
            maxLength: 35
            minLength: 35
            type: string
            description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
            example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
          example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
        - name: apikey
          in: header
          description: Provisto por Fiserv ClientKey de ApiGee.
          required: false
          schema:
            maxLength: 32
            minLength: 32
            type: string
            description: Provisto por Fiserv ClientKey de ApiGee.
            example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
          example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
        - name: Signature
          in: header
          description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
          required: false
          schema:
            maxLength: 44
            minLength: 44
            type: string
            description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
            example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
          example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataAnnualRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataAnnualResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Annual Summary
      x-group-name: Annual Summary
      x-child-product-name: Accounts
  /accounts/v1/documentAnnualSummary:
    post:
      tags:
        - Download Annual Summary
      summary: Esta API permite descargar el Resumen anual en formato PDF.
      operationId: downloadAnnualSummary
      parameters:
        - name: X-ClientID
          in: header
          description: Número que representa la entidad cliente del servicio en Fiserv.
          required: true
          schema:
            pattern: '[0-9]{1,3}'
            type: string
            description: Número que representa la entidad cliente del servicio en Fiserv.
        - name: username
          in: header
          description: Identificador que representa al usuario.
          required: true
          schema:
            type: string
            description: Identificador que representa al usuario.
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: requestId
          in: header
          description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
          required: false
          schema:
            type: string
            description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
        - name: Authorization
          in: header
          description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
          required: false
          schema:
            maxLength: 35
            minLength: 35
            type: string
            description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
            example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
          example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
        - name: apikey
          in: header
          description: Provisto por Fiserv ClientKey de ApiGee.
          required: false
          schema:
            maxLength: 32
            minLength: 32
            type: string
            description: Provisto por Fiserv ClientKey de ApiGee.
            example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
          example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
        - name: Signature
          in: header
          description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
          required: false
          schema:
            maxLength: 44
            minLength: 44
            type: string
            description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
            example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
          example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentAnnualRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentAnnualResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Download Annual Summary
      x-group-name: Annual Summary
      x-child-product-name: Accounts
  /accounts/tripLog/delete:
    post:
      tags:
        - TripLog
      summary: Permite la Baja o Borrado de todos los viajes previamente cargados. El emisor armara el DEL  ofreciendo al cliente la eliminación del histórico de  viajes previamente cargados.
      operationId: deleteTripLog
      parameters:
        - name: Authorization
          in: header
          description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
          required: false
          schema:
            maxLength: 35
            minLength: 35
            type: string
            description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
            example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
          example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
        - name: apikey
          in: header
          description: Provisto por Fiserv ClientKey de ApiGee.
          required: false
          schema:
            maxLength: 32
            minLength: 32
            type: string
            description: Provisto por Fiserv ClientKey de ApiGee.
            example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
          example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
        - name: Signature
          in: header
          description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
          required: false
          schema:
            maxLength: 44
            minLength: 44
            type: string
            description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
            example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
          example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TripLogRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Trip Log Baja
      x-group-name: Account
      x-child-product-name: Accounts
  /accounts/limitIncrease:
    post:
      tags:
        - limitIncrease
      summary: "Proporciona al cliente/tarjetahabiente la posibilidad de solicitar y procesar aumentos de limite transitorios en línea.\r\nEl limite podría tener un periodo determinado por el emisor donde vencido el plazo volverá a los limites determinados previamente.\r\n"
      operationId: setIncrementoLimiteTransitorio
      parameters:
        - name: Authorization
          in: header
          description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
          required: false
          schema:
            maxLength: 35
            minLength: 35
            type: string
            description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
            example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
          example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
        - name: apikey
          in: header
          description: Provisto por Fiserv ClientKey de ApiGee.
          required: false
          schema:
            maxLength: 32
            minLength: 32
            type: string
            description: Provisto por Fiserv ClientKey de ApiGee.
            example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
          example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
        - name: Signature
          in: header
          description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
          required: false
          schema:
            maxLength: 44
            minLength: 44
            type: string
            description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
            example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
          example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IncrementoLimiteTransitorioRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitIncreaseResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
      x-proxy-name: Limit Increase
      x-group-name: Account
      x-child-product-name: Accounts
  /accounts/cards:
    post:
      tags:
        - Cards
      summary: La consulta lista todas las tarjetas en condiciones de operar, de manera de seleccionar sobre cual  de ellas se  solicitará la información para conformar la imagen de la tarjeta para que el cliente final pueda operar. Esta orientada a prevalidación de tarjeta vigentes ante posibles cambios en la numeración por reimpresiones/renovaciones y el posible solapamiento. La respuesta contiene el  PAN enmascarado.
      operationId: getConsultaTarjetas
      parameters:
        - name: Authorization
          in: header
          description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
          required: false
          schema:
            maxLength: 35
            minLength: 35
            type: string
            description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
            example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
          example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
        - name: apikey
          in: header
          description: Provisto por Fiserv ClientKey de ApiGee.
          required: false
          schema:
            maxLength: 32
            minLength: 32
            type: string
            description: Provisto por Fiserv ClientKey de ApiGee.
            example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
          example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
        - name: Signature
          in: header
          description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
          required: false
          schema:
            maxLength: 44
            minLength: 44
            type: string
            description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
            example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
          example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardsRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Cards
      x-group-name: Account
      x-child-product-name: Accounts
  /accounts/cardholders:
    post:
      tags:
        - Card Holders
      summary: La consulta permite listar todos los componentes de una cuenta (Titular + Adicionales) de manera de seleccionar sobre cuál de ellos se solicitará la acción de ACTIVAR / BLOQUEAR / DENUNCIAR / REIMPRIMIR. Puede utilizarse como complemento de prevalidación de tarjeta ante posibles cambios en la numeración por reimpresiones/renovaciones y el posible solapamiento. La respuesta contiene el PAN enmascarado junto con más datos de los clientes listados.
      operationId: getConsultaMiembros
      parameters:
        - name: Authorization
          in: header
          description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
          required: false
          schema:
            maxLength: 35
            minLength: 35
            type: string
            description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
            example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
          example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
        - name: apikey
          in: header
          description: Provisto por Fiserv ClientKey de ApiGee.
          required: false
          schema:
            maxLength: 32
            minLength: 32
            type: string
            description: Provisto por Fiserv ClientKey de ApiGee.
            example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
          example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
        - name: Signature
          in: header
          description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
          required: false
          schema:
            maxLength: 44
            minLength: 44
            type: string
            description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
            example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
          example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardHoldersRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardHoldersResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Card Holders
      x-group-name: Account
      x-child-product-name: Accounts
  /accounts/availability:
    post:
      tags:
        - Availability
      summary: Posibilita consultar la disponibilidad del servicio previo al uso de la API que realizará el input para generación de la nueva Cuenta/Tarjeta. Se recomienda la ejecución previa al consumo de la API /cards/instantIssuance
      operationId: getAvailability
      parameters:
        - name: Authorization
          in: header
          description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
          required: false
          schema:
            maxLength: 35
            minLength: 35
            type: string
            description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
            example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
          example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
        - name: apikey
          in: header
          description: Provisto por Fiserv ClientKey de ApiGee.
          required: false
          schema:
            maxLength: 32
            minLength: 32
            type: string
            description: Provisto por Fiserv ClientKey de ApiGee.
            example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
          example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
        - name: Signature
          in: header
          description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
          required: false
          schema:
            maxLength: 44
            minLength: 44
            type: string
            description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
            example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
          example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilityResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      - code: 0
                        description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Availability
      x-group-name: Account
      x-child-product-name: Accounts
components:
  schemas:
    ErrorDetailsResponse:
      type: object
      properties:
        dateError:
          type: string
          format: date-time
        message:
          type: string
        detail:
          type: string
    CountryRequest:
      required:
        - countryCode
        - dateFrom
        - dateTo
      type: object
      properties:
        dateFrom:
          maxLength: 10
          minLength: 10
          type: string
          description: Este campo de entrada, proporciona la información correspondiente a la fecha de inicio del Aviso de Viaje
          example: '2023-10-20'
        dateTo:
          maxLength: 10
          minLength: 10
          type: string
          description: Este campo de entrada, proporciona la información correspondiente a la fecha de fin del Aviso de Viaje
          example: '2023-11-02'
        countryCode:
          maxLength: 3
          minLength: 3
          type: string
          description: Este campo de entrada, proporciona el dato del país destino del Aviso de Viaje
          example: MEX
      description: Este campo de entrada proporciona los datos de los registros de viajes
    PutTripLogResponse:
      required:
        - countriesList
      type: object
      properties:
        accountNumber:
          maxLength: 32
          minLength: 32
          pattern: '[0-9A-F]{32}'
          type: string
          description: 'Número de cuenta del tarjetahabiente. Encriptado. La cuenta que se encripta debe cumplir con Long 9 dígitos que se completan con ceros a la izquierda. EJ: 001234567 / 00#######'
          example: W23X24Y25Z26A1B2C3D4E5F6G7H8I9J1
        additional:
          maxLength: 1
          minLength: 1
          type: integer
          description: 'Identifica Titulares y Adicionales de la misma cuenta. Valores posibles: 1 a 9. Titular: 0 Adicional: 1 a 9'
          format: int32
          example: 0
        cardNumber:
          maxLength: 64
          minLength: 64
          pattern: '[0-9A-F]{64}'
          type: string
          description: Este campo de entrada permite ingresar el número de tarjeta (PAN) encriptado
          example: C3D4E5F6G7H8I9J10K11L12M13N14O15P16Q17R18S19T20U21V22W23X24Y25Z26
        countriesList:
          maxItems: 5
          minItems: 5
          type: array
          description: Este campo de entrada proporciona los datos de los registros de viajes
          items:
            $ref: '#/components/schemas/CountryRequest'
      description: Estructura de campos que responde a la API TripLog
    ErrorFiserVDetailsResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
        description:
          type: string
    ErrorFiserVResponse:
      type: object
      properties:
        errorResponse:
          $ref: '#/components/schemas/ErrorFiserVDetailsResponse'
    Account:
      type: object
      properties:
        additional:
          maxLength: 1
          minLength: 1
          type: integer
          description: Este campo de salida, proporciona el para identificar unívocamente Titulares y Adicionales de la misma. Conocido también como "AUTORIZADO"
          format: int32
          example: 5
        countriesList:
          type: array
          description: Este campo de salida, proporciona los datos de los registros de viajes
          items:
            $ref: '#/components/schemas/Country'
    Country:
      type: object
      properties:
        dateFrom:
          maxLength: 10
          minLength: 10
          type: string
          description: Este campo de salida, proporciona la información correspondiente a la fecha de inicio del Aviso de Viaje
          example: '2023-09-03'
        dateTo:
          maxLength: 10
          minLength: 10
          type: string
          description: Este campo de salida, proporciona la información correspondiente a la fecha de fin del Aviso de Viaje
          example: '2023-09-05'
        countryCode:
          maxLength: 3
          minLength: 3
          type: string
          description: Este campo de salida, proporciona el dato del país destino del Aviso de Viaje
          example: CUB
      description: Este campo de salida, proporciona los datos de los registros de viajes
    AccountRequestOnlyTitular:
      type: object
      properties:
        accountNumber:
          pattern: '[0-9A-F]{32}'
          type: string
          description: 'Número de cuenta del tarjetahabiente. Encriptado. La cuenta que se encripta debe cumplir con Long 9 dígitos que se completan con ceros a la izquierda. EJ: 001234567 / 00#######'
          example: W23X24Y25Z26A1B2C3D4E5F6G7H8I9J1
        additional:
          type: integer
          description: Este campo de entrada proporciona el código de la entidad del tarjetahabiente.
          format: int32
          example: 0
      description: Datos de la cuenta.
    DataAnnualRequest:
      type: object
      properties:
        cardNumber:
          pattern: '[0-9A-F]{64}'
          type: string
          description: Este campo de entrada permite ingresar el número de tarjeta (PAN) encriptado
          example: C3D4E5F6G7H8I9J10K11L12M13N14O15P16Q17R18S19T20U21V22W23X24Y25Z26
        account:
          $ref: '#/components/schemas/AccountRequestOnlyTitular'
        dateRange:
          $ref: '#/components/schemas/DateRange'
    DateRange:
      required:
        - from
        - to
      type: object
      properties:
        from:
          maxLength: 10
          minLength: 10
          pattern: dd-MM-YYYY
          type: string
          description: Fecha desde. En formato ISO 8601.
          example: 01-01-2021
        to:
          maxLength: 10
          minLength: 10
          pattern: dd-MM-YYYY
          type: string
          description: Fecha hasta. En formato ISO 8601.
          example: 31-12-2021
      description: Rango. Criterio de búsqueda.
    Amount:
      type: object
      properties:
        localCurrency:
          maxLength: 16
          type: string
          description: Monto de consumos/beneficios por comercio o de las retenciones o de los impuestos en moneda local. Peso argentino.Longitud máxima 15. Entre 0 y 9999999999999.99
          format: decimal
          example: '185000.99'
        foreingCurrency:
          maxLength: 16
          type: string
          description: Monto de consumos/beneficios por comercio o de las retenciones o de los impuestos en USD Dolar.Longitud máxima 15. Entre 0 y 9999999999999.99
          format: decimal
          example: '185000.99'
      description: Montos acumulados por moneda de impuestos.
    Benefit:
      type: object
      properties:
        additional:
          maxLength: 1
          minLength: 1
          type: string
          description: "Agrupa e identifica el total de beneficios obtenidos por el Titular y Tarjetas Adicionales de una cuenta durante el periodo seleccionado.\nValores\n•\t0: Tarjeta Titular;\n•\t1 a 9: Tarjetas Adicionales.\n"
          example: '1'
        categories:
          type: array
          description: Lista las categorías de beneficios.
          items:
            $ref: '#/components/schemas/BenefitList'
        merchants:
          type: array
          description: Nombre del comercio.
          items:
            $ref: '#/components/schemas/MerchantsList'
      description: Lista los diferentes beneficios a los cuales el cliente tuvo acceso acorde a sus consumos.
    BenefitList:
      type: object
      properties:
        name:
          maxLength: 60
          minLength: 1
          type: string
          description: Nombre bajo la cual se acumulan los beneficios.
          example: Restaurantes
        totals:
          type: array
          description: Agrupa beneficios en Mes/Monto. Ocurre hasta 12 veces.
          items:
            $ref: '#/components/schemas/Total'
      description: Lista las categorías de beneficios.
    CardConsumption:
      type: object
      properties:
        additional:
          maxLength: 1
          minLength: 1
          type: string
          description: "Agrupa e identifica el total de consumos realizados por el Titular y Tarjetas Adicionales de una cuenta durante el periodo seleccionado.\nValores\n•\t0: Tarjeta Titular;\n•\t1 a 9: Tarjetas Adicionales.\n"
          example: '1'
        totals:
          type: array
          description: Agrupa consumos en Mes/Monto. Ocurre hasta 12 veces.
          items:
            $ref: '#/components/schemas/Total'
      description: Contiene el total de consumos realizados por tarjeta (titular y adicionales). Ocurre hasta 10 veces.
    CategoryConsumption:
      type: object
      properties:
        additional:
          maxLength: 1
          minLength: 1
          type: string
          description: "Agrupa e identifica el total de consumos realizados por categoría por el Titular y Tarjetas Adicionales de una cuenta durante el periodo seleccionado.\nValores\n•\t0: Tarjeta Titular;\n•\t1 a 9: Tarjetas Adicionales.\n"
          example: '1'
        categories:
          type: array
          description: Lista las categorías de consumos.
          items:
            $ref: '#/components/schemas/CategoryList'
        merchants:
          type: array
          description: Lista de comercios con mayor consumo durante el periodo seleccionado. Ocurre hasta 5 veces.
          items:
            $ref: '#/components/schemas/MerchantsList'
      description: Contiene el total de consumos realizados por categoría (titular y adicionales). Ocurre hasta 10 veces.
    CategoryList:
      type: object
      properties:
        name:
          maxLength: 60
          type: string
          description: Nombre de la categoría bajo la cual se acumulan los consumos.
          example: Servicios
        totals:
          type: array
          description: Agrupa consumos en Mes/Monto. Ocurre hasta 12 veces.
          items:
            $ref: '#/components/schemas/Total'
      description: Lista las categorías de consumos.
    DataAnnualResponse:
      type: object
      properties:
        cardConsumptions:
          type: array
          description: Contiene el total de consumos realizados por tarjeta (titular y adicionales). Ocurre hasta 10 veces.
          items:
            $ref: '#/components/schemas/CardConsumption'
        categoryConsumptions:
          type: array
          description: Contiene el total de consumos realizados por categoría (titular y adicionales). Ocurre hasta 10 veces.
          items:
            $ref: '#/components/schemas/CategoryConsumption'
        benefits:
          type: array
          description: Lista los diferentes beneficios a los cuales el cliente tuvo acceso acorde a sus consumos.
          items:
            $ref: '#/components/schemas/Benefit'
        retentions:
          type: array
          description: Lista las diferentes retenciones aplicadas a la Cuenta en el periodo seleccionado. Ocurre hasta 12 veces.
          items:
            $ref: '#/components/schemas/Retention'
        taxes:
          type: array
          description: Lista los diferentes impuestos aplicados a la Cuenta en el periodo seleccionado. Ocurre hasta 12 veces.
          items:
            $ref: '#/components/schemas/Tax'
    MerchantsList:
      type: object
      properties:
        name:
          maxLength: 120
          type: string
          description: Nombre del comercio.
          example: WWW.IBERIA.COM.AR
        totals:
          $ref: '#/components/schemas/Amount'
      description: Nombre del comercio.
    Retention:
      type: object
      properties:
        date:
          maxLength: 7
          minLength: 7
          pattern: MM-YYYY
          type: string
          description: Fecha del acumulado de las retenciones.
          example: 01-2024
        calculationBase:
          maxLength: 16
          type: string
          description: Refleja la base imponible igual al total de dólares de la cuenta expresado en moneda local al tipo de cambio del cierre de cuenta corriente correspondiente al mes. Entre 0 y 9999999999999.99.
          example: '433470.68'
        resolutionNumber:
          maxLength: 15
          type: string
          description: Número de resolución de retención. Entre 0 y 999999999999999.
          example: '16070389973'
        amount:
          $ref: '#/components/schemas/Amount'
      description: Lista las diferentes retenciones aplicadas a la Cuenta en el periodo seleccionado. Ocurre hasta 12 veces.
    Tax:
      type: object
      properties:
        name:
          maxLength: 60
          minLength: 1
          type: string
          description: Nombre del impuesto.
          example: Impuesto País
        amount:
          $ref: '#/components/schemas/Amount'
      description: Lista los diferentes impuestos aplicados a la Cuenta en el periodo seleccionado. Ocurre hasta 12 veces.
    Total:
      type: object
      properties:
        date:
          maxLength: 7
          minLength: 7
          pattern: MM-YYYY
          type: string
          description: Fecha acumulado de consumos.
          example: 01-2024
        amount:
          $ref: '#/components/schemas/Amount'
      description: Agrupa beneficios en Mes/Monto. Ocurre hasta 12 veces.
    DocumentAnnualRequest:
      type: object
      properties:
        cardNumber:
          pattern: '[0-9A-F]{64}'
          type: string
          description: Este campo de entrada permite ingresar el número de tarjeta (PAN) encriptado
          example: C3D4E5F6G7H8I9J10K11L12M13N14O15P16Q17R18S19T20U21V22W23X24Y25Z26
        account:
          $ref: '#/components/schemas/AccountRequestOnlyTitular'
    DocumentAnnualResponse:
      type: object
      properties:
        file:
          type: string
          description: Contiene el Resumen electrónico en formato PDF codificado en base64 que contiene toda la información de la cuenta y tarjetas.
          example: 'JVBERi0xLjcNCiWhs8XXDQoxIDAgb2JqDQo8PC9QYWdlcyAyIDAgUiAvVHlwZS9DYXRhbG9nPj4NCmVuZG9iag0KMiAwIG9iag0KPDwvQ291bnQgMS9LaWRzWyA0IDAgUiBdL1R5cGUvUGFnZXM... '
    TripLogRequest:
      type: object
      properties:
        accountNumber:
          maxLength: 32
          minLength: 32
          pattern: '[0-9A-F]{32}'
          type: string
          description: 'Número de cuenta del tarjetahabiente. Encriptado. La cuenta que se encripta debe cumplir con Long 9 dígitos que se completan con ceros a la izquierda. EJ: 001234567 / 00#######'
          example: W23X24Y25Z26A1B2C3D4E5F6G7H8I9J1
        additional:
          maxLength: 1
          minLength: 1
          type: integer
          description: 'Identifica Titulares y Adicionales de la misma cuenta. Valores posibles: 1 a 9. Titular: 0 Adicional: 1 a 9'
          format: int32
          example: 0
        cardNumber:
          maxLength: 64
          minLength: 64
          pattern: '[0-9A-F]{64}'
          type: string
          description: Este campo de entrada permite ingresar el número de tarjeta (PAN) encriptado
          example: C3D4E5F6G7H8I9J10K11L12M13N14O15P16Q17R18S19T20U21V22W23X24Y25Z26
      description: Estructura de campos para la solicitud de la API TripLog
    TripLogResponse:
      type: object
      properties:
        accountList:
          type: array
          description: Este campo de salida, proporciona los datos del tarjetahabiente o los tarjetahabientes.
          items:
            $ref: '#/components/schemas/Account'
      description: Estructura de campos que responde a la API TripLog
    IncrementoLimiteTransitorioRequest:
      required:
        - bankBranch
        - checkDigit
        - deadline
        - newLimit
        - requestNumber
      type: object
      properties:
        accountNumber:
          maxLength: 32
          minLength: 32
          pattern: '[0-9A-F]{32}'
          type: string
          description: 'Número de cuenta del tarjetahabiente. Encriptado. La cuenta que se encripta debe cumplir con Long 9 dígitos que se completan con ceros a la izquierda. EJ: 001234567 / 00#######'
          example: W23X24Y25Z26A1B2C3D4E5F6G7H8I9J1
        additional:
          maxLength: 1
          minLength: 1
          type: integer
          description: 'Identifica Titulares y Adicionales de la misma cuenta. Valores posibles: 1 a 9. Titular: 0 Adicional: 1 a 9'
          format: int32
          example: 0
        cardNumber:
          maxLength: 64
          minLength: 64
          pattern: '[0-9A-F]{64}'
          type: string
          description: Este campo de entrada permite ingresar el número de tarjeta (PAN) encriptado
          example: C3D4E5F6G7H8I9J10K11L12M13N14O15P16Q17R18S19T20U21V22W23X24Y25Z26
        requestNumber:
          maxLength: 6
          type: integer
          description: Número de solicitud
          format: int32
          example: 194
        bankBranch:
          maxLength: 3
          type: integer
          description: Identificador de Sucursal
          format: int32
          example: 125
        checkDigit:
          maxLength: 1
          minLength: 1
          type: integer
          description: Dígito Verificador de la cuenta
          format: int32
          example: 0
        newLimit:
          maxLength: 15
          type: integer
          description: 'Monto del nuevo límite Numéricos enteros, miles, no admite negativos) Ej: 200000 / 150000'
          format: int32
          example: 500000
        deadline:
          maxLength: 6
          minLength: 6
          type: string
          description: Fecha de finalización. Formato DDMMYY
          example: '010624'
    LimitIncreaseResponse:
      type: object
      properties:
        returnCode:
          maxLength: 1
          minLength: 1
          type: string
          description: Este campo de salida proporciona el código de retorno / rechazo que devuelve el sistema.
          example: '0'
        returnCodeDescription:
          maxLength: 25
          minLength: 25
          type: string
          description: Este campo de salida proporciona la descripción del código de retorno / rechazo que devuelve el sistema.
          example: NOVEDAD CARGADA CON ÉXITO
    CardsRequest:
      required:
        - accountNumber
        - additional
      type: object
      properties:
        accountNumber:
          maxLength: 32
          minLength: 32
          pattern: ^[0-9A-F]{32}
          type: string
          description: 'Número de cuenta del tarjetahabiente. Encriptado. La cuenta que se encripta debe cumplir con Long 9 dígitos que se completan con ceros a la izquierda. EJ: 001234567 / 00#######'
          example: W23X24Y25Z26A1B2C3D4E5F6G7H8I9J1
        additional:
          maxLength: 1
          minLength: 1
          type: integer
          description: 'Identifica Titulares y Adicionales de la misma cuenta. Valores posibles: 1 a 9. Titular: 0 Adicional: 1 a 9'
          format: int32
          example: 0
      description: Estructura de campos para la solicitud de la API Reissue Card
    Card:
      type: object
      properties:
        cardNumberM:
          maxLength: 16
          minLength: 16
          type: string
          description: Este campo de salida, proporciona la información del número de tarjeta (PAN) enmascarado
          example: '1234000000001234'
      description: Corresponde a un listado Tarjetas. Cada elemento es un elemento tarjeta
    CardsResponse:
      required:
        - cards
      type: object
      properties:
        cards:
          maxItems: 10
          minItems: 10
          type: array
          description: Corresponde a un listado Tarjetas. Cada elemento es un elemento tarjeta
          items:
            $ref: '#/components/schemas/Card'
      description: Estructura de campos que responde la API Cards
    CardHoldersRequest:
      required:
        - accountNumber
        - additional
        - blockActivateCode
      type: object
      properties:
        accountNumber:
          maxLength: 32
          minLength: 32
          pattern: ^[0-9A-F]{32}
          type: string
          description: 'Número de cuenta del tarjetahabiente. Encriptado. La cuenta que se encripta debe cumplir con Long 9 dígitos que se completan con ceros a la izquierda. EJ: 001234567 / 00#######'
          example: W23X24Y25Z26A1B2C3D4E5F6G7H8I9J1
        blockActivateCode:
          maxLength: 1
          minLength: 1
          pattern: 0|7
          type: string
          description: Este campo de entrada, permite ingresar el motivo de boletín de bloqueo o activación. 0 - permite listar tarjetas para activar, 7 - permite listar tarjetas para denunciar.
          example: '0'
        additional:
          maxLength: 1
          minLength: 1
          type: integer
          description: 'Identifica Titulares y Adicionales de la misma cuenta. Valores posibles: 1 a 9. Titular: 0 Adicional: 1 a 9'
          format: int32
          example: 0
      description: Estructura de campos para la solicitud de la API Card Holders
    CardAccount:
      type: object
      properties:
        additional:
          maxLength: 1
          minLength: 1
          type: integer
          description: Este campo de salida complementa al dato cuenta para identificar unívocamente titulares y adicionales de la misma. Conocido también como Autorizado.
          format: int32
          example: 0
        fullName:
          maxLength: 30
          minLength: 1
          type: string
          description: Este campo de salida proporciona la información del apellido y nombre del solicitante de la tarjeta de crédito.
          example: BERTAZZINI,JORGE
        cardNumber:
          maxLength: 16
          minLength: 1
          type: string
          description: Este campo de salida proporciona el número de tarjeta enmascarado (1234000000001234).
          example: '5505000000007223'
        isRenewal:
          maxLength: 1
          minLength: 1
          type: string
          description: Este campo de salida proporciona el información si el tarjetahabiente tiene la marca de renovación de tarjeta.
          example: S
        desist:
          maxLength: 1
          minLength: 1
          type: string
          description: Este campo de salida se relaciona con la renovación de la tarjeta y conlleva un SI/NO.
          example: 'N'
        addressStreetNumber:
          maxLength: 30
          minLength: 1
          type: string
          description: Este campo de salida proporciona el domicilio del tarjetahabiente detallando el nombre y número de la calle.
          example: SIN DOMICILIO
        addressFloor:
          maxLength: 2
          minLength: 1
          type: string
          description: Este campo de salida proporciona el número de piso relacionado al domicilio
        addressApartment:
          maxLength: 3
          minLength: 1
          type: string
          description: Este campo de salida proporciona el número de departamento relacionado al domicilio.
        countryCode:
          maxLength: 3
          minLength: 1
          type: string
          description: 'Este campo de salida proporciona el código del país. '
        addressprovinceCode:
          maxLength: 2
          minLength: 1
          type: string
          description: Este campo de salida proporciona el código de la provincia.
          example: '0'
        addressZipCode:
          maxLength: 5
          minLength: 1
          type: string
          description: Este campo de salida proporciona el código postal.
          example: '0'
        city:
          maxLength: 20
          minLength: 1
          type: string
          description: Este campo de salida proporciona la ciudad relacionada con el domicilio.
      description: Corresponde a un listado. Cada elemento es un elemento tarjeta-cuenta
    CardHoldersResponse:
      type: object
      properties:
        cards:
          type: array
          description: Corresponde a un listado. Cada elemento es un elemento tarjeta-cuenta
          items:
            $ref: '#/components/schemas/CardAccount'
      description: Estructura de campos que responde la API Card Holders
    AvailabilityResponse:
      type: object
      properties:
        returnCode:
          maxLength: 3
          minLength: 1
          type: integer
          description: Este campo de salida, proporciona el código de retorno / rechazo que devuelve el sistema - Ver listado de códigos + descripciones  para la API correspondiente
          format: int32
          example: 1
        returnCodeDescription:
          maxLength: 200
          minLength: 1
          type: string
          description: Este campo de salida, proporciona la descripción del código de retorno / rechazo que devuelve el sistema - Ver listado de códigos + descripciones  para la API correspondiente
          example: SISTEMA DISPONIBLE
      description: Estructura de campos que responde la API Availability
