################################################################################
# Copyrights © 2021-2022 Fiserv, Inc. or its affiliates. 
# Fiserv is a trademark of Fiserv, Inc., 
# registered or used in the United States and foreign countries, 
# and may or may not be registered in your country.  
# All trademarks, service marks, 
# and trade names referenced in this 
# material are the property of their 
# respective owners. This work, including its contents 
# and programming, is confidential and its use 
# is strictly limited. This work is furnished only 
# for use by duly authorized licensees of Fiserv, Inc. 
# or its affiliates, and their designated agents 
# or employees responsible for installation or 
# operation of the products. Any other use, 
# duplication, or dissemination without the 
# prior written consent of Fiserv, Inc. 
# or its affiliates is strictly prohibited. 
# Except as specified by the agreement under 
# which the materials are furnished, Fiserv, Inc. 
# and its affiliates do not accept any liabilities 
# with respect to the information contained herein 
# and are not responsible for any direct, indirect, 
# special, consequential or exemplary damages 
# resulting from the use of this information. 
# No warranties, either express or implied, 
# are granted or extended by this work or 
# the delivery of this work
################################################################################

openapi: 3.0.1
info:
  title: Silvercore™ Cards Service - API Documentation
  description: This documentation describes the REST APIs provided by the Silvercore™
  version: "2.0"
servers:
  - url: https://int.api.firstdata.com/latam-gfs-apis/
    description: Sandbox Test
paths:
  /cards/v1/pin:
    put:
      tags:
        - Pin Block
      summary: 'Esta API permite la posibilidad de gestión de PIN para ATM. El impacto de cambio de PIN/OFFSET NO es online. '
      operationId: setPinBlock
      parameters:
        - name: Authorization
          in: header
          description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
          required: false
          schema:
            maxLength: 35
            minLength: 35
            type: string
            description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
            example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
          example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
        - name: apikey
          in: header
          description: Provisto por Fiserv ClientKey de ApiGee.
          required: false
          schema:
            maxLength: 32
            minLength: 32
            type: string
            description: Provisto por Fiserv ClientKey de ApiGee.
            example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
          example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
        - name: Signature
          in: header
          description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
          required: false
          schema:
            maxLength: 44
            minLength: 44
            type: string
            description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
            example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
          example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PinBlockRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PinBlockResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: PIN block
      x-group-name: Card
      x-child-product-name: Cards
  /cards/v1/block:
    put:
      tags:
        - Block
      summary: Esta API tiene como objetivo que el Emisor pueda ofrecer al cliente la posibilidad realizar la Denuncia – Bloqueo según Motivo 19
      operationId: block
      parameters:
        - name: Authorization
          in: header
          description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
          required: false
          schema:
            maxLength: 35
            minLength: 35
            type: string
            description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
            example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
          example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
        - name: apikey
          in: header
          description: Provisto por Fiserv ClientKey de ApiGee.
          required: false
          schema:
            maxLength: 32
            minLength: 32
            type: string
            description: Provisto por Fiserv ClientKey de ApiGee.
            example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
          example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
        - name: Signature
          in: header
          description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
          required: false
          schema:
            maxLength: 44
            minLength: 44
            type: string
            description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
            example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
          example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Block
      x-group-name: Card
      x-child-product-name: Cards
  /cards/virtual:
    post:
      tags:
        - Virtual Card
      summary: "Ofrece al tarjetahabiente la posibilidad de solicitar la generación de la tarjeta en formato físico. \r\nLa solicitud indica el inicio del proceso de impresión/embozado/personalización de la tarjeta que se encuentra activa virtualmente en nuestro centro de embozado. No se genera bloqueo ni nuevo número de tarjeta. \r\nIngresa como novedad en el sistema de generación de plástico y flujo de envío a domicilio del cliente en sistema con permisionaria del emisor."
      operationId: setActivarTarjeta
      parameters:
        - name: Authorization
          in: header
          description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
          required: false
          schema:
            maxLength: 35
            minLength: 35
            type: string
            description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
            example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
          example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
        - name: apikey
          in: header
          description: Provisto por Fiserv ClientKey de ApiGee.
          required: false
          schema:
            maxLength: 32
            minLength: 32
            type: string
            description: Provisto por Fiserv ClientKey de ApiGee.
            example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
          example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
        - name: Signature
          in: header
          description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
          required: false
          schema:
            maxLength: 44
            minLength: 44
            type: string
            description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
            example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
          example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualCardRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualCardResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      - code: 0
                        description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Virtual Card
      x-group-name: Card
      x-child-product-name: Cards
  /cards/transactions/v1/transactions:
    post:
      tags:
        - Transactions
      summary: Esta API tiene como objetivo que el Emisor pueda ofrecer al cliente la posibilidad del ingreso de reclamos al permitirle listar transacciones del Ultimo resumen (Transacciones liquidadas) y del periodo actual (pendientes de liquidación) para ser marcadas como “Desconocidas” o “Reclamadas” y el posterior envío de información de la operación para ingreso del reclamo a los sistemas FISERV + Claim Manager
      operationId: transactions
      parameters:
        - name: Authorization
          in: header
          description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
          required: false
          schema:
            maxLength: 35
            minLength: 35
            type: string
            description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
            example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
          example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
        - name: apikey
          in: header
          description: Provisto por Fiserv ClientKey de ApiGee.
          required: false
          schema:
            maxLength: 32
            minLength: 32
            type: string
            description: Provisto por Fiserv ClientKey de ApiGee.
            example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
          example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
        - name: Signature
          in: header
          description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
          required: false
          schema:
            maxLength: 44
            minLength: 44
            type: string
            description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
            example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
          example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionsRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Transactions
      x-group-name: Card
      x-child-product-name: Cards
  /cards/transactions/v1/claims:
    post:
      tags:
        - Claims
      summary: Esta API tiene como objetivo que el Emisor pueda ofrecer al cliente la posibilidad del ingreso de reclamos o desconocimientos, sobre las transacciones listadas, a los sistemas FISERV + Claim Manager.
      operationId: claims
      parameters:
        - name: Authorization
          in: header
          description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
          required: false
          schema:
            maxLength: 35
            minLength: 35
            type: string
            description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
            example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
          example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
        - name: apikey
          in: header
          description: Provisto por Fiserv ClientKey de ApiGee.
          required: false
          schema:
            maxLength: 32
            minLength: 32
            type: string
            description: Provisto por Fiserv ClientKey de ApiGee.
            example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
          example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
        - name: Signature
          in: header
          description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
          required: false
          schema:
            maxLength: 44
            minLength: 44
            type: string
            description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
            example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
          example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClaimRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Claim
      x-group-name: Card
      x-child-product-name: Cards
  /cards/replacement:
    post:
      tags:
        - Replacement Card
      summary: "Ofrece la posibilidad de generar una novedad de Reimpresión/Reemplazo/Reposición de la tarjeta sin bloquear la actual. Además, se incluye la marca de Virtual (V) o Física (F). \r\nGenera una nueva tarjeta que la reemplazará en forma solapada, la cual solo desactivará la anterior al momento que finalice el solapamiento determinado por el emisor, el cliente reciba este reemplazo, active o utilice."
      operationId: setReplacement
      parameters:
        - name: Authorization
          in: header
          description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
          required: false
          schema:
            maxLength: 35
            minLength: 35
            type: string
            description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
            example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
          example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
        - name: apikey
          in: header
          description: Provisto por Fiserv ClientKey de ApiGee.
          required: false
          schema:
            maxLength: 32
            minLength: 32
            type: string
            description: Provisto por Fiserv ClientKey de ApiGee.
            example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
          example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
        - name: Signature
          in: header
          description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
          required: false
          schema:
            maxLength: 44
            minLength: 44
            type: string
            description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
            example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
          example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplacementRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReplacementResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      - code: 0
                        description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Replacement
      x-group-name: Card
      x-child-product-name: Cards
  /cards/reissue:
    post:
      tags:
        - Reissue Card
      summary: "Ejecuta el pedido de REIMPRESION/REEMPLAZO con BLOQUEO; inhabilitando la tarjeta original que genera el movimiento y completando la acción con la REIMPRESION/REEMPLAZO de la tarjeta con una nueva numeración y envío al domicilio registrado en sistema o a uno nuevo detallado en el mensaje para el envío puntual/unitario de la nueva credencial.\r\n*Posee campos opcionales referentes a la administración para la emisión (Tipo de Emisión)"
      operationId: setReimpresion
      parameters:
        - name: Authorization
          in: header
          description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
          required: false
          schema:
            maxLength: 35
            minLength: 35
            type: string
            description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
            example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
          example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
        - name: apikey
          in: header
          description: Provisto por Fiserv ClientKey de ApiGee.
          required: false
          schema:
            maxLength: 32
            minLength: 32
            type: string
            description: Provisto por Fiserv ClientKey de ApiGee.
            example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
          example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
        - name: Signature
          in: header
          description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
          required: false
          schema:
            maxLength: 44
            minLength: 44
            type: string
            description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
            example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
          example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReissueRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReissueResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Reissue
      x-group-name: Card
      x-child-product-name: Cards
  /cards/onOff:
    post:
      tags:
        - On Off
      summary: "Este servicio ofrece al tarjetahabiente mantener pausadas/inactivas sus tarjetas para operar. \r\nLa presente API ofrece al cliente tomar acción sobre la tarjeta; activar/pausar (ON/OFF) "
      operationId: PauseOrActive
      parameters:
        - name: Authorization
          in: header
          description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
          required: false
          schema:
            maxLength: 35
            minLength: 35
            type: string
            description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
            example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
          example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
        - name: apikey
          in: header
          description: Provisto por Fiserv ClientKey de ApiGee.
          required: false
          schema:
            maxLength: 32
            minLength: 32
            type: string
            description: Provisto por Fiserv ClientKey de ApiGee.
            example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
          example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
        - name: Signature
          in: header
          description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
          required: false
          schema:
            maxLength: 44
            minLength: 44
            type: string
            description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
            example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
          example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OnOffRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnOffResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: On Off
      x-group-name: Card
      x-child-product-name: Cards
  /cards/onOff/status:
    post:
      tags:
        - On Off
      summary: "Este servicio ofrece al tarjetahabiente mantener pausadas/inactivas sus tarjetas para operar.  \r\nLa presente API realiza la consulta inicial que reporta el ESTADO de la tarjeta (Activa/Inactiva) que luego permitirá habilitar al cliente para la acción a tomar (ON/OFF)"
      operationId: getCardStatus
      parameters:
        - name: Authorization
          in: header
          description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
          required: false
          schema:
            maxLength: 35
            minLength: 35
            type: string
            description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
            example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
          example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
        - name: apikey
          in: header
          description: Provisto por Fiserv ClientKey de ApiGee.
          required: false
          schema:
            maxLength: 32
            minLength: 32
            type: string
            description: Provisto por Fiserv ClientKey de ApiGee.
            example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
          example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
        - name: Signature
          in: header
          description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
          required: false
          schema:
            maxLength: 44
            minLength: 44
            type: string
            description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
            example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
          example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OnOffStatusRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnOffResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: On Off Status
      x-group-name: Card
      x-child-product-name: Cards
  /cards/instantIssuance:
    post:
      tags:
        - Instant Issuance
      summary: "Permite gestionar en forma instantánea el alta de una nueva Cuenta/Tarjeta o generar nuevos adicionales para una Cuenta existente, para ser utilizada en forma inmediata. Otorga en la respuesta todos los datos de la Tarjeta para ser visualizados en las diferentes UX apoyando las iniciativas de tarjetas en formato digital. \r\nTambién proporciona la opción de utilización de la salida de datos para la personalización para input a una embozadora certificada Contactless (Embozado a Distancia) \r\n*Posee campos referentes a la administración para la emisión virtual (Tipo de Emisión). </br></br>Según los campos \"accountNumber\", \"additional\", \"checkDigit\", \"affinityGroupCode\", \"affinityGroupCheckDigit\" y \"affinityGroupDescription\" es el alta que se generara:</br>- Caso 1 (Alta Titular c/ GAFF): La entidad envía solo los campos \"affinityGroupCheckDigit\", \"affinityGroupCheckDigit\" y \"affinityGroupDescription\" en la request.</br>- Caso 2 (Alta Titular SIN GAFF): La entidad NO envía los campos \"accountNumber\", \"additional\", \"checkDigit\", \"affinityGroupCode\", \"affinityGroupCheckDigit\" y \"affinityGroupDescription\" en la request.</br>- Caso 3 (Alta Adicional c/ GAFF): La entidad envía los campos \"accountNumber\", \"additional\", \"checkDigit\", \"affinityGroupCode\", \"affinityGroupCheckDigit\" y \"affinityGroupDescription\" en la request.</br>- Caso 4 (Alta Adicional SIN GAFF): La entidad envía solo los campos \"accountNumber\", \"additional\" y \"checkDigit\" en la request. </br></br><table BORDER style=\"border-collapse: collapse; text-align: center;\"><tr><th>Operación</th><th>accountNumber</th><th>additional</th><th>checkDigit</th><th>affinityGroupCode</th><th>affinityGroupCheckDigit</th><th>affinityGroupdescription</th></tr><tr><td>Alta Tit c/ GAFF</td><td></td><td></td><td></td><td>X</td><td>X</td><td>X</td></tr><tr><td>Alta Tit SIN GAFF</td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr><td>Alta Adic. c/ GAFF</td><td>X</td><td>X</td><td>X</td><td>X</td><td>X</td><td>X</td></tr><tr><td>Alta Adic. SIN GAFFF</td><td>X</td><td>X</td><td>X</td><td></td><td></td><td></td></tr></table>"
      operationId: postInstantIssuanceService
      parameters:
        - name: Authorization
          in: header
          description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
          required: false
          schema:
            maxLength: 35
            minLength: 35
            type: string
            description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
            example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
          example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
        - name: apikey
          in: header
          description: Provisto por Fiserv ClientKey de ApiGee.
          required: false
          schema:
            maxLength: 32
            minLength: 32
            type: string
            description: Provisto por Fiserv ClientKey de ApiGee.
            example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
          example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
        - name: Signature
          in: header
          description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
          required: false
          schema:
            maxLength: 44
            minLength: 44
            type: string
            description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
            example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
          example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstantIssuanceRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstantIssuanceResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      - code: 0
                        description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Instant Issuance
      x-group-name: Card
      x-child-product-name: Cards
  /cards/cvv:
    post:
      tags:
        - CVV
      summary: Posibilita la obtención del dato CVC2/CVV2 para la tarjeta seleccionada según método de consulta (Cuenta+Pan Enmascarado o bien PAN encriptado), de manera que el emisor pueda mostrar los datos de la tarjeta para su utilización en cualquier UX, control u onboarding a diferentes billeteras.
      operationId: getCvv
      parameters:
        - name: Authorization
          in: header
          description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
          required: false
          schema:
            maxLength: 35
            minLength: 35
            type: string
            description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
            example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
          example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
        - name: apikey
          in: header
          description: Provisto por Fiserv ClientKey de ApiGee.
          required: false
          schema:
            maxLength: 32
            minLength: 32
            type: string
            description: Provisto por Fiserv ClientKey de ApiGee.
            example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
          example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
        - name: Signature
          in: header
          description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
          required: false
          schema:
            maxLength: 44
            minLength: 44
            type: string
            description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
            example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
          example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CvvRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CvvResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: CVV
      x-group-name: Card
      x-child-product-name: Cards
  /cards/cardNumber:
    post:
      tags:
        - Card Number
      summary: La API informa los datos completos del producto seleccionado según método de consulta (Cuenta+Pan Enmascarado o bien PAN encriptado);  permitiendo conformar los datos de la tarjeta (PAN VTO Datos del cliente) para su utilización en cualquier UX, control/actualización de datos u onboarding a diferentes billeteras.
      operationId: getCardNumber
      parameters:
        - name: Authorization
          in: header
          description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
          required: false
          schema:
            maxLength: 35
            minLength: 35
            type: string
            description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
            example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
          example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
        - name: apikey
          in: header
          description: Provisto por Fiserv ClientKey de ApiGee.
          required: false
          schema:
            maxLength: 32
            minLength: 32
            type: string
            description: Provisto por Fiserv ClientKey de ApiGee.
            example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
          example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
        - name: Signature
          in: header
          description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
          required: false
          schema:
            maxLength: 44
            minLength: 44
            type: string
            description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
            example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
          example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardNumberRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardNumberResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Card Number
      x-group-name: Card
      x-child-product-name: Cards
  /cards/blockRequest:
    post:
      tags:
        - Block Card
      summary: "Este servicio permite a las entidades ofrecer a los socios la posibilidad de denunciar sus tarjetas por Robo o extravío en forma inmediata online.  \r\nPermite además complementar la acción con la solicitud de No Reimpresión/Reimpresión o Reemplazo de la tarjeta con una nueva numeración.  \r\nLa reimpresión es enviada a la dirección del socio/tarjetahabiente que se encuentre en el sistema o a uno nuevo detallado en el mensaje para el envío puntual/unitario de la nueva credencial.  \r\n*Posee campos opcionales referentes a la administración para la emisión virtual (Tipo de Emisión)"
      operationId: setBloqueo
      parameters:
        - name: Authorization
          in: header
          description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
          required: false
          schema:
            maxLength: 35
            minLength: 35
            type: string
            description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
            example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
          example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
        - name: apikey
          in: header
          description: Provisto por Fiserv ClientKey de ApiGee.
          required: false
          schema:
            maxLength: 32
            minLength: 32
            type: string
            description: Provisto por Fiserv ClientKey de ApiGee.
            example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
          example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
        - name: Signature
          in: header
          description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
          required: false
          schema:
            maxLength: 44
            minLength: 44
            type: string
            description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
            example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
          example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BloqueoRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BloqueoResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Block
      x-group-name: Card
      x-child-product-name: Cards
  /cards/blockRequestFees:
    post:
      tags:
        - Block Fees Card
      summary: Permite obtener el costo de Denuncia/Bloqueo para la tarjeta que el cliente selecciona. El dato precio se encuentra seteado previamente por el emisor y puede variar entre productos de la misma institución financiera.
      operationId: getCostoBloqueo
      parameters:
        - name: Authorization
          in: header
          description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
          required: false
          schema:
            maxLength: 35
            minLength: 35
            type: string
            description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
            example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
          example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
        - name: apikey
          in: header
          description: Provisto por Fiserv ClientKey de ApiGee.
          required: false
          schema:
            maxLength: 32
            minLength: 32
            type: string
            description: Provisto por Fiserv ClientKey de ApiGee.
            example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
          example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
        - name: Signature
          in: header
          description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
          required: false
          schema:
            maxLength: 44
            minLength: 44
            type: string
            description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
            example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
          example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockRequestFeesRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockRequestFeesResponseb'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Block Fees
      x-group-name: Card
      x-child-product-name: Cards
  /cards/activation:
    post:
      tags:
        - Activation Card
      summary: Brinda la posibilidad de solicitar en forma online la ACTIVACION para la tarjeta seleccionada (Prepagas, Crédito tanto para segmentos Individuo y Corporativo). El emisor puede instrumentar esta API con 1 o N tarjetas y combinar la acción con la previa consulta de las tarjetas que conforman la cuenta (Titular + Adicionales)
      operationId: setActivarTarjeta_1
      parameters:
        - name: Authorization
          in: header
          description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
          required: false
          schema:
            maxLength: 35
            minLength: 35
            type: string
            description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
            example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
          example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
        - name: apikey
          in: header
          description: Provisto por Fiserv ClientKey de ApiGee.
          required: false
          schema:
            maxLength: 32
            minLength: 32
            type: string
            description: Provisto por Fiserv ClientKey de ApiGee.
            example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
          example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
        - name: Signature
          in: header
          description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
          required: false
          schema:
            maxLength: 44
            minLength: 44
            type: string
            description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
            example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
          example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivationRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivationResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Activation
      x-group-name: Card
      x-child-product-name: Cards
components:
  schemas:
    ErrorDetailsResponse:
      type: object
      properties:
        dateError:
          type: string
          format: date-time
        message:
          type: string
        detail:
          type: string
    AccountRequest:
      type: object
      properties:
        accountNumber:
          pattern: '[0-9A-F]{32}'
          type: string
          description: 'Número de cuenta del tarjetahabiente. Encriptado. La cuenta que se encripta debe cumplir con Long 9 dígitos que se completan con ceros a la izquierda. EJ: 001234567 / 00#######'
          example: W23X24Y25Z26A1B2C3D4E5F6G7H8I9J1
        additional:
          type: integer
          description: Este campo de entrada proporciona el código de la entidad del tarjetahabiente.
          format: int32
          example: 0
    PinBlockRequest:
      required:
        - pin
      type: object
      properties:
        cardNumber:
          maxLength: 64
          minLength: 64
          pattern: '[0-9A-F]{64}'
          type: string
          description: Este campo de entrada permite ingresar el número de tarjeta (PAN) encriptado
          example: C3D4E5F6G7H8I9J10K11L12M13N14O15P16Q17R18S19T20U21V22W23X24Y25Z26
        account:
          $ref: '#/components/schemas/AccountRequest'
        pin:
          $ref: '#/components/schemas/PinData'
        organizationNumber:
          type: string
        logo:
          type: string
        channelIndicator:
          type: string
        keyAssociation:
          type: string
    PinData:
      required:
        - requestedBlockNumber
      type: object
      properties:
        requestedBlockNumber:
          pattern: ^[0-9A-F]{16}
          type: string
          description: Este campo de entrada permite ingresar el nuevo PIN
          example: C3D4E5F6G7H8I9J1
        currentBlockNumber:
          type: string
        offsetNumber:
          type: string
    FeePinBlockData:
      type: object
      properties:
        amount:
          pattern: '[0-9]{0,999999999}'
          type: integer
          description: Monto de la tarifa calculada
          format: int32
          example: 35
        waiveReason:
          pattern: '[0-9]{1}'
          type: integer
          description: Motivo de la extension de tarifas
          format: int32
          example: 1
        responseCode:
          pattern: '[0-9]{2}'
          type: integer
          description: Código de respuesta de tarifa
          format: int32
          example: 23
    PinBlockResponse:
      type: object
      properties:
        fee:
          $ref: '#/components/schemas/FeePinBlockData'
    ErrorFiserVDetailsResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
        description:
          type: string
    ErrorFiserVResponse:
      type: object
      properties:
        errorResponse:
          $ref: '#/components/schemas/ErrorFiserVDetailsResponse'
    AccountReclamo:
      type: object
      properties:
        accountNumber:
          maxLength: 32
          minLength: 32
          type: string
          description: 'Número de cuenta del tarjetahabiente. Encriptado. La cuenta que se encripta debe cumplir con Long 9 dígitos que se completan con ceros a la izquierda. EJ: 001234567 / 00#######'
          example: W23X24Y25Z26A1B2C3D4E5F6G7H8I9J1
        additional:
          maxLength: 1
          minLength: 1
          type: integer
          description: 'Identifica Titulares y Adicionales de la misma cuenta. Valores posibles: 1 a 9. Titular: 0 Adicional: 1 a 9'
          format: int32
          example: 0
      description: Datos de la cuenta.
    AddressBlock:
      type: object
      properties:
        streetAddress:
          maxLength: 30
          minLength: 0
          type: string
          description: Dato correspondiente al Domicilio del Tarjetahabiente, detallando el Nombre y Número de la calle.
          example: OCAMPO 25001
        provinceCode:
          pattern: '[0-9]{2}| ||'
          type: string
          description: Dato correspondiente al Código de la Provincia.
          example: '01'
        city:
          maxLength: 20
          minLength: 0
          type: string
          description: Dato correspondiente a la Ciudad relacionada con el domicilio.
          example: CAPITAL FEDERAL
        countryCode:
          pattern: ARG|URY| ||
          type: string
          description: 'Dato correspondiente al Código del País: Argentina = ARG, Uruguay= URY.'
          example: ARG
      description: Datos de dirección del cliente.
    BlockRequest:
      required:
        - disputeRegion
      type: object
      properties:
        cardNumber:
          maxLength: 64
          minLength: 64
          type: string
          description: Este campo de entrada permite ingresar el número de tarjeta (PAN) encriptado
          example: C3D4E5F6G7H8I9J10K11L12M13N14O15P16Q17R18S19T20U21V22W23X24Y25Z26
        account:
          $ref: '#/components/schemas/AccountReclamo'
        customer:
          $ref: '#/components/schemas/CustomerBlock'
        disputeRegion:
          pattern: 0|B|1|A|C|D|E
          type: string
          description: |-
            Codigo de Sector que indica la región del reclamo. 

            BOLETINL = "0". 
            LATINOAM = "B". (limítrofe o Latinoamérica)  
            ESTADOSU = "1". 
            CANADA = "A". 
            OCEANIA-ASIA = "C". 
            EUROPA = "D". 
            AFRICA = "E". 
        comments:
          maxLength: 120
          minLength: 0
          type: string
          description: Permite ingresar comentarios adicionales en el proceso de solicitud de bloqueo con reimpresión.
          example: NINGÚN COMENTARIO
        organizationNumber:
          type: integer
          description: Número de organización
          format: int32
          example: 999
        sequenceNumber:
          type: integer
          description: El campo representa el número de secuencia de la tarjeta.
          format: int32
          example: 1234
        functionCode:
          type: string
          description: 'Código de función. Valores: B = bloquear cuenta; U = desbloquear cuenta'
          example: B
        blockCode:
          type: string
          description: 'Valores: A-Z = código de bloque;  espacio = desbloquear cuenta.'
          example: Z
    CustomerBlock:
      required:
        - fullName
        - isIdLost
      type: object
      properties:
        fullName:
          maxLength: 30
          minLength: 1
          type: string
          description: Nombre y apellido del socio a quien le fue/ron imputado/s el/los cargo/s y que efectúa el reclamo.
          example: Nombre Apellido
        idNumber:
          pattern: '[a-zA-Z0-9]{6,9}'
          type: string
          description: Número de Documento de identidad del tarjetahabiente.
          example: '193916'
        isIdLost:
          type: boolean
          description: 'Informa si el Documento de Identidad, Pasaporte o cualquier otro documento identificatorio del tarjetahabiente fue extraviado junto con su tarjeta. true: SI; false: NO.'
          example: false
        phoneNumber:
          pattern: '[0-9]{0,20}'
          type: string
          description: Número de teléfono del tarjetahabiente.
          example: '44211214'
        address:
          $ref: '#/components/schemas/AddressBlock'
      description: Datos del cliente.
    BlockResponse:
      type: object
      properties:
        orderNumber:
          type: string
          description: 'N° Reclamo: Número que identifica al reclamo.'
          example: ER
        blockNumber:
          type: string
          description: 'N° Denuncia: Número de denuncia.'
          example: '969000001'
        organizationNumber:
          type: integer
          description: Número de Organización.
          format: int32
          example: 999
        foreignOrganization:
          type: integer
          description: Organización asociada a la cuenta extranjera.
          format: int32
          example: 999
        cardSequence:
          type: integer
          description: Identificador único o token asociado al número de tarjeta o instrumento de pago.
          format: int32
          example: 9999
        functionCode:
          type: string
          description: Código de función. B = Block; U = Unblock.
          example: B
        blockCode:
          type: string
          description: |-
            Código de bloqueo.
            Valores:
            B = Block;
            U = Unblock.
          example: B
    VirtualCardRequest:
      required:
        - bankBranch
        - operationDate
        - requestNumber
      type: object
      properties:
        accountNumber:
          maxLength: 32
          minLength: 32
          pattern: '[0-9A-F]{32}'
          type: string
          description: 'Número de cuenta del tarjetahabiente. Encriptado. La cuenta que se encripta debe cumplir con Long 9 dígitos que se completan con ceros a la izquierda. EJ: 001234567 / 00#######'
          example: W23X24Y25Z26A1B2C3D4E5F6G7H8I9J1
        additional:
          maxLength: 1
          minLength: 1
          type: integer
          description: 'Identifica Titulares y Adicionales de la misma cuenta. Valores posibles: 1 a 9. Titular: 0 Adicional: 1 a 9'
          format: int32
          example: 0
        cardNumber:
          maxLength: 64
          minLength: 64
          pattern: '[0-9A-F]{64}'
          type: string
          description: Este campo de entrada permite ingresar el número de tarjeta (PAN) encriptado
          example: C3D4E5F6G7H8I9J10K11L12M13N14O15P16Q17R18S19T20U21V22W23X24Y25Z26
        bankBranch:
          maxLength: 3
          minLength: 1
          type: integer
          description: Corresponde al código de la sucursal bancaria donde el socio tiene radicada su cuenta / tarjeta
          format: int32
          example: 562
        operationDate:
          maxLength: 6
          minLength: 5
          type: string
          description: Este campo de entrada, permite ingresar el dato correspondiente a la fecha en que se realiza la operación
          example: '2023-08-24'
        requestNumber:
          maxLength: 6
          minLength: 1
          type: integer
          description: Número de solicitud interno de la entidad emisora.
          format: int32
          example: 68
        issuingType:
          maxLength: 1
          pattern: F|V|
          type: string
          description: Este campo permite ingresar el formato en que se emitira la tarjeta, puede tomar valores V para tarjetas emitidas solo en formato Virtual/Digital; F para tarjetas Físicas donde se generará el plástico para ser entregado o valor Vacio cuando no haya decisión al respecto.
          example: F
    VirtualCardResponse:
      type: object
      properties:
        message:
          maxLength: 200
          type: string
          example: NOVEDAD CARGADA CON EXITO
      description: Estructura de campos que responde la API Virtual Card
    RangeTransactionsRequest:
      type: object
      properties:
        from:
          type: string
          description: Fecha desde.
          example: 01-01-2024
        to:
          type: string
          description: Fecha hasta.
          example: 01-01-2024
      description: Criterio de búsqueda de los cupones a reclamar. Menor a 91 días entre “from” y “to
    TransactionAmountRangeRequest:
      type: object
      properties:
        from:
          type: integer
          description: Rango de monto de la transacción. Este campo indica el monto "Desde".
          format: int32
          example: 100000
        to:
          type: integer
          description: Rango de monto de la transacción. Este campo indica el monto "hasta".
          format: int32
          example: 100000
      description: Criterio de búsqueda de los cupones a reclamar.
    TransactionsRequest:
      required:
        - fase
        - sequence
      type: object
      properties:
        cardNumber:
          maxLength: 64
          minLength: 64
          type: string
          description: Este campo de entrada permite ingresar el número de tarjeta (PAN) encriptado
          example: C3D4E5F6G7H8I9J10K11L12M13N14O15P16Q17R18S19T20U21V22W23X24Y25Z26
        account:
          $ref: '#/components/schemas/AccountReclamo'
        transaction:
          $ref: '#/components/schemas/TransactionsTransactionRequest'
        fase:
          pattern: 0|1
          type: string
          description: 'Fase. En el primer llamado se informa "0". Llamados posteriores, sólo si hay más información, se debe ingresar el valor del último cupón de la página enviada anteriormente. Campos de Orden / Paginado. Valores: 0: Primer llamado; 1: Llamados posteriores.'
          example: '0'
        sequence:
          pattern: ^[0-9]{1,3}
          type: string
          description: Secuencia. Si hay más información debe ingresar el último cupón de la página enviada anteriormente.
          example: '0'
        organizationNumber:
          type: integer
          description: Número de organización.
          format: int32
          example: 998
        keyword:
          type: string
          description: Palabra clave.
          example: user's_keyword
        startToken:
          type: string
          description: Start Token es el token generado para que la API comprenda el siguiente conjunto de transacciones que se recuperarán.
          example: 177100079202316ES000000013
        isMerchantInformationRequired:
          type: boolean
          description: "Exclusivo VisionPLUS. El campo isMerchantInformationRequired indica si la información del comerciante es obligatoria o no.\nValores:\n•\tfalse = No se requiere información del comerciante;\n•\ttrue = Se requiere información del comerciante.\n"
          example: false
        isForeign:
          type: boolean
          description: "Exclusivo VisionPLUS. El campo isForeign se proporciona en el mensaje de entrada para que la fuente solicitante pueda especificar si la solicitud se aplica a la cuenta local o extranjera cuando la cuenta está en una organización de procesamiento de doble moneda. El valor predeterminado es la cuenta local.\nValores:\n•\tfalso = Cuenta local;\n•\tverdadero = Cuenta extranjera.\n"
          example: false
        queryMoreTransactions:
          type: string
          description: "Exclusivo VisionPLUS. El campo queryMoreTransactions se utiliza cuando se completa el campo \"startToken\" para obtener más transacciones.\nValores:\n•\tN = Próximas transacciones;\n•\tP = Transacciones anteriores.\n"
          example: 'N'
    TransactionsTransactionRequest:
      required:
        - locationType
      type: object
      properties:
        locationType:
          pattern: N|S
          type: string
          description: 'Criterio de búsqueda de los cupones a reclamar. Tipo de operación. “S”: Local. “N” Internacional.'
          example: 'N'
        statementDate:
          type: string
          description: Fecha de Cierre de Cuenta Corriente. Criterio de búsqueda de los cupones a reclamar.
          example: 01-01-2024
        details:
          type: string
          description: "Exclusivo VisionPLUS. El campo de detalles representa el indicador de detalles de la transacción.\nValores:\n•\tEspacio = Usar tanto actual como reciente (Mostrar la transacción pendiente/publicada);\n•\tB = Usar tanto actual como reciente (Mostrar la transacción pendiente/publicada)\n•\tC = Actual (Transacciones del ciclo hasta la fecha);\n•\tR = Recientes (Transacciones detalladas del estado de cuenta);\n•\tS = Sólo el primer estado de cuenta reciente\n•\tM = Mensual (Transacciones detalladas del estado de cuenta);\n•\tP = Transacciones contabilizadas.\n"
          example: B
        type:
          type: integer
          description: "Exclusivo VisionPLUS. El campo tipo representa el tipo de transacción.\nValores:\n•\t0 = Todos;\n•\t1 = Intereses y comisiones;\n•\t2 = Pago;\n•\t3 = Disputa;\n•\t4 = Almacén;\n•\t5 = Sólo intereses;\n•\t6 = Solo tarifa;\n•\t7 = Sólo tarjeta.\n"
          format: int32
          example: 0
        transactionsNumber:
          type: integer
          description: Exclusivo VisionPLUS. El número de transacciones representa el número de transacciones. El número máximo es 50.
          format: int32
          example: 50
        monthsNumber:
          type: string
          description: Exclusivo VisionPLUS. El número de transacciones representa el número de transacciones. El número máximo es 50.
          example: '12'
        transactionDateRange:
          $ref: '#/components/schemas/RangeTransactionsRequest'
        transactionAmountRange:
          $ref: '#/components/schemas/TransactionAmountRangeRequest'
      description: Datos de busqueda.
    TransactionsResponse:
      type: object
      properties:
        organizationNumber:
          type: integer
          description: Exclusivo VisionPLUS. El campo OrganizationNumber es un atributo que contiene el número de identificación único asignado a una organización dentro de la API.
          format: int32
          example: 998
        logo:
          type: integer
          description: Exclusivo VisionPLUS. El campo del logo almacena el código del logo del emisor asociado con una tarjeta de pago. Representa el identificador o código único asignado al logotipo del emisor de la tarjeta, lo que permite una identificación y asociación precisas con el banco emisor.
          format: int32
          example: 501
        currencyCode:
          type: integer
          description: Exclusivo VisionPLUS. Código de moneda estándar ISO que identifica la unidad monetaria de esta organización.
          format: int32
          example: 123
        currencyDescription:
          type: string
          description: Exclusivo VisionPLUS. Descripción de la moneda.
          example: currency description
        isForeign:
          type: boolean
          description: "Exclusivo VisionPLUS. El indicador USO EXTRANJERO se proporciona en el mensaje de entrada para que la fuente solicitante pueda especificar si la solicitud se aplica a la cuenta local o extranjera cuando la cuenta está en una organización de procesamiento de doble moneda.\nValores:\n•\tfalse = cuenta local; (por defecto)\n•\ttrue = cuenta extranjera.\n"
          example: false
        transaction:
          $ref: '#/components/schemas/TransactionsTransactionResponse'
    TransactionsTransactionDetails:
      type: object
      properties:
        sequence:
          type: integer
          format: int32
        type:
          type: string
        organizationNumber:
          type: integer
          format: int32
        logo:
          type: integer
          format: int32
        accountNumber:
          type: string
        categoryCode:
          type: integer
          format: int32
        categoryDescription:
          type: string
        logicModuleNumber:
          type: integer
          format: int32
        transactionType:
          type: string
        statementDate:
          type: string
        locationType:
          type: string
        insuranceProduct:
          type: string
        virtualIndicator:
          type: string
        qualifierIndicator:
          type: string
        hasFeeAdjustment:
          type: boolean
        hasInterestAdjustment:
          type: boolean
        hasDispute:
          type: boolean
        isChargebackEligible:
          type: boolean
        isCopyRequest:
          type: boolean
        isReversal:
          type: boolean
        isMisapplied:
          type: boolean
        isIssuerClearingHouse:
          type: boolean
        isDisputeAuxiliaryFile:
          type: boolean
        recurringTransaction:
          type: boolean
        visaId:
          type: integer
          format: int64
        effectiveDate:
          type: string
        postDate:
          type: string
        batchDate:
          type: string
        totalEffectiveValue:
          type: integer
          format: int32
        demandDepositAccountIndicator:
          type: string
        record:
          $ref: '#/components/schemas/TransactionsTransactionDetailsRecord'
        loyalty:
          $ref: '#/components/schemas/TransactionsTransactionDetailsLoyalty'
        terminal:
          $ref: '#/components/schemas/TransactionsTransactionDetailsTerminal'
        authorization:
          $ref: '#/components/schemas/TransactionsTransactionDetailsAuthorization'
        fraud:
          $ref: '#/components/schemas/TransactionsTransactionDetailsFraud'
        original:
          $ref: '#/components/schemas/TransactionsTransactionDetailsOriginal'
        conversionRate:
          $ref: '#/components/schemas/TransactionsTransactionDetailsConversionRate'
        usd:
          $ref: '#/components/schemas/TransactionsTransactionDetailsUsd'
        interchange:
          $ref: '#/components/schemas/TransactionsTransactionDetailsInterchange'
        principal:
          $ref: '#/components/schemas/TransactionsTransactionDetailsPrincipal'
        purchase:
          $ref: '#/components/schemas/TransactionsTransactionDetailsPurchase'
        card:
          $ref: '#/components/schemas/TransactionsTransactionDetailsCard'
        installment:
          $ref: '#/components/schemas/TransactionsTransactionDetailsInstallment'
        merchant:
          $ref: '#/components/schemas/TransactionsTransactionDetailsMerchant'
      description: Detalle de las transacciones.
    TransactionsTransactionDetailsAuthorization:
      type: object
      properties:
        authorizationTime:
          type: string
        authorizationCode:
          type: string
    TransactionsTransactionDetailsCard:
      type: object
      properties:
        number:
          type: string
        sequence:
          type: integer
          format: int32
        blockCode:
          type: string
        acceptorId:
          type: string
        embossedName:
          type: string
    TransactionsTransactionDetailsConversionRate:
      type: object
      properties:
        value:
          type: integer
          format: int32
        formattedValue:
          type: string
    TransactionsTransactionDetailsFraud:
      type: object
      properties:
        transferredStatus:
          type: string
        transferIndicator:
          type: boolean
        fraudIndicator:
          type: boolean
    TransactionsTransactionDetailsInstallment:
      type: object
      properties:
        total:
          type: integer
          format: int32
        originalTransactionAmount:
          type: number
          format: double
        firstEarlyRelease:
          type: integer
          format: int32
        lastEarlyRelease:
          type: integer
          format: int32
        terms:
          $ref: '#/components/schemas/TransactionsTransactionDetailsInstallmentTerms'
        plan:
          $ref: '#/components/schemas/TransactionsTransactionDetailsInstallmentPlan'
    TransactionsTransactionDetailsInstallmentPlan:
      type: object
      properties:
        type:
          type: string
        number:
          type: integer
          format: int32
        sequenceNumber:
          type: integer
          format: int32
        openDate:
          type: string
    TransactionsTransactionDetailsInstallmentTerms:
      type: object
      properties:
        total:
          type: integer
          format: int32
        originalTotal:
          type: integer
          format: int32
        current:
          type: integer
          format: int32
        remaining:
          type: integer
          format: int32
    TransactionsTransactionDetailsInterchange:
      type: object
      properties:
        reference:
          type: string
        fee:
          type: integer
          format: int32
    TransactionsTransactionDetailsLoyalty:
      type: object
      properties:
        points:
          type: integer
          format: int32
        programNumber:
          type: string
    TransactionsTransactionDetailsMerchant:
      type: object
      properties:
        city:
          type: string
        state:
          type: string
        postalCode:
          type: string
        countryCode:
          type: string
        phoneNumber:
          type: string
        name:
          type: string
        storeNumber:
          type: string
    TransactionsTransactionDetailsOriginal:
      type: object
      properties:
        amount:
          type: integer
          format: int32
        formattedAmount:
          type: number
          format: double
        currency:
          type: integer
          format: int32
        currencyDescription:
          type: string
    TransactionsTransactionDetailsPrincipal:
      type: object
      properties:
        unbilled:
          type: integer
          format: int64
        remaining:
          type: number
          format: double
    TransactionsTransactionDetailsPurchase:
      type: object
      properties:
        order:
          type: string
        ticketNumber:
          type: string
        referenceNumber:
          type: string
        amount:
          type: integer
          format: int32
        quantity:
          type: integer
          format: int32
        unitPrice:
          type: integer
          format: int32
        itemNumber:
          type: integer
          format: int32
        inventoryNumber:
          type: integer
          format: int32
        department:
          type: string
        source:
          type: string
        salesperson:
          type: string
        description:
          type: string
        payment:
          $ref: '#/components/schemas/TransactionsTransactionDetailsPurchasePayment'
    TransactionsTransactionDetailsPurchasePayment:
      type: object
      properties:
        recurringIndicator:
          type: string
        referenceNumber:
          type: integer
          format: int64
        originalAmount:
          type: integer
          format: int32
        relationshipAmount:
          type: integer
          format: int32
    TransactionsTransactionDetailsRecord:
      type: object
      properties:
        recordNumber:
          type: integer
          format: int32
        code:
          type: integer
          format: int32
        reference:
          type: string
        channelId:
          type: string
    TransactionsTransactionDetailsTerminal:
      type: object
      properties:
        id:
          type: string
        entryMode:
          type: string
    TransactionsTransactionDetailsUsd:
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/TransactionsTransactionDetailsUsdAmount'
        conversionRate:
          $ref: '#/components/schemas/TransactionsTransactionDetailsUsdConversionRate'
    TransactionsTransactionDetailsUsdAmount:
      type: object
      properties:
        value:
          type: integer
          format: int32
        formattedValue:
          type: string
    TransactionsTransactionDetailsUsdConversionRate:
      type: object
      properties:
        value:
          type: integer
          format: int32
        formattedValue:
          type: string
    TransactionsTransactionResponse:
      type: object
      properties:
        operationDate:
          type: string
          description: Fecha de operación. Generalmente corresponde a la fecha de ejecución del procesola (fecha de sistema). En formato ISO 8601
          example: 31-05-2024
        monthsNumber:
          type: string
          description: Exclusivo VisionPLUS. Número de meses para recuperar registros de transacciones.
          example: '12'
        recordsNumber:
          type: integer
          description: Cantidad de elementos resultados de la consulta.
          format: int32
          example: 100
        hasMoreTransactionsAvailable:
          type: boolean
          description: "Indicador de más transacciones disponibles.\nValores:\n•\tfalse = No hay más transacciones;\n•\ttrue = Hay más transacciones por mostrar.\n"
          example: false
        details:
          type: array
          description: Detalle de las transacciones.
          items:
            $ref: '#/components/schemas/TransactionsTransactionDetails'
        token:
          $ref: '#/components/schemas/TransactionsTransactionToken'
      description: Datos generales de las consulta de transacciones.
    TransactionsTransactionToken:
      type: object
      properties:
        previous:
          type: string
        next:
          type: string
      description: Exclusivo VisionPLUS.
    ClaimRequest:
      type: object
      properties:
        cardNumber:
          maxLength: 64
          minLength: 64
          type: string
          description: Este campo de entrada permite ingresar el número de tarjeta (PAN) encriptado
          example: C3D4E5F6G7H8I9J10K11L12M13N14O15P16Q17R18S19T20U21V22W23X24Y25Z26
        account:
          $ref: '#/components/schemas/AccountReclamo'
        transactions:
          type: array
          description: Datos de las transacciones a reclamar.
          items:
            $ref: '#/components/schemas/TransactionsClaimRequest'
        notes:
          type: array
          description: Notas. Texto libre.
          items:
            $ref: '#/components/schemas/TextClaimRequest'
    TextClaimRequest:
      type: object
      properties:
        text:
          maxLength: 64
          minLength: 0
          type: string
          description: Texto que describe el motivo por el cual se realiza el reclamo o desconocimiento.
          example: Good Morning
      description: Notas. Texto libre.
    TransactionsClaimRequest:
      required:
        - amount
        - currencyCode
        - installmentQuantity
        - operationDate
        - sequence
      type: object
      properties:
        operationDate:
          pattern: '[0-9]{2}-[0-9]{2}-[0-9]{4}'
          type: string
          description: Fecha de la compra / consumo.
          example: 01-01-2024
        sequence:
          pattern: '[0-9]{1,3}'
          type: string
          description: Número de secuencia asignado en la consulta.
          example: '19'
        currencyCode:
          pattern: 032|32|840|858
          type: string
          description: 'Código de Moneda del consumo. 32: ARS – Pesos argentinos. 858: URU – Pesos Uruguayos. 840: USD - Dólares.'
          example: '032'
        installmentQuantity:
          pattern: '[0-9]{1,2}'
          type: string
          description: Cantidad total de cuotas del plan de cuotas.
          example: '01'
        amount:
          pattern: 0|[0-9]{1,13}[.][0-9]{1,2}
          type: string
          description: Importe del consumo. Hasta 13 posiciones enteras. 2 decimales.
          format: decimal
          example: '5310000.01'
      description: Datos de las transacciones a reclamar.
    ClaimResponse:
      type: object
      properties:
        clamId:
          type: integer
          description: 'N° Reclamo: Número que identifica al reclamo.'
          format: int32
          example: 0
        errorsVoucher:
          type: integer
          description: Número de vaucher con error.
          format: int32
          example: 0
        claimMessage:
          type: string
          description: Descripción de los diferentes códigos de respuesta.
          example: 'RECLAMO OTORGADO NRO:  CON 01 CUPONES GRABADOS Y  CUPONES SIN GRABAR'
        observationMessage:
          type: string
          description: Descripción de los diferentes códigos de respuesta.
          example: INGRESAR A CONSULTA DE RECLAMOS PARA VERIFICAR LOS CUPONES GRABADOS
    ReplacementRequest:
      required:
        - branchNumber
        - brandCode
        - internalRequestNumber
        - operationDate
        - productCode
        - reissueCode
      type: object
      properties:
        accountNumber:
          maxLength: 32
          minLength: 32
          pattern: ^[0-9A-F]{32}
          type: string
          description: 'Número de cuenta del tarjetahabiente. Encriptado. La cuenta que se encripta debe cumplir con Long 9 dígitos que se completan con ceros a la izquierda. EJ: 001234567 / 00#######'
          example: W23X24Y25Z26A1B2C3D4E5F6G7H8I9J1
        additional:
          maxLength: 1
          minLength: 1
          type: integer
          description: 'Identifica Titulares y Adicionales de la misma cuenta. Valores posibles: 1 a 9. Titular: 0 Adicional: 1 a 9'
          format: int32
          example: 0
        cardNumber:
          maxLength: 64
          minLength: 64
          pattern: ^[0-9A-F]{64}
          type: string
          description: Este campo de entrada permite ingresar el número de tarjeta (PAN) encriptado
          example: C3D4E5F6G7H8I9J10K11L12M13N14O15P16Q17R18S19T20U21V22W23X24Y25Z26
        operationDate:
          maxLength: 10
          minLength: 10
          pattern: ^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$
          type: string
          description: Este campo de entrada, permite ingresar el dato correspondiente a la fecha en que se realiza la operación.
          example: '2023-08-24'
        internalRequestNumber:
          maxLength: 6
          minLength: 1
          type: integer
          description: Este campo de entrada, permite ingresar el número de solicitud interno de la entidad emisora.
          format: int32
          example: 900105
        branchNumber:
          maxLength: 3
          minLength: 1
          type: integer
          description: Este campo de entrada, permite ingresar el dato correspondiente al código de la sucursal bancaria donde el socio tiene radicada su cuenta / tarjeta.
          format: int32
          example: 100
        brandCode:
          maxLength: 3
          minLength: 1
          type: integer
          description: 'Este campo de entrada, permite ingresar el código correspondiente a la marca/bandera de la tarjeta a la cual se solicita el alta instantánea. Ejemplo: Código 1: Mastercard '
          format: int32
          example: 1
        productCode:
          maxLength: 5
          minLength: 1
          type: integer
          description: 'Este campo de entrada, permite ingresar el código correspondiente al tipo de producto de la marca/bandera. Ejemplo: 43: Mastercard Black </br>Algunos valores referenciales estándar.</br> 1: MasterCard Regional </br> 2: MasterCard Internacional </br> 3: Gold MasterCard </br> 5: MC Corporate Regional </br> 6: MC Corporate Internacional </br> 7: MC Executive Corporate </br> 8: Platinum MasterCard </br> 21: Tarjeta Prepaga </br> 22: MC Corporate Int Débitos </br> 23: MC Corporate Int Travel </br> 24: MC Corporate Int Purchase </br> 28: MC Corporate Int Combustible </br> 43: MasterCard Black </br> 124: Mastercard Black Corporativa '
          format: int32
          example: 3
        fullName:
          maxLength: 24
          minLength: 0
          type: string
          description: Este campo de entrada, permite el ingreso del Apellido y Nombre de la persona.
          example: Julian Martínez
        creditLimitChar:
          maxLength: 1
          minLength: 0
          type: string
          description: Este campo de entrada, permite ingresar la letra correspondiente al límite de compra asignado al tarjetahabiente.
          example: '6'
        affinityGroupdescription:
          maxLength: 17
          minLength: 0
          type: string
          description: Esto campo de entrada, permite ingresar el dato correspondiente al nombre o descripción del grupo de afinidad.
          example: APIS
        reissueCode:
          maxLength: 2
          minLength: 1
          type: integer
          description: Este campo de entrada, permite ingresar el motivo de boletín de bloqueo y/o reimpresion.
          format: int32
          example: 1
        issuingType:
          maxLength: 1
          pattern: 'F|V|| '
          type: string
          description: Este campo de entrada, permite ingresar el tipo de emisión que tendrá la tarjeta, pudiendo optar por la personalización y envío de la tarjeta plástica como fisica (F) , la emisión para consulta y uso virtual (V), el campo es opcional y puede enviarse 'ESPACIO o SIN INFORMAR'.
          example: F
      description: Estructura de campos para la solicitud de la API Replacement Card
    ReplacementResponse:
      type: object
      properties:
        statusResponse:
          maxLength: 200
          type: string
          example: Replacement OK
      description: Estructura de campos que responde la API Replacement Card
    HomeDeliveryCard:
      type: object
      properties:
        addressStreetNumber:
          maxLength: 30
          minLength: 0
          type: string
          description: Este campo de entrada, permite ingresar la dirección donde se hará el envío.
          example: Av. San Martín 1870
        nroPiso:
          maxLength: 2
          minLength: 1
          type: integer
          description: Este campo de entrada, permite ingresar el numero de piso donde se hará el envío.
          format: int32
          example: 2
        dpto:
          maxLength: 1
          pattern: '[a-z,A-Z]{0,1}'
          type: string
          description: Este campo de entrada, permite ingresar el departamento donde se hará envío
          example: A
        codProv:
          maxLength: 2
          minLength: 1
          type: integer
          description: Este campo de entrada, permite ingresar el codigo de provincia a donde se hará el envío.
          format: int32
          example: 2
        city:
          maxLength: 20
          minLength: 0
          type: string
          description: Este campo de entrada, permite ingresar el nombre de la ciudad a donde se hará el envío.
          example: Quilmes
        postCode:
          maxLength: 5
          minLength: 1
          type: integer
          description: Este campo de entrada, permite ingresar el codigo postal de envío donde se hará el envío.
          format: int32
          example: 1881
    ReissueRequest:
      type: object
      properties:
        accountNumber:
          maxLength: 32
          minLength: 32
          pattern: ^[0-9A-F]{32}
          type: string
          description: 'Número de cuenta del tarjetahabiente. Encriptado. La cuenta que se encripta debe cumplir con Long 9 dígitos que se completan con ceros a la izquierda. EJ: 001234567 / 00#######'
          example: W23X24Y25Z26A1B2C3D4E5F6G7H8I9J1
        additional:
          maxLength: 1
          minLength: 1
          type: integer
          description: 'Identifica Titulares y Adicionales de la misma cuenta. Valores posibles: 1 a 9. Titular: 0 Adicional: 1 a 9'
          format: int32
          example: 0
        cardNumber:
          maxLength: 64
          minLength: 64
          pattern: ^[0-9A-F]{64}
          type: string
          description: Este campo de entrada permite ingresar el número de tarjeta (PAN) encriptado
          example: C3D4E5F6G7H8I9J10K11L12M13N14O15P16Q17R18S19T20U21V22W23X24Y25Z26
        cardNumberM:
          maxLength: 16
          minLength: 16
          pattern: ^[0-9]{4}[0]{8}[0-9]{4}
          type: string
          description: Este campo de entrada, permite ingresar el número de tarjeta (PAN) enmascarado. Formato XXXX00000000XXXX..
          example: '1234000000001234'
        comments:
          maxLength: 120
          minLength: 0
          type: string
          description: Este campo de entrada, permite ingresar comentarios adicionales en el proceso de solicitud de bloqueo y/o reimpresion.
          example: Sin comentarios.
        addressId:
          maxLength: 1
          pattern: C|N
          type: string
          description: Este campo de entrada, permite ingresar el Id de la dirección, C = dirección de la cuenta registrada en el sistema, N = dirección nueva que es proporcionada en la solicitud (No actualiza el domicilio del socio).
          example: 'N'
        issuingType:
          maxLength: 1
          pattern: 'F|V|| '
          type: string
[...]
