################################################################################
# Copyrights © 2021-2022 Fiserv, Inc. or its affiliates. 
# Fiserv is a trademark of Fiserv, Inc., 
# registered or used in the United States and foreign countries, 
# and may or may not be registered in your country.  
# All trademarks, service marks, 
# and trade names referenced in this 
# material are the property of their 
# respective owners. This work, including its contents 
# and programming, is confidential and its use 
# is strictly limited. This work is furnished only 
# for use by duly authorized licensees of Fiserv, Inc. 
# or its affiliates, and their designated agents 
# or employees responsible for installation or 
# operation of the products. Any other use, 
# duplication, or dissemination without the 
# prior written consent of Fiserv, Inc. 
# or its affiliates is strictly prohibited. 
# Except as specified by the agreement under 
# which the materials are furnished, Fiserv, Inc. 
# and its affiliates do not accept any liabilities 
# with respect to the information contained herein 
# and are not responsible for any direct, indirect, 
# special, consequential or exemplary damages 
# resulting from the use of this information. 
# No warranties, either express or implied, 
# are granted or extended by this work or 
# the delivery of this work
################################################################################

openapi: 3.0.1
info:
  title: Silvercore™ Cards Service - API Documentation
  description: This documentation describes the REST APIs provided by the Silvercore™
  version: "2.0"
servers:
  - url: https://int.api.firstdata.com/latam-gfs-apis/
    description: Sandbox Test
paths:
  /cards/v1/pin:
    put:
      tags:
        - Pin Block
      summary: 'Esta API permite la posibilidad de gestión de PIN para ATM. El impacto de cambio de PIN/OFFSET NO es online. '
      operationId: setPinBlock
      parameters:
        - name: X-ClientID
          in: header
          description: Número que representa la entidad cliente del servicio en Fiserv.
          required: true
          schema:
            pattern: '[0-9]{1,3}'
            type: string
            description: Número que representa la entidad cliente del servicio en Fiserv.
        - name: username
          in: header
          description: Identificador que representa al usuario.
          required: true
          schema:
            type: string
            description: Identificador que representa al usuario.
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: requestId
          in: header
          description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
          required: false
          schema:
            type: string
            description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PinBlockRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PinBlockResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: PIN
      x-group-name: Card
      x-child-product-name: PIN Block
  /cards/transactions/v1/block:
    put:
      tags:
        - Block
      summary: Esta API tiene como objetivo que el Emisor pueda ofrecer al cliente la posibilidad realizar la Denuncia – Bloqueo según Motivo 19
      operationId: block
      parameters:
        - name: X-ClientID
          in: header
          description: Número que representa la entidad cliente del servicio en Fiserv.
          required: true
          schema:
            type: string
            description: Número que representa la entidad cliente del servicio en Fiserv.
        - name: username
          in: header
          description: Identificador que representa al usuario.
          required: true
          schema:
            type: string
            description: Identificador que representa al usuario.
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: requestId
          in: header
          description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
          required: false
          schema:
            type: string
            description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComplaintRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplaintResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Card already blocked
                  value:
                    code: '2617'
                    description: ERROR, LA TARJETA YA FUE DENUNCIADA
                Reponse 2:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 3:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Block
      x-group-name: Card
      x-child-product-name: Cards
  /cards/virtual:
    post:
      tags:
        - Virtual Card
      summary: El presente servicio ofrece al tarjetahabiente la posibilidad de solicitar la generación de la tarjeta en formato plástico al domicilio de la cuenta. Esta API permite la impresión de la tarjeta que se encuentra activa virtual, por ende, no se genera bloqueo ni nuevo número. La misma ingresa como novedad en el sistema de generación de plástico y flujo de envío a domicilio del cliente en sistema con permisionaria del emisor.
      operationId: setActivarTarjeta
      parameters:
        - name: X-ClientID
          in: header
          description: Número que representa la entidad cliente del servicio en Fiserv.
          required: true
          schema:
            type: string
            description: Número que representa la entidad cliente del servicio en Fiserv.
        - name: username
          in: header
          description: Identificador que representa al usuario.
          required: true
          schema:
            type: string
            description: Identificador que representa al usuario.
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: requestId
          in: header
          description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
          required: false
          schema:
            type: string
            description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualCardRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualCardResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      - code: 0
                        description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Virtual Card
      x-group-name: Card
      x-child-product-name: Cards
  /cards/transactions/v1/transactions:
    post:
      tags:
        - Transactions
      summary: Esta API tiene como objetivo que el Emisor pueda ofrecer al cliente la posibilidad del ingreso de reclamos al permitirle listar transacciones del Ultimo resumen (Transacciones liquidadas) y del periodo actual (pendientes de liquidación) para ser marcadas como “Desconocidas” o “Reclamadas” y el posterior envío de información de la operación para ingreso del reclamo a los sistemas FISERV + Claim Manager
      operationId: transactions
      parameters:
        - name: X-ClientID
          in: header
          description: Número que representa la entidad cliente del servicio en Fiserv.
          required: true
          schema:
            type: string
            description: Número que representa la entidad cliente del servicio en Fiserv.
        - name: username
          in: header
          description: Identificador que representa al usuario.
          required: true
          schema:
            type: string
            description: Identificador que representa al usuario.
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: requestId
          in: header
          description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
          required: false
          schema:
            type: string
            description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisputeRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisputeResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Transactions Not Found
                  value:
                    code: '0'
                    description: EOF/NOT FOUND
                Reponse 2:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 3:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Transactions
      x-group-name: Card
      x-child-product-name: Cards
  /cards/transactions/v1/claims:
    post:
      tags:
        - Claims
      summary: Esta API tiene como objetivo que el Emisor pueda ofrecer al cliente la posibilidad del ingreso de reclamos o desconocimientos, sobre las transacciones listadas, a los sistemas FISERV + Claim Manager.
      operationId: claims
      parameters:
        - name: X-ClientID
          in: header
          description: Número que representa la entidad cliente del servicio en Fiserv.
          required: true
          schema:
            type: string
            description: Número que representa la entidad cliente del servicio en Fiserv.
        - name: username
          in: header
          description: Identificador que representa al usuario.
          required: true
          schema:
            type: string
            description: Identificador que representa al usuario.
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: requestId
          in: header
          description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
          required: false
          schema:
            type: string
            description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClaimRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Error 600 COBOL. Transactions already claimed
                  value:
                    errorResponse: string
                    code: '0'
                    returnCodeDescription1: '*** NO SE HA GENERADO RECLAMO ***'
                    returnCodeDescription2: TODOS LOS CUPONES SELECCIONADOS FUERON RECLAMADOS ANTERIORMENTE
                Reponse 2:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 3:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Claim
      x-group-name: Card
      x-child-product-name: Cards
  /cards/replacement:
    post:
      tags:
        - Replacement Card
      summary: Esta API permite generar una novedad de Reimpresión/Reemplazo/Reposición de la tarjeta sin bloquear la actual. Además, se incluye la marca de Virtual (V) o Física (F).Este movimiento genera la novedad tomando en cuenta el domicilio de la cuenta cargado en sistema. Es decir, no admite detalle de domicilio de entrega diferente.
      operationId: setReplacement
      parameters:
        - name: X-ClientID
          in: header
          description: Número que representa la entidad cliente del servicio en Fiserv.
          required: true
          schema:
            type: string
            description: Número que representa la entidad cliente del servicio en Fiserv.
        - name: username
          in: header
          description: Identificador que representa al usuario.
          required: true
          schema:
            type: string
            description: Identificador que representa al usuario.
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: requestId
          in: header
          description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
          required: false
          schema:
            type: string
            description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplacementRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReplacementResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      - code: 0
                        description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Replacement
      x-group-name: Card
      x-child-product-name: Cards
  /cards/reissue:
    post:
      tags:
        - Reissue Card
      summary: |-
        Ejecuta el pedido de REIMPRESION/REEMPLAZO con BLOQUEO; inhabilitando la tarjeta original que genera el movimiento y completando la acción con la REIMPRESION/REEMPLAZO de la tarjeta con una nueva numeración y envío al domicilio registrado en sistema o a uno nuevo detallado en el mensaje para el envío puntual /unitario de la nueva credencial.
        *Posee campos opcionales referentes a la administración para la emisión virtual que será habilitada en futuro Release. (Tipo de Emisión)
      operationId: setReimpresion
      parameters:
        - name: X-ClientID
          in: header
          description: Número que representa la entidad cliente del servicio en Fiserv.
          required: true
          schema:
            type: string
            description: Número que representa la entidad cliente del servicio en Fiserv.
        - name: username
          in: header
          description: Identificador que representa al usuario.
          required: true
          schema:
            type: string
            description: Identificador que representa al usuario.
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: requestId
          in: header
          description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
          required: false
          schema:
            type: string
            description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReissueRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReissueResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Reissue
      x-group-name: Card
      x-child-product-name: Cards
  /cards/onOff:
    post:
      tags:
        - On Off
      summary: 'El presente servicio ofrece al tarjetahabiente mantener pausadas/inactivas sus tarjetas para operar, la presente API ofrece al cliente  tomar acción sobre la tarjeta, activar / pausar  (ON / OFF) '
      operationId: PauseOrActive
      parameters:
        - name: X-ClientID
          in: header
          description: Número que representa la entidad cliente del servicio en Fiserv.
          required: true
          schema:
            pattern: '[0-9]{1,3}'
            type: string
            description: Número que representa la entidad cliente del servicio en Fiserv.
        - name: username
          in: header
          description: Identificador que representa al usuario.
          required: true
          schema:
            type: string
            description: Identificador que representa al usuario.
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: requestId
          in: header
          description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
          required: false
          schema:
            type: string
            description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OnOffRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnOffResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: On Off
      x-group-name: Card
      x-child-product-name: Cards
  /cards/onOff/status:
    post:
      tags:
        - On Off
      summary: El presente servicio ofrece al tarjetahabiente mantener pausadas/inactivas sus tarjetas para operar, la presente API realiza la consulta inicial que reporta el ESTADO de la tarjeta (Activa/Inactiva) que luego permitirá habilitar al cliente para la acción a tomar (ON / OFF)
      operationId: getCardStatus
      parameters:
        - name: X-ClientID
          in: header
          description: Número que representa la entidad cliente del servicio en Fiserv.
          required: true
          schema:
            pattern: '[0-9]{1,3}'
            type: string
            description: Número que representa la entidad cliente del servicio en Fiserv.
        - name: username
          in: header
          description: Identificador que representa al usuario.
          required: true
          schema:
            type: string
            description: Identificador que representa al usuario.
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: requestId
          in: header
          description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
          required: false
          schema:
            type: string
            description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OnOffStatusRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnOffResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: On Off Status
      x-group-name: Card
      x-child-product-name: Cards
  /cards/instantIssuance:
    post:
      tags:
        - Instant Issuance
      summary: |-
        Permite gestionar en forma instantánea el alta de una nueva Cuenta/Tarjeta o generar nuevos adicionales para una Cuenta existente, para ser utilizada en forma inmediata. Otorga en la respuesta todos los datos de la Tarjeta para ser visualizados en las diferentes UX apoyando las iniciativas de tarjetas en formato digital.
        También proporciona la opción de utilización de la salida de datos para la personalización para input a una embozadora certificada Contactless (Embozado a Distancia) 
        *Posee campos referentes a la administración para la emisión virtual que será habilitada en futuro Release. (Tipo de Emisión)
      operationId: postInstantIssuanceService
      parameters:
        - name: X-ClientID
          in: header
          description: Número que representa la entidad cliente del servicio en Fiserv.
          required: true
          schema:
            type: string
            description: Número que representa la entidad cliente del servicio en Fiserv.
        - name: username
          in: header
          description: Identificador que representa al usuario.
          required: true
          schema:
            type: string
            description: Identificador que representa al usuario.
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: requestId
          in: header
          description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
          required: false
          schema:
            type: string
            description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstantIssuanceRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstantIssuanceResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      - code: 0
                        description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Instant Issuance
      x-group-name: Card
      x-child-product-name: Cards
  /cards/cvv:
    post:
      tags:
        - CVV
      summary: Posibilita la obtención del dato CVC2/CVV2 para la tarjeta seleccionada según método de consulta (Cuenta+Pan Enmascarado o bien PAN encriptado), de manera que el emisor pueda mostrar los datos de la tarjeta para su utilización en cualquier UX, control u onboarding a diferentes billeteras.
      operationId: getCvv
      parameters:
        - name: X-ClientID
          in: header
          description: Número que representa la entidad cliente del servicio en Fiserv.
          required: true
          schema:
            type: string
            description: Número que representa la entidad cliente del servicio en Fiserv.
        - name: username
          in: header
          description: Identificador que representa al usuario.
          required: true
          schema:
            type: string
            description: Identificador que representa al usuario.
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: requestId
          in: header
          description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
          required: false
          schema:
            type: string
            description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CvvRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CvvResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: CVV
      x-group-name: Card
      x-child-product-name: Cards
  /cards/cardNumber:
    post:
      tags:
        - Card Number
      summary: La API informa los datos completos del producto seleccionado según método de consulta (Cuenta+Pan Enmascarado o bien PAN encriptado);  permitiendo conformar los datos de la tarjeta (PAN VTO Datos del cliente)  para su utilización en cualquier UX, control/actualización de datos u onboarding a diferentes billeteras.
      operationId: getCardNumber
      parameters:
        - name: X-ClientID
          in: header
          description: Número que representa la entidad cliente del servicio en Fiserv.
          required: true
          schema:
            pattern: '[0-9]{1,3}'
            type: string
            description: Número que representa la entidad cliente del servicio en Fiserv.
        - name: username
          in: header
          description: Identificador que representa al usuario.
          required: true
          schema:
            type: string
            description: Identificador que representa al usuario.
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: requestId
          in: header
          description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
          required: false
          schema:
            type: string
            description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardNumberRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardNumberResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Card Number
      x-group-name: Card
      x-child-product-name: Cards
  /cards/blockRequest:
    post:
      tags:
        - Block Card
      summary: |-
        Brinda la posibilidad de aplicar en forma inmediata online la  DENUNCIA y BLOQUEO según el código seleccionado para la tarjeta detallada. 
        Permite además complementar la acción con la solicitud de NO REIMPRESION/REEMPLAZO o REIMPRESION/REEMPLAZO de la tarjeta con una nueva numeración. Y envío al domicilio registrado en sistema o a uno nuevo detallado en el mensaje para el envío puntual /unitario de la nueva credencial.
        *Posee campos opcionales referentes a la administración para la emisión virtual que será habilitada en futuro Release. (Tipo de Emisión)
      operationId: setBloqueo
      parameters:
        - name: X-ClientID
          in: header
          description: Número que representa la entidad cliente del servicio en Fiserv.
          required: true
          schema:
            type: string
            description: Número que representa la entidad cliente del servicio en Fiserv.
        - name: username
          in: header
          description: Identificador que representa al usuario.
          required: true
          schema:
            type: string
            description: Identificador que representa al usuario.
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: requestId
          in: header
          description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
          required: false
          schema:
            type: string
            description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Block
      x-group-name: Card
      x-child-product-name: Cards
  /cards/blockRequestFees:
    post:
      tags:
        - Block Fees Card
      summary: Permite obtener el costo de Denuncia/Bloqueo para la tarjeta que el cliente selecciona. El dato precio se encuentra seteado previamente por el emisor y puede variar entre productos de la misma institución financiera.
      operationId: getCostoBloqueo
      parameters:
        - name: X-ClientID
          in: header
          description: Número que representa la entidad cliente del servicio en Fiserv.
          required: true
          schema:
            type: string
            description: Número que representa la entidad cliente del servicio en Fiserv.
        - name: username
          in: header
          description: Identificador que representa al usuario.
          required: true
          schema:
            type: string
            description: Identificador que representa al usuario.
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: requestId
          in: header
          description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
          required: false
          schema:
            type: string
            description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockRequestFeesRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockRequestFeesResponseb'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Block Fees
      x-group-name: Card
      x-child-product-name: Cards
  /cards/activation:
    post:
      tags:
        - Activation Card
      summary: Brinda la posibilidad de solicitar en forma online la ACTIVACION para la tarjeta seleccionada. El emisor puede instrumentar esta API con 1 o N tarjetas y combinar la acción con la previa consulta de las tarjetas que conforman la cuenta (Titular + Adicionales)
      operationId: setActivarTarjeta_1
      parameters:
        - name: X-ClientID
          in: header
          description: Número que representa la entidad cliente del servicio en Fiserv.
          required: true
          schema:
            type: string
            description: Número que representa la entidad cliente del servicio en Fiserv.
        - name: username
          in: header
          description: Identificador que representa al usuario.
          required: true
          schema:
            type: string
            description: Identificador que representa al usuario.
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: requestId
          in: header
          description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
          required: false
          schema:
            type: string
            description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivationRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivationResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Activation
      x-group-name: Card
      x-child-product-name: Cards
components:
  schemas:
    ErrorDetailsResponse:
      type: object
      properties:
        dateError:
          type: string
          format: date-time
        message:
          type: string
        detail:
          type: string
    AccountRequest:
      type: object
      properties:
        accountNumber:
          pattern: '[0-9A-F]{32}'
          type: string
          description: 'Número de cuenta del tarjetahabiente. Encriptado. La cuenta que se encripta debe cumplir con Long 9 dígitos que se completan con ceros a la izquierda. EJ: 001234567 / 00#######'
          example: W23X24Y25Z26A1B2C3D4E5F6G7H8I9J1
        additional:
          type: integer
          description: Este campo de entrada proporciona el código de la entidad del tarjetahabiente.
          format: int32
          example: 0
    PinBlockRequest:
      required:
        - currPinBlock
      type: object
      properties:
        cardNumber:
          pattern: '[0-9A-F]{64}'
          type: string
          description: Este campo de entrada permite ingresar el número de tarjeta (PAN) encriptado
          example: C3D4E5F6G7H8I9J10K11L12M13N14O15P16Q17R18S19T20U21V22W23X24Y25Z26
        account:
          $ref: '#/components/schemas/AccountRequest'
        currPinBlock:
          pattern: ^[0-9A-F]{16}
          type: string
          description: Este campo de entrada permite ingresar el número de tarjeta (PAN) encriptado
          example: C3D4E5F6G7H8I9J1
    PinBlockResponse:
      type: object
      properties:
        returnDescription:
          type: string
          description: Retorna un mensaje de salida que confirma que el cambio de clave se realizo con exito.
          example: OPERACIÓN REALIZADA CON EXITO
    ErrorFiserVDetailsResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
        description:
          type: string
    ErrorFiserVResponse:
      type: object
      properties:
        errorResponse:
          $ref: '#/components/schemas/ErrorFiserVDetailsResponse'
    AccountBlock:
      type: object
      properties:
        accountNumber:
          maxLength: 32
          minLength: 32
          type: string
          description: 'Número de cuenta del tarjetahabiente. Encriptado. La cuenta que se encripta debe cumplir con Long 9 dígitos que se completan con ceros a la izquierda. EJ: 001234567 / 00#######'
          example: W23X24Y25Z26A1B2C3D4E5F6G7H8I9J1
        additional:
          maxLength: 1
          minLength: 1
          type: integer
          description: 'Identifica Titulares y Adicionales de la misma cuenta. Valores posibles: 1 a 9. Titular: 0 Adicional: 1 a 9'
          format: int32
          example: 0
      description: Datos de la cuenta.
    AddressBlock:
      type: object
      properties:
        streetNumber:
          type: string
          description: Dato correspondiente al Domicilio del Tarjetahabiente, detallando el Nombre y Número de la calle.
          example: OCAMPO 25001
        provinceCode:
          type: string
          description: Dato correspondiente al Código de la Provincia.
          example: '01'
        city:
          type: string
          description: Dato correspondiente a la Ciudad relacionada con el domicilio.
          example: CAPITAL FEDERAL
        countryCode:
          type: string
          description: 'Dato correspondiente al Código del País: Argentina = ARG, Uruguay= URY.'
          example: ARG
      example: Datos de dirección del cliente.
    ComplaintRequest:
      required:
        - disputeRegion
      type: object
      properties:
        cardNumber:
          type: string
          description: Numero PAN completo de la tarjeta, encriptado.
          example: FCBDA6EEB6BE198F41D19D38C8B7AD1F66C91533A439A78F006628214AB6A02E
        account:
          $ref: '#/components/schemas/AccountBlock'
        customer:
          $ref: '#/components/schemas/CustomerBlock'
        disputeRegion:
          pattern: 0|B|1|A|C|D|E
          type: string
          description: |-
            Codigo de Sector que indica la región del reclamo. 

            BOLETINL = "0". 
            LATINOAM = "B". (limítrofe o Latinoamérica)  
            ESTADOSU = "1". 
            CANADA = "A". 
            OCEANIA-ASIA = "C". 
            EUROPA = "D". 
            AFRICA = "E". 
        comments:
          maxLength: 120
          minLength: 0
          type: string
          description: Permite ingresar comentarios adicionales en el proceso de solicitud de bloqueo con reimpresión.
          example: NINGÚN COMENTARIO
      description: Estructura de campos para la solicitud de la API RF 210_1 Ingreso de Reclamos y Desconocimientos - Denuncia
    CustomerBlock:
      type: object
      properties:
        fullName:
          type: string
          description: Nombre y apellido del socio a quien le fue/ron imputado/s el/los cargo/s y que efectúa el reclamo.
          example: Nombre Apellido
        document:
          type: string
          description: Número de Documento de identidad del tarjetahabiente.
          example: '193916'
        lostDocument:
          type: string
          description: Informa si el Documento de Identidad, Pasaporte o cualquier otro documento identificatorio del tarjetahabiente fue extraviado junto con su tarjeta. SI o NO (S o N).
          example: S
        phone:
          type: string
          description: Número de teléfono del tarjetahabiente.
          example: '44211214'
        address:
          $ref: '#/components/schemas/AddressBlock'
      description: Datos del cliente.
    ComplaintResponse:
      type: object
      properties:
        orderNumber:
          type: string
          description: Este campo de salida indica el número de gestión / pedido con el cual se registra la acción.
          example: ER
        blockNumber:
          type: string
          description: Este campo de salida indica el número de denuncia
          example: '969000001'
        returnCodeDescription:
          type: string
          description: Este campo de salida proporciona la descripción del código de retorno / rechazo que devuelve el sistema.
      description: Estructura de campos que responde la API Reclamos y Desconocimientos - Denuncia
    VirtualCardRequest:
      required:
        - bankBranch
        - operationDate
        - requestNumber
      type: object
      properties:
        accountNumber:
          maxLength: 32
          minLength: 32
          pattern: '[0-9A-F]{32}'
          type: string
          description: 'Número de cuenta del tarjetahabiente. Encriptado. La cuenta que se encripta debe cumplir con Long 9 dígitos que se completan con ceros a la izquierda. EJ: 001234567 / 00#######'
          example: W23X24Y25Z26A1B2C3D4E5F6G7H8I9J1
        additional:
          maxLength: 1
          minLength: 1
          type: integer
          description: 'Identifica Titulares y Adicionales de la misma cuenta. Valores posibles: 1 a 9. Titular: 0 Adicional: 1 a 9'
          format: int32
          example: 0
        cardNumber:
          pattern: '[0-9A-F]{64}'
          type: string
          description: Este campo de entrada permite ingresar el número de tarjeta (PAN) encriptado
          example: C3D4E5F6G7H8I9J10K11L12M13N14O15P16Q17R18S19T20U21V22W23X24Y25Z26
        bankBranch:
          type: integer
          description: Corresponde al código de la sucursal bancaria donde el socio tiene radicada su cuenta / tarjeta
          format: int32
          example: 562
        operationDate:
          maxLength: 6
          minLength: 5
          type: string
          description: Este campo de entrada, permite ingresar el dato correspondiente a la fecha en que se realiza la operación
          example: '2023-08-24'
        requestNumber:
          type: integer
          description: Número de solicitud interno de la entidad emisora.
          format: int32
          example: 68
        issuingType:
          pattern: F|V|
          type: string
          description: Este campo permite ingresar el formato en que se emitira la tarjeta, puede tomar valores V para tarjetas emitidas solo en formato Virtual/Digital; F para tarjetas Físicas donde se generará el plástico para ser entregado o valor Vacio cuando no haya decisión al respecto.
          example: F
    VirtualCardResponse:
      type: object
      properties:
        message:
          type: string
          example: NOVEDAD CARGADA CON EXITO
      description: Estructura de campos que responde la API Virtual Card
    AccountTransactionsRequest:
      type: object
      properties:
        accountNumber:
          maxLength: 32
          minLength: 32
          type: string
          description: 'Número de cuenta del tarjetahabiente. Encriptado. La cuenta que se encripta debe cumplir con Long 9 dígitos que se completan con ceros a la izquierda. EJ: 001234567 / 00#######'
          example: W23X24Y25Z26A1B2C3D4E5F6G7H8I9J1
        additional:
          maxLength: 1
          minLength: 1
          type: integer
          description: 'Identifica Titulares y Adicionales de la misma cuenta. Valores posibles: 1 a 9. Titular: 0 Adicional: 1 a 9'
          format: int32
          example: 0
      description: Datos de la cuenta.
    DisputeRequest:
      required:
        - fase
        - sequence
      type: object
      properties:
        cardNumber:
          type: string
          description: Numero PAN completo de la tarjeta, encriptado.
          example: FCBDA6EEB6BE198F41D19D38C8B7AD1F66C91533A439A78F006628214AB6A02E
        account:
          $ref: '#/components/schemas/AccountTransactionsRequest'
        type:
          type: string
          description: 'Criterio de búsqueda de los cupones a reclamar. Tipo de operación. “S”: Local. “N” Internacional.'
          example: 'N'
        statementDate:
          type: string
          description: Fecha de Cierre de Cuenta Corriente. Criterio de búsqueda de los cupones a reclamar.
          example: '20240101'
        transactionDateRange:
          $ref: '#/components/schemas/RangeTransactions'
        fase:
          pattern: 0|1
          type: string
          description: Campos ECO. Campos de Orden / Paginado.
          example: '0'
        sequence:
          pattern: ^[0-9]{1,3}
          type: string
          description: Campos ECO. Campos de Orden / Paginado. Si hay más información debe ingresar el último cupón de la página enviada anteriormente.
          example: '0'
      description: Estructura de campos para la solicitud de la API RF 210_2 Ingreso de Reclamos y Desconocimientos – Consulta Transacciones.
    RangeTransactions:
      type: object
      properties:
        from:
          type: string
          description: Fecha desde.
          example: '20240101'
        to:
          type: string
          description: Fecha hasta.
          example: '20240101'
      description: Criterio de búsqueda de los cupones a reclamar.
    AccountTransactionsResponse:
      type: object
      properties:
        accountNumber:
          type: integer
          description: Número de cuenta del tarjetahabiente encriptado.
          format: int64
          example: 649
        additional:
          type: integer
          description: Identifica unívocamente Titulares y Adicionales de una cuenta. Conocido también como "AUTORIZADO".
          format: int32
          example: 0
      description: Datos de la cuenta.
    DetailsTransactionsResponse:
      type: object
      properties:
        sequence:
          type: integer
          description: Incremental. Número de secuencia asignado en la consulta.
          format: int32
          example: 1
        operationDate:
          type: integer
          description: Fecha de cuando se realizó la compra / Consumo. Formato “ddmmaaa”.
          format: int32
          example: 7112021
        statementDate:
          type: integer
          description: Fecha de cierre de cuenta corriente. Formato “ddmmaaa”.
          format: int32
          example: 2122021
        installmentQuantity:
          type: integer
          description: Cantidad de cuotas.
          format: int32
          example: 0
        currencyCode:
          type: integer
          description: |-
            Código de moneda del consumo. 

            032: ARS – Pesos argentinos  

            858: URU – Pesos Uruguayos 

            840: USD - Dólares 
          format: int32
          example: 840
        amount:
          type: number
          description: Importe del consumo. Hasta 13 posiciones enteras. 2 decimales.
          format: double
          example: 1.99
        authorizationCode:
          type: string
          description: Código de autorización de la compar / consumo.
          example: '00000746'
        locationType:
          type: string
          description: 'Tipo de operación. “S”: Local. “N” Internacional.'
          example: 'N'
        storeNumber:
          type: string
          description: Número de comercio.
          example: '00000000'
        merchantName:
          type: string
          description: Descripción del consumo.
          example: Spotify P17D9ED95F
    DisputeResponse:
      type: object
      properties:
        account:
          $ref: '#/components/schemas/AccountTransactionsResponse'
        transaction:
          $ref: '#/components/schemas/TransactionsTransactionResponse'
      description: Estructura de campos que responde la API Reclamos y Desconocimientos - Consulta.
    TransactionsTransactionResponse:
      type: object
      properties:
        operationDate:
          type: integer
          description: Fecha de ejecución del proceso. Generalmente fecha de sistema.
          format: int32
          example: 20240101
        hasMoreTransactionsAvailable:
          type: string
          description: Indica si hay mas registros por mostrar.
          example: 'N'
        recordsNumber:
          type: integer
          description: Cantidad de elementos de la consulta.
          format: int32
          example: 10
        details:
          type: array
          items:
            $ref: '#/components/schemas/DetailsTransactionsResponse'
      description: Datos generales de la consulta.
    AccountClaimRequest:
      type: object
      properties:
        accountNumber:
          maxLength: 32
          minLength: 32
          type: string
          description: 'Número de cuenta del tarjetahabiente. Encriptado. La cuenta que se encripta debe cumplir con Long 9 dígitos que se completan con ceros a la izquierda. EJ: 001234567 / 00#######'
          example: W23X24Y25Z26A1B2C3D4E5F6G7H8I9J1
        additional:
          maxLength: 1
          minLength: 1
          type: integer
          description: 'Identifica Titulares y Adicionales de la misma cuenta. Valores posibles: 1 a 9. Titular: 0 Adicional: 1 a 9'
          format: int32
          example: 0
      description: Datos de la cuenta.
    ClaimRequest:
      type: object
      properties:
        cardNumber:
          type: string
          description: Numero PAN completo de la tarjeta, encriptado.
          example: FCBDA6EEB6BE198F41D19D38C8B7AD1F66C91533A439A78F006628214AB6A02E
        account:
          $ref: '#/components/schemas/AccountClaimRequest'
        transactions:
          type: array
          description: Datos de las transacciones a reclamar.
          items:
            $ref: '#/components/schemas/TransactionsClaim'
        notes:
          type: array
          description: Notas. Texto libre.
          items:
            $ref: '#/components/schemas/TextClaim'
      description: Estructura de campos para la solicitud de la API RF 210_3 Ingreso de Reclamos y Desconocimientos – Alta de Reclamos.
    TextClaim:
      type: object
      properties:
        text:
          type: string
          description: Texto que describe el motivo por el cual se realiza el reclamo o desconocimiento.
          example: Good Morning
      description: Notas. Texto libre.
    TransactionsClaim:
      type: object
      properties:
        operationDate:
          type: string
          description: Fecha de la compra / consumo.
          example: '20240101'
        sequence:
          type: string
          description: Número de secuencia asignado en la consulta.
          example: '193916'
        currencyCode:
          type: string
          description: |-
            Código de Moneda del consumo. 032: ARS – Pesos argentinos  

            858: URU – Pesos Uruguayos 

            840: USD - Dólares
          example: '032'
        installmentQuantity:
          type: string
          description: Cantidad total de cuotas del plan de cuotas.
          example: '01'
        amount:
          type: string
          description: Importe del consumo. Hasta 13 posiciones enteras. 2 decimales.
          example: '5310000.0'
      description: Datos de las transacciones a reclamar.
    ClaimResponse:
      type: object
      properties:
        orderNumber:
          type: integer
          description: 'N° Reclamo: Número que identifica al reclamo.'
          format: int32
          example: 0
        errorsVoucher:
          type: integer
          description: Número de vaucher con error.
          format: int32
          example: 0
        returnCodeDescription1:
          type: string
          description: Descripción de los diferentes códigos de respuesta.
          example: 'RECLAMO OTORGADO NRO:  CON 01 CUPONES GRABADOS Y  CUPONES SIN GRABAR'
        returnCodeDescription2:
          type: string
          description: Descripción de los diferentes códigos de respuesta.
          example: INGRESAR A CONSULTA DE RECLAMOS PARA VERIFICAR LOS CUPONES GRABADOS
      description: Estructura de campos que responde la API Reclamo - ALta
    ReplacementRequest:
      required:
        - branchNumber
        - brandCode
        - internalRequestNumber
        - operationDate
        - productCode
        - reissueCode
      type: object
      properties:
        accountNumber:
          maxLength: 32
          minLength: 32
          pattern: ^[0-9A-F]{32}
          type: string
          description: 'Número de cuenta del tarjetahabiente. Encriptado. La cuenta que se encripta debe cumplir con Long 9 dígitos que se completan con ceros a la izquierda. EJ: 001234567 / 00#######'
          example: W23X24Y25Z26A1B2C3D4E5F6G7H8I9J1
        additional:
          maxLength: 1
          minLength: 1
          type: integer
          description: 'Identifica Titulares y Adicionales de la misma cuenta. Valores posibles: 1 a 9. Titular: 0 Adicional: 1 a 9'
          format: int32
          example: 0
        cardNumber:
          pattern: ^[0-9A-F]{64}
          type: string
          description: Este campo de entrada permite ingresar el número de tarjeta (PAN) encriptado en formato hexadecimal con longitud de 64 caracteres.
          example: C3D4E5F6G7H8I9J10K11L12M13N14O15P16Q17R18S19T20U21V22W23X24Y25Z26
        operationDate:
          maxLength: 10
          minLength: 10
          pattern: ^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$
          type: string
          description: Este campo de entrada, permite ingresar el dato correspondiente a la fecha en que se realiza la operación.
          example: '2023-08-24'
        internalRequestNumber:
          type: integer
          description: Este campo de entrada, permite ingresar el número de solicitud interno de la entidad emisora.
          format: int32
          example: 900105
        branchNumber:
          type: integer
          description: Este campo de entrada, permite ingresar el dato correspondiente al código de la sucursal bancaria donde el socio tiene radicada su cuenta / tarjeta.
          format: int32
          example: 100
        brandCode:
          type: integer
          description: 'Este campo de entrada, permite ingresar el código correspondiente a la marca/bandera de la tarjeta a la cual se solicita el alta instantánea. Ejemplo: Código 1: Mastercard '
          format: int32
          example: 1
        productCode:
          type: integer
          description: 'Este campo de entrada, permite ingresar el código correspondiente al tipo de producto de la marca/bandera. Ejemplo: 43: Mastercard Black </br>Algunos valores referenciales estándar.</br> 1: MasterCard Regional </br> 2: MasterCard Internacional </br> 3: Gold MasterCard </br> 5: MC Corporate Regional </br> 6: MC Corporate Internacional </br> 7: MC Executive Corporate </br> 8: Platinum MasterCard </br> 21: Tarjeta Prepaga </br> 22: MC Corporate Int Débitos </br> 23: MC Corporate Int Travel </br> 24: MC Corporate Int Purchase </br> 28: MC Corporate Int Combustible </br> 43: MasterCard Black </br> 124: Mastercard Black Corporativa '
          format: int32
          example: 3
        fullName:
          maxLength: 24
          minLength: 0
          type: string
          description: Este campo de entrada, permite el ingreso del Apellido y Nombre de la persona.
          example: Julian Martínez
        creditLimitChar:
          maxLength: 1
          minLength: 0
          type: string
          description: Este campo de entrada, permite ingresar la letra correspondiente al límite de compra asignado al tarjetahabiente.
          example: '6'
        affinityGroupdescription:
          maxLength: 17
          minLength: 0
          type: string
          description: Esto campo de entrada, permite ingresar el dato correspondiente al nombre o descripción del grupo de afinidad.
          example: APIS
        reissueCode:
          type: integer
          description: Este campo de entrada, permite ingresar el motivo de boletín de bloqueo y/o reimpresion.
          format: int32
          example: 1
        issuingType:
          pattern: 'F|V|| '
          type: string
          description: Este campo de entrada, permite ingresar el tipo de emisión que tendrá la tarjeta, pudiendo optar por la personalización y envío de la tarjeta plástica como fisica (F) , la emisión para consulta y uso virtual (V), el campo es opcional y puede enviarse 'ESPACIO o SIN INFORMAR'.
          example: F
      description: Estructura de campos para la solicitud de la API Replacement Card
    ReplacementResponse:
      type: object
      properties:
        statusResponse:
          type: string
          example: Replacement OK
      description: Estructura de campos que responde la API Replacement Card
    HomeDeliveryCard:
      type: object
      properties:
        addressStreetNumber:
          maxLength: 30
          minLength: 0
          type: string
          description: Este campo de entrada, permite ingresar la dirección donde se hará el envío.
          example: Av. San Martín 1870
        nroPiso:
          type: integer
          description: Este campo de entrada, permite ingresar el numero de piso donde se hará el envío.
          format: int32
          example: 2
        dpto:
          pattern: '[a-z,A-Z]{0,1}'
          type: string
          description: Este campo de entrada, permite ingresar el departamento donde se hará envío
          example: A
        codProv:
          type: integer
          description: Este campo de entrada, permite ingresar el codigo de provincia a donde se hará el envío.
          format: int32
          example: 2
        city:
          maxLength: 20
          minLength: 0
          type: string
          description: Este campo de entrada, permite ingresar el nombre de la ciudad a donde se hará el envío.
          example: Quilmes
        postCode:
          type: integer
          description: Este campo de entrada, permite ingresar el codigo postal de envío donde se hará el envío.
          format: int32
          example: 1881
    ReissueRequest:
      type: object
      properties:
        accountNumber:
          maxLength: 32
          minLength: 32
          pattern: ^[0-9A-F]{32}
          type: string
          description: 'Número de cuenta del tarjetahabiente. Encriptado. La cuenta que se encripta debe cumplir con Long 9 dígitos que se completan con ceros a la izquierda. EJ: 001234567 / 00#######'
          example: W23X24Y25Z26A1B2C3D4E5F6G7H8I9J1
        additional:
          maxLength: 1
          minLength: 1
          type: integer
          description: 'Identifica Titulares y Adicionales de la misma cuenta. Valores posibles: 1 a 9. Titular: 0 Adicional: 1 a 9'
          format: int32
          example: 0
        cardNumber:
          pattern: ^[0-9A-F]{64}
          type: string
          description: Este campo de entrada permite ingresar el número de tarjeta (PAN) encriptado en formato hexadecimal con longitud de 64 caracteres.
          example: C3D4E5F6G7H8I9J10K11L12M13N14O15P16Q17R18S19T20U21V22W23X24Y25Z26
        cardNumberM:
          pattern: ^[0-9]{4}[0]{8}[0-9]{4}
          type: string
          description: 'Este campo de entrada, permite ingresar el número de tarjeta PAN, formato: 1234000000001234'
          example: '1234000000001234'
        comments:
          maxLength: 120
          minLength: 0
          type: string
          description: Este campo de entrada, permite ingresar comentarios adicionales en el proceso de solicitud de bloqueo y/o reimpresion.
          example: Sin comentarios.
        addressId:
          pattern: C|N
          type: string
          description: Este campo de entrada, permite ingresar el Id de la dirección, C = dirección de la cuenta registrada en el sistema, N = dirección nueva que es proporcionada en la solicitud (No actualiza el domicilio del socio).
          example: 'N'
        issuingType:
          pattern: 'F|V|| '
          type: string
          description: Este campo de entrada, permite ingresar el tipo de emisión que tendrá la tarjeta, pudiendo optar por la personalización y envío de la tarjeta plástica como fisica (F) , la emisión para consulta y uso virtual (V), el campo es opcional y puede enviarse 'ESPACIO o SIN INFORMAR'.
          example: F
        homeDeliveryCard:
          $ref: '#/components/schemas/HomeDeliveryCard'
      description: Estructura de campos para la solicitud de la API Reissue Card
    ReissueResponse:
      type: object
      properties:
        blockNumber:
          type: string
          description: Este campo de salida indica el número de denuncia / bloqueo / reimpresión
          example: A0000358
        orderNumber:
          type: integer
          description: Este campo de salida indica el número de gestión / pedido con el cual se registra la acción.
          format: int32
          example: 1583
        returnCodeDescription:
          type: string
          description: Este campo de salida proporciona la descripción del código de retorno / rechazo que devuelve el sistema.
          example: DENUNCIA EFECTUADA
      description: Estructura de campos que responde la API Reissue Card
    OnOffRequest:
      required:
        - action
      type: object
      properties:
        accountNumber:
          maxLength: 32
          minLength: 32
          pattern: '[0-9A-F]{32}'
          type: string
          description: 'Número de cuenta del tarjetahabiente. Encriptado. La cuenta que se encripta debe cumplir con Long 9 dígitos que se completan con ceros a la izquierda. EJ: 001234567 / 00#######'
          example: W23X24Y25Z26A1B2C3D4E5F6G7H8I9J1
        additional:
          maxLength: 1
          minLength: 1
          type: integer
          description: 'Identifica Titulares y Adicionales de la misma cuenta. Valores posibles: 1 a 9. Titular: 0 Adicional: 1 a 9'
          format: int32
          example: 0
        cardNumber:
          pattern: '[0-9A-F]{64}'
          type: string
          description: Este campo de entrada permite ingresar el número de tarjeta (PAN) encriptado
          example: C3D4E5F6G7H8I9J10K11L12M13N14O15P16Q17R18S19T20U21V22W23X24Y25Z26
        action:
          pattern: ^(AC|BL)$
          type: string
          description: Este campo de entrada permite indicar la acción a realizar. AC para activación y BL para Inhabilitación
          example: AC
    OnOffResponse:
      type: object
      properties:
        code:
          type: string
          description: Informa el código de retorno de la operación realizada.
          example: '+2863'
        message:
          type: string
          description: Informa el resultado de la operación solicitada.
          example: Tarjeta inhabilitada
      description: Estructura de campos que responde la API On Off
    OnOffStatusRequest:
      type: object
      properties:
        accountNumber:
          maxLength: 32
          minLength: 32
          pattern: '[0-9A-F]{32}'
          type: string
          description: 'Número de cuenta del tarjetahabiente. Encriptado. La cuenta que se encripta debe cumplir con Long 9 dígitos que se completan con ceros a la izquierda. EJ: 001234567 / 00#######'
          example: W23X24Y25Z26A1B2C3D4E5F6G7H8I9J1
        additional:
          maxLength: 1
          minLength: 1
          type: integer
          description: 'Identifica Titulares y Adicionales de la misma cuenta. Valores posibles: 1 a 9. Titular: 0 Adicional: 1 a 9'
          format: int32
          example: 0
        cardNumber:
          pattern: '[0-9A-F]{64}'
          type: string
          description: Este campo de entrada permite ingresar el número de tarjeta (PAN) encriptado
          example: C3D4E5F6G7H8I9J10K11L12M13N14O15P16Q17R18S19T20U21V22W23X24Y25Z26
      description: Estructura de campos para la solicitud de la API On Off
    InstantIssuanceRequest:
      required:
        - branchNumber
        - brandCode
        - dateOfBirth
        - fullName
        - gender
        - idCode
        - internalRequestNumber
        - nationality
        - number
        - operationDate
        - productCode
      type: object
      properties:
        branchNumber:
          type: integer
          description: Este campo de entrada, permite ingresar el dato correspondiente al código de la sucursal bancaria donde el socio tiene radicada su cuenta / tarjeta.
          format: int32
          example: 100
        brandCode:
          type: integer
          description: 'Este campo de entrada, permite ingresar el código correspondiente a la marca/bandera de la tarjeta a la cual se solicita el alta instantánea. Ejemplo: Código 1: Mastercard '
          format: int32
          example: 1
        productCode:
          type: integer
          description: 'Este campo de entrada, permite ingresar el código correspondiente al tipo de producto de la marca/bandera. Ejemplo: 43: Mastercard Black </br>Algunos valores referenciales estándar.</br> 1: MasterCard Regional </br> 2: MasterCard Internacional </br> 3: Gold MasterCard </br> 5: MC Corporate Regional </br> 6: MC Corporate Internacional </br> 7: MC Executive Corporate </br> 8: Platinum MasterCard </br> 21: Tarjeta Prepaga </br> 22: MC Corporate Int Débitos </br> 23: MC Corporate Int Travel </br> 24: MC Corporate Int Purchase </br> 28: MC Corporate Int Combustible </br> 43: MasterCard Black </br> 124: Mastercard Black Corporativa '
          format: int32
          example: 3
        issuingType:
          pattern: 'F|V|| '
          type: string
          description: Este campo permite ingresar el formato en que se generara la reimpresión de tarjeta, puede tomar valores V para tarjetas emitidas solo en formato Virtual/Digital; F para tarjetas Físicas donde se generará el plástico para ser entregado o valor 0 (cero) cuando no haya decisión al respecto.
          example: F
        operationDate:
          maxLength: 10
          minLength: 10
          pattern: ^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$
          type: string
          description: Este campo de entrada, permite ingresar el dato correspondiente a la fecha en que se realiza la operación de Alta Instantánea.
          example: '2023-08-24'
        internalRequestNumber:
          type: integer
          description: Este campo de entrada, permite ingresar el número de solicitud interno de la entidad emisora.
          format: int32
          example: 900105
        accountNumber:
          maxLength: 32
          minLength: 0
          type: string
          description: 'Número de cuenta del tarjetahabiente. Encriptado. La cuenta que se encripta debe cumplir con Long 9 dígitos que se completan con ceros a la izquierda. EJ: 001234567 / 00#######'
          example: W23X24Y25Z26A1B2C3D4E5F6G7H8I9J1
        additional:
          maxLength: 1
          minLength: 1
          type: integer
          description: 'Identifica Titulares y Adicionales de la misma cuenta. Valores posibles: 1 a 9. Titular: 0 Adicional: 1 a 9'
          format: int32
          example: 0
        checkDigit:
          type: integer
          description: Este campo de entrada, permite ingresar el dato correspondiente al Dígito Verificador correspondiente a la cuenta que se informa.
          format: int32
          example: 0
        corporateAccount:
          type: integer
          description: Este campo de entrada, permite ingresar el dato correspondiente al número asignado a la cuenta empresa para la cual se emitirá la tarjeta. Aplica a altas de extensiones para cuentas/productos corporativos.
          format: int32
        fullName:
          maxLength: 24
          minLength: 1
          type: string
          description: Este campo de entrada, permite el ingreso del Apellido y Nombre de la persona, a la cual se le emitirá la tarjeta.
          example: Julian Martínez
        affinityGroupCode:
          type: integer
          description: Este campo de entrada, permite ingresar el código correspondiente al grupo de afinidad al momento de realizar el alta instantánea.
          format: int32
          example: 3794
        affinityGroupCheckDigit:
          type: integer
          description: Esto campo de entrada, permite ingresar el dato correspondiente al Dígito Verificador del grupo de afinidad.
          format: int32
          example: 6
        affinityGroupdescription:
          maxLength: 17
          minLength: 0
          type: string
          description: Esto campo de entrada, permite ingresar el dato correspondiente al nombre o descripción del grupo de afinidad.
          example: APIS
        streetNumber:
          maxLength: 30
          minLength: 0
          type: string
          description: Este campo de entrada, permite ingresar el dato correspondiente al Domicilio del Tarjetahabiente, detallando el Nombre y Número de la calle.
          example: Avenida central 99
        addressFloor:
          maxLength: 2
          minLength: 0
          type: string
          description: Este campo de entrada, permite ingresar el dato correspondiente al Número de Piso relacionado al domicilio.
          example: '2'
        addressApartment:
          maxLength: 3
          minLength: 0
          type: string
          description: Este campo de entrada, permite ingresar el dato correspondiente al Número de Departamento relacionado al domicilio.
          example: A
        addressZipCode:
          type: integer
          description: Este campo de entrada, permite ingresar el dato correspondiente al Código Postal relacionado al domicilio.
          format: int32
          example: 1881
        city:
          maxLength: 20
          minLength: 0
          type: string
          description: Este campo de entrada, permite ingresar el dato correspondiente a la Ciudad relacionada con el domicilio.
          example: Capital Federal
        addressprovinceCode:
          type: integer
          description: Este campo de entrada, permite ingresar el dato correspondiente al Código de la Provincia relacionada al domicilio
          format: int32
          example: 1
        distributionCode:
          maxLength: 2
          minLength: 0
          type: string
          description: Este campo de entrada, permite ingresar el dato correspondiente al código de distribución que representa un identificador para la permisionaria durante el flujo de delivery de la tarjeta.
          example: '12'
        phoneNumber:
          maxLength: 12
          minLength: 0
          type: string
          description: Este campo de entrada, permite ingresar el dato correspondiente al número de teléfono del tarjetahabiente.
          example: '541122334455'
        cuit:
          type: integer
          description: Este campo de entrada, permite ingresar el dato correspondiente al nro. de CUIT en Argentina o RUT en Uruguay. El CUIT o RUT son los números de identificación de las empresas ante el Fisco. Es obligatorio y se controla solo en cuentas empresas.
          format: int64
        codCedula:
          maxLength: 2
          minLength: 0
          type: string
          description: Este campo de entrada, permite el ingreso del Código de Cedula. Es un dato opcional para las cedulas provinciales que se expendían históricamente.
        numeroCedula:
          type: integer
          description: Este campo de entrada, permite ingresar el dato correspondiente al número de cédula de identidad del tarjetahabiente.
          format: int32
        idCode:
          maxLength: 2
          minLength: 1
          type: string
          description: 'Este campo de entrada, permite ingresar el Código de Documento. En Argentina y Uruguay, los documentos tienen distintos tipos de códigos según su categoría. Por ejemplo: DU (Documento Único)'
          example: DU
        number:
          type: integer
          description: Este campo de entrada, permite ingresar el dato correspondiente al número de Documento de identidad del tarjetahabiente.
          format: int32
          example: 99999999
        dateOfBirth:
          maxLength: 10
          minLength: 10
          pattern: ^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$
          type: string
          description: Este campo de entrada, proporciona el dato correspondiente a la fecha de nacimiento del tarjetahabiente.
          example: '1990-12-31'
        nationality:
          maxLength: 3
          minLength: 3
          type: string
          description: 'Este campo de entrada, permite ingresar el dato correspondiente al Código de Nacionalidad del tarjetahabiente. '
          example: ARG
        gender:
          maxLength: 1
          minLength: 1
          type: string
          description: Este campo de entrada, permite ingresar el dato correspondiente para la identificación del Sexo/Genero del tarjetahabiente.
          example: M
        cardDuration:
          type: integer
          description: 'Este campo de entrada, permite ingresar el dato correspondiente a la Duración de la tarjeta. Siendo las opciones 12: Anual; 24: Bienal; 36: Trienal.'
          format: int32
          example: 24
        creditLimitChar:
          maxLength: 1
          minLength: 0
          type: string
          description: Este campo de entrada, permite ingresar la letra correspondiente al límite de compra asignado al tarjetahabiente.
          example: '6'
        creditLimitCoefficient:
          maximum: 9
          maxLength: 3
          minLength: 3
          type: number
          description: 'Este campo de entrada, permite ingresar el dato correspondiente al coeficiente de modificación de limite de crédito. Longitud: 1 entero y 2 decimales (0.00)'
          format: decimal
          example: 0.01
        creditLimit:
          type: integer
          description: Este campo de entrada, permite ingresar el dato correspondiente al Importe en moneda del límite de crédito asignado al tarjetahabiente. Información asignada por la entidad otorgante.
          format: int64
        minimumPaymentTerm:
          type: integer
          description: 'Este campo de entrada, permite ingresar el dato correspondiente a la cantidad de días que deben sumarse a los configurados en parámetros / modelos de liquidación para fijar la fecha de vencimiento del plazo de pago del resumen de cuenta actual y futuros. Valores posibles: 00 a 09.'
          format: int32
        loyaltyProgramCode:
          type: integer
          description: Este campo de entrada, permite ingresar los datos correspondientes al código de Sumapuntos/Millaje al que debe pertenecer la cuenta, con el fin de establecer los puntajes pertenecientes al programa
          format: int32
        paymentMethod:
          maxLength: 1
          minLength: 0
          type: string
          description: 'Este campo de entrada, permite ingresar el método de la forma/método de pago seleccionado por el tarjetahabiente. </br>Método o Tipo de PAGO declarado desde el emisor: Valores posibles: </br>1 Por ventanilla </br>2 Débito en Cuenta Corriente (para Debitar en Cuenta o Débito Directo Interbancario) </br>3 Débito en Caja de Ahorro (para Debitar en Cuenta o Débito Directo Interbancario) </br>4 Por ventanilla con retención del resumen en la Entidad </br>5 Débito en Cuenta Corriente con retención del resumen en la Entidad (para Debitar en Cuenta o Débito Directo Interbancario) </br>6 Débito en Caja de Ahorro con retención del resumen en la Entidad (para Debitar en Cuenta o Débito Directo Interbancario) </br>7 Retenido Judicial </br>8 Por ventanilla cuando se quieran unificar todas las transacciones del socio bajo un mismo número interno de cliente </br>A Débito en Cuenta Corriente Especial sin retención del resumen en la Entidad (para Debitar en Cuenta o Débito Directo Interbancario) - solo Argentina. </br>B Débito en Cuenta Corriente Especial con retención del resumen en la Entidad (para Debitar en Cuenta o Débito Directo Interbancario) - solo Argentina.'
          example: '1'
        paymentMethodDEBIT:
          type: integer
          description: 'Este campo de entrada, permite ingresar el método o tipo de importe de la forma de pago por débito en la cuenta de la entidad bancaria (emisora) </br>Método o Tipo de importe a debitar. </br>Valores posibles y relación con los valores en el campo paymentMethod </br>1: Pago total del saldo actual (solo para Débito en Cuenta) </br>2: Pago mínimo (para Débito en Cuenta o Débito Directo Interbancario) </br>3: Pago a debitar según instrucciones del socio (solo para Débito en Cuenta) </br>4: Pago total consolidado en pesos (solo para Débito Directo Interbancario) </br>5: Pago total consolidado en dólares (solo para Débito Directo Interbancario)'
          format: int32
          example: 0
        paymentMethodACCOUNT:
          type: integer
          description: 'Solo para Débito en Cuenta. Número de cuenta para las formas de pago tipo 2, 3, 5, 6, A ó B. Para el tipo 8 se deberá indicar el número interno de cliente. Se informarán sólo números, sin barras ni guiones. Se completarán con ceros los espacios libres delante del número. </br>Valores posibles y relación con los valores en el campo paymentMethod </br>No informar para formas de pago tipo: 1, 4 y 7'
          format: int64
        paymentMethodBANK:
          type: integer
          description: 'Este campo de entrada, permite ingresar los datos correspondiente a la Forma de Pago de Debito en Cuenta con la entidad otorgante. Código de la sucursal donde se encuentra radicada la Cuenta Corriente o Caja de Ahorro. </br>Valores posibles y relación con los valores en el campo paymentMethod </br>No informar para formas de pago tipo: 1, 4 y 7'
          format: int32
        instalmentsServiceFee:
          type: integer
          description: Este campo de entrada, permite ingresar los datos correspondientes para determinar la cantidad de cuotas para el cobro del mantenimiento de cuenta.
          format: int32
          example: 1
        waiveServiceFee:
          type: integer
          description: Este campo de entrada, permite ingresar los datos correspondientes para determinar si al tarjetahabiente se le bonificará el cargo por el servicio. Este campo también permitirá conocer el porcentaje de bonificación que se aplicará.  Este valor podrá  variar entre 000 y 100. Para eliminar esta bonificación se informará 999. Si no se modifica este campo se informarán ceros. Para valores N - Opcionales, se utiliza 0 o no informar.
          format: int32
        keepServFeeWaiver:
          type: integer
          description: 'Este campo de entrada, permite ingresar los datos correspondientes para determinar si el tarjetahabiente mantiene o no la bonificación del cargo. </br>Valores Posibles </br>1: Mantiene la bonificación para la renovación </br>2: No mantiene la bonificación para la renovación </br>3: Mantiene la bonificación para cargo intermedio </br>Para adicionales el sistema aplica el valor configurado para titular'
          format: int32
          example: 2
        grupoctacte:
          type: integer
          description: Este campo de entrada, permite ingresar el dato correspondiente al Grupo de cuenta corriente al que pertenecen las cuentas listadas del tarjetahabiente. Valores posibles 11 12 13 14 (que configuran las fechas correspondientes a movimientos y cálculos en  cierres y vencimientos).
          format: int32
        guarantor:
          type: integer
[...]
