openapi: 3.0.1
info:
  title: Silvercore™ Financial Information Service - API Documentation
  description: This documentation describes the REST APIs provided by the Silvercore™
  version: "2.0"
servers:
  - url: https://int.api.firstdata.com/latam-gfs-apis/
    description: Sandbox Test
paths:
  /financialInformation/transactions:
    post:
      tags:
        - Transactions
      summary: |-
        Devuelve el listado de todas las operaciones que haya efectuado el titular de la cuenta durante el período en curso 
        Permite obtener los movimientos de la cuenta/tarjeta durante el periodo pagos, Compras, Devoluciones, Ajustes (por ejemplo de campañas / descuentos) 
        Para esa consulta se administrarán, fragmentaciones, vectores y paginados de acuerdo a la cantidad de registros que posea la cuenta/tarjeta.
      operationId: transactions
      parameters:
        - name: X-ClientID
          in: header
          description: Número que representa la entidad cliente del servicio en Fiserv.
          required: true
          schema:
            pattern: '[0-9]{1,3}'
            type: string
            description: Número que representa la entidad cliente del servicio en Fiserv.
        - name: username
          in: header
          description: Identificador que representa al usuario.
          required: true
          schema:
            type: string
            description: Identificador que representa al usuario.
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: requestId
          in: header
          description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
          required: false
          schema:
            type: string
            description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionsRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Transactions
      x-group-name: Financial Information
      x-child-product-name: Transactions
  /financialInformation/pendingTransactions:
    post:
      tags:
        - Pending Transactions
      summary: |-
        Informa un listado detallado con todas las operaciones que haya efectuado el titular de la cuenta durante el período en curso que aún no han sido presentadas por el comercio
        Para esa consulta se administrarán, fragmentaciones, vectores y paginados de acuerdo a la cantidad de registros que posea la cuenta/tarjeta.
      operationId: getPendingTransactions
      parameters:
        - name: X-ClientID
          in: header
          description: Número que representa la entidad cliente del servicio en Fiserv.
          required: true
          schema:
            pattern: '[0-9]{1,3}'
            type: string
            description: Número que representa la entidad cliente del servicio en Fiserv.
        - name: username
          in: header
          description: Identificador que representa al usuario.
          required: true
          schema:
            type: string
            description: Identificador que representa al usuario.
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: requestId
          in: header
          description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
          required: false
          schema:
            type: string
            description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PendingTransactionsRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PendingTransactionsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Pending Transactions
      x-group-name: Financial Information
      x-child-product-name: Transactions
  /financialInformation/lastStatementTransactions:
    post:
      tags:
        - Last Statements Transactions
      summary: |-
        Proporciona datos resumidos acerca del estado de cuenta del mes en curso.
        Permite obtener información consolidada de pagos (ARS/USD), totales y mínimos; cierres actuales, anteriores y futuros. 
        Además posibilita generar el talón de pago con código de barras para la presentación en entes recaudadores.
        En combinación con datos de lastStatementData permite construir de cuenta para el cliente con talón de pago, código de barras para lectura en agentes de recaudación.
      operationId: getLastStatementTransactions
      parameters:
        - name: X-ClientID
          in: header
          description: Número que representa la entidad cliente del servicio en Fiserv.
          required: true
          schema:
            pattern: '[0-9]{1,3}'
            type: string
            description: Número que representa la entidad cliente del servicio en Fiserv.
        - name: username
          in: header
          description: Identificador que representa al usuario.
          required: true
          schema:
            type: string
            description: Identificador que representa al usuario.
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: requestId
          in: header
          description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
          required: false
          schema:
            type: string
            description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LastStatementTransactionsRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LastStatementTransactionsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Last Statement Transactions
      x-group-name: Financial Information
      x-child-product-name: Transactions
  /financialInformation/lastStatementData:
    post:
      tags:
        - Last Statement Data
      summary: |-
        Permite obtener los movimientos liquidados en el último cierre de cuenta y que se ingresan en el resumen, es decir con esta consulta el emisor podrá construir el ultimo resumen de cuenta generado para la tarjeta/cuenta que se consulta.
        Comprende las operaciones, pagos, ajustes, promociones y cualquier operación que se impacta en el último resumen de cuenta del socio.
        En combinación con lastStatementTransactions, el banco puede construir el soporte mensual como imagen de resumen.
      operationId: getBalances
      parameters:
        - name: X-ClientID
          in: header
          description: Número que representa la entidad cliente del servicio en Fiserv.
          required: true
          schema:
            type: string
            description: Número que representa la entidad cliente del servicio en Fiserv.
        - name: username
          in: header
          description: Identificador que representa al usuario.
          required: true
          schema:
            type: string
            description: Identificador que representa al usuario.
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: requestId
          in: header
          description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
          required: false
          schema:
            type: string
            description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LastStatementDataRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LastStatementDataResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Last Statement Data
      x-group-name: Financial Information
      x-child-product-name: Transactions
  /financialInformation/accountFinancialData:
    post:
      tags:
        - Account Financial Data
      summary: Permite obtener el resumen de la información financiera de la tarjeta/cuenta-autorizado por la que se consulta, consolida Limites y Saldos, Disponibles, Información de la Cuenta Corriente / Cierres y Vencimientos, así como tasas.
      operationId: getBalances_1
      parameters:
        - name: X-ClientID
          in: header
          description: Número que representa la entidad cliente del servicio en Fiserv.
          required: true
          schema:
            type: string
            description: Número que representa la entidad cliente del servicio en Fiserv.
        - name: username
          in: header
          description: Identificador que representa al usuario.
          required: true
          schema:
            type: string
            description: Identificador que representa al usuario.
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: requestId
          in: header
          description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
          required: false
          schema:
            type: string
            description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FinancialDataRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialDataResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Account Financial Data
      x-group-name: Financial Information
      x-child-product-name: Transactions
components:
  schemas:
    ErrorDetailsResponse:
      type: object
      properties:
        dateError:
          type: string
          format: date-time
        message:
          type: string
        detail:
          type: string
    TransactionsRequest:
      type: object
      properties:
        accountNumber:
          pattern: '[0-9A-F]{32}'
          type: string
          description: Este campo de entrada, permite ingresar el número de cuenta del tarjetahabiente encriptado.
          example: W23X24Y25Z26A1B2C3D4E5F6G7H8I9J1
        additional:
          type: integer
          description: Este campo de entrada, complementa al dato cuenta para identificar unívocamente Titulares y Adicionales de la misma. Conocido también como "AUTORIZADO"
          format: int32
          example: 0
        cardNumber:
          pattern: '[0-9A-F]{64}'
          type: string
          description: Este campo de entrada permite ingresar el número de tarjeta (PAN) encriptado
          example: C3D4E5F6G7H8I9J10K11L12M13N14O15P16Q17R18S19T20U21V22W23X24Y25Z26
        sequenceI:
          type: string
          description: Campos ECO - Clave para la fragmentación de la consulta. Se ingresan los datos que se obtienen en la primera llamada cuando se indica que la respuesta debió fragmentarse.
          example: '5689'
        orderI:
          type: integer
          description: Campos ECO - Clave para la fragmentación de la consulta. Se ingresan los datos que se obtienen en la primera llamada cuando se indica que la respuesta debió fragmentarse.
          format: int32
          example: 0
    ErrorFiserVDetailsResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
        description:
          type: string
    ErrorFiserVResponse:
      type: object
      properties:
        errorResponse:
          $ref: '#/components/schemas/ErrorFiserVDetailsResponse'
    Transaction:
      type: object
      properties:
        operDate:
          type: integer
          format: int32
          example: 20220515
        postingDate:
          type: integer
          format: int32
          example: 20220517
        merchantName:
          type: string
          example: ARREDO
        merchantID:
          type: integer
          format: int32
          example: 24049130
        operType:
          type: string
          example: DEBITO
        operCurrency:
          type: string
          example: PESO ARGENTINO
        operAmountSign:
          type: string
          example: +
        operAmount:
          type: number
          format: float
          example: 1251.11
        totalInstallments:
          type: integer
          format: int32
          example: 12
        currentInstallment:
          type: integer
          format: int32
          example: 11
        totalInstallmentAmountSign:
          type: string
          example: +
        totalInstallmentAmount:
          type: number
          format: float
          example: 15013.34
        remainingInstallments:
          type: integer
          format: int32
          example: 1
        remainingInstallmentsAmountSign:
          type: string
          example: +
        remainingInstallmentsAmount:
          type: number
          format: float
          example: 1251.11
    TransactionsResponse:
      type: object
      properties:
        sequenceO:
          type: string
        fragmentMark:
          type: integer
          format: int32
          example: 0
        orderO:
          type: integer
          format: int32
          example: 0
        vectorOperacionesMes:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
    PendingTransactionsRequest:
      type: object
      properties:
        accountNumber:
          pattern: '[0-9A-F]{32}'
          type: string
          description: Este campo de entrada, permite ingresar el número de cuenta del tarjetahabiente encriptado.
          example: W23X24Y25Z26A1B2C3D4E5F6G7H8I9J1
        additional:
          type: integer
          description: Este campo de entrada, complementa al dato cuenta para identificar unívocamente Titulares y Adicionales de la misma. Conocido también como "AUTORIZADO"
          format: int32
          example: 0
        cardNumber:
          pattern: '[0-9A-F]{64}'
          type: string
          description: Este campo de entrada permite ingresar el número de tarjeta (PAN) encriptado
          example: C3D4E5F6G7H8I9J10K11L12M13N14O15P16Q17R18S19T20U21V22W23X24Y25Z26
        dateI:
          type: string
          description: Campos ECO - Clave para la fragmentación de la consulta. Se ingresan los datos que se obtienen en la primera llamada cuando se indica que la respuesta debió fragmentarse.
          example: '240313'
        releaseTime:
          type: string
          description: Campos ECO - Clave para la fragmentación de la consulta. Se ingresan los datos que se obtienen en la primera llamada cuando se indica que la respuesta debió fragmentarse.
          example: '17282015'
        reqCodeI:
          pattern: '[CEIP]'
          type: string
          description: 'Campos ECO - Clave para la fragmentación de la consulta. Se ingresan los datos que se obtienen en la primera llamada cuando se indica que la respuesta debió fragmentarse. C=Comercio  E=Entidad I=Miembro ICA P= Pais '
          example: C
        reqNumberI:
          type: integer
          description: Campos ECO - Clave para la fragmentación de la consulta. Se ingresan los datos que se obtienen en la primera llamada cuando se indica que la respuesta debió fragmentarse.
          format: int32
          example: 0
      description: Estructura de campos para la solicitud de la API PendingTransactions
    PendingTransaction:
      type: object
      properties:
        additional:
          type: integer
          description: Este campo de salida, proporciona el para identificar unívocamente Titulares y Adicionales de la misma. Conocido también como "AUTORIZADO"
          format: int32
          example: 0
        authDate:
          type: integer
          description: Este campo de salida identifica el día en que se realiza la operación / autorización.
          format: int32
          example: 20230223
        authorizationCode:
          type: string
          description: Este campo de salida informa el codigo de autorización que brinda el sistema para la transacción realizada y se conforma de 6 digitos numericos.
          example: '132944'
        description:
          type: string
          description: Nombre del comercio en que realiza la compra o descripcion del movimiento cuando se trata de Campañas de descuentos, Ajustes, y otras acciones.
          example: COMPRA EN COMERCIO LOCAL
        currency:
          type: string
          description: Este campo indica la moneda en que se realiza la operación.
          example: PESO ARGENTINO
        operAmountSign:
          type: string
          description: Identifica el tipo de operación credito o debito según sea el signo.
          example: +
        operAmount:
          type: number
          description: Valor de la operación pactada por el cliente en el establecimiento. Si fuere en cuotas se muestra el total de la compra en cuotas.
          format: double
          example: 8317.35
        totalInstallments:
          type: integer
          description: Muestra el plan de cuotas total
          format: int32
          example: 1
        merchantID:
          type: integer
          description: Numero que identiifca al comercio donde se realiza la operación.
          format: int32
          example: 0
      description: Muestra un listado de las transacciones / operaciones pendientes
    PendingTransactionsResponse:
      type: object
      properties:
        additional:
          type: integer
          description: Este campo de salida, proporciona el para identificar unívocamente Titulares y Adicionales de la misma. Conocido también como "AUTORIZADO"
          format: int32
          example: 0
        fragmentMark:
          type: integer
          description: 'Indicador numérico para determinar cuando existen más registros a mostrar - Puede adoptar dos valores: 0 = Fin de los datos, 1 = Hay más datos'
          format: int32
          example: 0
        dateO:
          type: integer
          description: Campos ECO - Clave para la fragmentación de la consulta. Se devuelven estos valores cuando se indica que la respuesta debió fragmentarse; y se toman como inicio de la siguiente consulta.
          format: int32
          example: 0
        releaseTime:
          type: string
          description: Campos ECO - Clave para la fragmentación de la consulta. Se devuelven estos valores cuando se indica que la respuesta debió fragmentarse; y se toman como inicio de la siguiente consulta.
          example: '00000000'
        reqCodeO:
          type: string
          description: Campos ECO - Clave para la fragmentación de la consulta. Se devuelven estos valores cuando se indica que la respuesta debió fragmentarse; y se toman como inicio de la siguiente consulta. C=Comercio  E=Entidad I=Miembro ICA P= Pais
          example: '0'
        reqNumberO:
          type: integer
          description: Campos ECO - Clave para la fragmentación de la consulta. Se devuelven estos valores cuando se indica que la respuesta debió fragmentarse; y se toman como inicio de la siguiente consulta.
          format: int32
          example: 0
        pendingTransactions:
          type: array
          description: Muestra un listado de las transacciones / operaciones pendientes
          items:
            $ref: '#/components/schemas/PendingTransaction'
      description: Estructura de campos que responde a la API PendingTransactions
    LastStatementTransactionsRequest:
      type: object
      properties:
        accountNumber:
          pattern: '[0-9A-F]{32}'
          type: string
          description: Este campo de entrada, permite ingresar el número de cuenta del tarjetahabiente encriptado.
          example: W23X24Y25Z26A1B2C3D4E5F6G7H8I9J1
        additional:
          type: integer
          description: Este campo de entrada, complementa al dato cuenta para identificar unívocamente Titulares y Adicionales de la misma. Conocido también como "AUTORIZADO"
          format: int32
          example: 0
        cardNumber:
          pattern: '[0-9A-F]{64}'
          type: string
          description: Este campo de entrada permite ingresar el número de tarjeta (PAN) encriptado
          example: C3D4E5F6G7H8I9J10K11L12M13N14O15P16Q17R18S19T20U21V22W23X24Y25Z26
        sequenceI:
          pattern: '[0-9]{1,4}'
          type: string
          description: Campos ECO - Clave para la fragmentación de la consulta. Se ingresan los datos que se obtienen en la primera llamada cuando se indica que la respuesta debió fragmentarse.
          example: '1'
      description: Estructura de campos para la solicitud de la API LastStatementTransactions
    LastStatementTransaction:
      type: object
      properties:
        additional:
          type: integer
          description: 'Este campo de salida, complementa al dato cuenta para identificar unívocamente Titulares y Adicionales de la misma. Conocido también como "AUTORIZADO"  Valores posibles: 1 a 9. En caso de ser socio titular se informará cero'
          format: int32
          example: 0
        country:
          type: string
          description: Este campo informa el pais donde fue realizada la operación original
          example: REPUBLICA ARGENTINA
        debitMark:
          type: string
          description: Marca que identifica operaciones de Debitos Automaticos, permitiendo la segmentación al mostrar el resumen (Operaciones Contado / Operaciones Cuotas / Operaciones DA)
          example: '0'
        description:
          type: string
          description: Nombre del comercio en que realiza la compra o descripcion del movimiento cuando se trata de Campañas de descuentos, Ajustes, y otras acciones.
          example: SU PAGO U$S
        installmentNumber:
          type: string
          description: Informa la cuota que se cursa en el resumen, cuota XX de un total del plan de YY cuotas
        merchantID:
          type: integer
          description: Numero que identiifca al comercio donde se realiza la operación.
          format: int64
          example: 0
        operAmountSign:
          type: string
          description: Identifica el tipo de operación credito o debito según sea el signo.
          example: +
        operCurrency:
          type: string
          description: Este campo indica la moneda en que se realiza la operación.
          example: DOLAR ESTADOUNIDENSE
        operationDate:
          type: integer
          description: Este campo indica la fecha en que se realiza la operación.
          format: int64
          example: 20230206
        operType:
          type: string
          description: Identifica el tipo de operación (Compra / Debito -  Débito Automático - Pago - Reverso Credito ) (Anulacion/Devolución)
          example: PAGOS
        postingDate:
          type: integer
          description: Determina la fecha en que el comercio realiza la presentacion de la transaccion.
          format: int64
          example: 20230206
        operAmount:
          type: number
          description: Valor de la operación pactada por el cliente en el establecimiento. Si fuere en cuotas se muestra el total de la compra en cuotas.
          format: double
          example: 56.59
      description: Este campo muestra el listado de operaciones / transacciones incluidas en el último resumen del socio
    LastStatementTransactionsResponse:
      type: object
      properties:
        cierreCtaCteActual:
          type: integer
          description: Este campo indica la fecha de cierre de cuenta corriente para la cuenta/tarjeta que se consulta.
          format: int64
          example: 20230330
        sequenceO:
          type: integer
          description: Campos ECO - Clave para la fragmentación de la consulta. Se devuelven estos valores cuando se indica que la respuesta debió fragmentarse; y se toman como inicio de la siguiente consulta.
          format: int64
          example: 68
        transactions:
          type: array
          description: Este campo muestra el listado de operaciones / transacciones incluidas en el último resumen del socio
          items:
            $ref: '#/components/schemas/LastStatementTransaction'
      description: Estructura de campos que responde a la API LastStatementTransactions
    LastStatementDataRequest:
      type: object
      properties:
        accountNumber:
          pattern: ^[0-9A-F]{32}
          type: string
          description: Este campo de entrada, permite ingresar el número de cuenta del tarjetahabiente.
          example: W23X24Y25Z26A1B2C3D4E5F6G7H8I9J1
        additional:
          type: integer
          description: Este campo de entrada, complementa al dato cuenta para identificar unívocamente Titulares y Adicionales de la misma. Conocido también como "AUTORIZADO"
          format: int64
          example: 0
        cardNumber:
          pattern: ^[0-9A-F]{64}
          type: string
          description: Este campo de entrada permite ingresar el número de tarjeta (PAN) encriptado
          example: C3D4E5F6G7H8I9J10K11L12M13N14O15P16Q17R18S19T20U21V22W23X24Y25Z26
      description: Estructura de campos para la solicitud de la API LastStatementData
    LastStatementDataResponse:
      type: object
      properties:
        cierreCtaCteAnterior:
          type: integer
          description: Este campo indica la fecha anterior o ultima fecha de cierre de cuenta corriente para la cuenta/tarjeta que se consulta.
          format: int32
          example: 20230126
        previusPaymentDueDate:
          type: integer
          description: Este campo de salida, proporciona la información correspondiente a la fecha de  Vencimiento de Resumen anterior.
          format: int32
          example: 20230206
        cierreCtaCteActual:
          type: integer
          description: Este campo indica la fecha de cierre de cuenta corriente para la cuenta/tarjeta que se consulta.
          format: int32
          example: 20230302
        paymentDueDate:
          type: integer
          description: Este campo de salida, proporciona la información correspondiente a la fecha de  Vencimiento Actual de Resumen
          format: int32
          example: 20230310
        proximoCierreCtaCte:
          type: integer
          description: Este campo proporciona la fecha de proximo cierre de cuenta.
          format: int32
          example: 20230330
        nextPaymentDueDate:
          type: integer
          description: Este campo de salida, proporciona la información correspondiente a la fecha de Proximo Vencimiento
          format: int32
          example: 20230410
        cardType:
          type: string
          description: Identifica tipo de tarjeta - Para Mastercard se utiliza MC
          example: GC
        grupoctacte:
          type: integer
          description: Este campo de salida, permite ingresar el dato correspondiente al Grupo de cuenta corriente al que pertenecen las cuentas listadas del tarjetahabiente. Valores posibles  11 12 13 14  (que configuran las fechas correspondientes a movimientos y cálculos en  cierres y vencimientos)
          format: int32
          example: 12
        currentBalanceSignLOC:
          type: string
          description: Este campo identifica el signo corespondiente al saldo actual en moneda local.
          example: +
        currentBalanceLOC:
          type: number
          description: Este campo detalla el saldo actual en moneda local.
          example: 20667.55
        currentBalanceSignUSD:
          type: string
          description: Este campo identifica el signo corespondiente al saldo actual en moneda extranjera.
          example: +
        currentBalanceUSD:
          type: number
          description: Este campo detalla el saldo actual en moneda extranjera.
          example: 74.94
        minPaySign:
          type: string
          description: Este campo informa el signo para el pago minimo.
          example: +
        minimumPay:
          type: number
          description: Este campo de salida, proporciona la información correspondiente importe de Pago Mínimo.
          example: 12890
        minPayDueDate:
          type: string
          description: Este campo de salida, proporciona la información correspondiente a la fecha de vencimiento de Pago Mínimo
          example: '20230310'
        fullName:
          type: string
          description: Este campo de salida, permite el ingreso del Apellido y Nombre de la persona, a la cual se le emitirá la tarjeta de crédito.
          example: ESAYAN, JUAN CARLOS
        bankBarCode:
          type: integer
          format: int32
          example: 27
        branchBarCode:
          type: integer
          format: int32
          example: 1
        ProductBarCode:
          type: integer
          format: int32
        DVbankBarCode:
          type: integer
          format: int32
          example: 8
        L137CodProd:
          type: integer
          format: int32
          example: 71
        L137EntUnif:
          type: integer
          format: int32
          example: 27
        L137NroSocio:
          type: integer
          format: int32
          example: 999930605
        L137TipoMoneda:
          type: integer
          format: int32
          example: 0
        L137SignoPMin:
          type: integer
          format: int32
          example: 0
        L137PagoMin:
          type: integer
          format: int32
          example: 12890
        L137SignoSTot:
          type: integer
          format: int32
          example: 0
        L137SaldoTotal:
          type: integer
          format: int32
          example: 20667
        L137DigVer:
          type: integer
          format: int32
          example: 4
        L105CodProd:
          type: integer
          format: int32
          example: 71
        L105EntUnif:
          type: integer
          format: int32
          example: 27
        L105NroSocio:
          type: integer
          format: int32
          example: 999930605
        L105TipoMoneda:
          type: integer
          format: int32
          example: 1
        L105SignoSTot:
          type: integer
          format: int32
          example: 0
        L105SaldoTotal:
          type: integer
          format: int32
          example: 74
        L105DigVer:
          type: integer
          format: int32
          example: 2
        L112Relleno:
          type: integer
          format: int32
          example: 0
        L112TipoMoneda:
          type: integer
          format: int32
          example: 0
        L112Cuenta:
          type: integer
          format: int32
          example: 9999306
        L112additional:
          type: integer
          format: int32
          example: 0
        L112DVSocio:
          type: integer
          format: int32
          example: 5
        L112DVEan13:
          type: integer
          format: int32
          example: 6
        L87Relleno:
          type: integer
          format: int32
          example: 0
        L87TipoMoneda:
          type: integer
          format: int32
          example: 0
        L87Cuenta:
          type: integer
          format: int32
          example: 9999306
        L87additional:
          type: integer
          format: int32
          example: 0
        L87DVSocio:
          type: integer
          format: int32
          example: 5
        L87DVEan13:
          type: integer
          format: int32
          example: 6
      description: Estructura de campos que responde la API LastStatementData
    FinancialDataRequest:
      type: object
      properties:
        accountNumber:
          pattern: ^[0-9A-F]{32}
          type: string
          description: Este campo de entrada, permite ingresar el número de cuenta del tarjetahabiente.
          example: W23X24Y25Z26A1B2C3D4E5F6G7H8I9J1
        additional:
          type: integer
          description: Este campo de entrada, complementa al dato cuenta para identificar unívocamente Titulares y Adicionales de la misma. Conocido también como "AUTORIZADO"
          format: int64
          example: 0
        cardNumber:
          pattern: ^[0-9A-F]{64}
          type: string
          description: Este campo de entrada permite ingresar el número de tarjeta (PAN) encriptado
          example: C3D4E5F6G7H8I9J10K11L12M13N14O15P16Q17R18S19T20U21V22W23X24Y25Z26
      description: Estructura de campos para la solicitud de la API AccountFinData
    FinancialDataResponse:
      type: object
      properties:
        availReturnCodeDescr:
          type: string
          description: Descripción del codigo de respuesta para el retorno de consulta de disponibles.
        creditLimit:
          type: number
          description: Este campo de salida informa el dato correspondiente al Importe en moneda del límite de crédito asignado al tarjetahabiente
          example: 1995000
        installmentsLimit:
          type: number
          description: Este campo de salida informa el limite total para realizar operaciones en cuotas.
          example: 0
        cashAdvanceLimit:
          type: number
          description: Este campo de salida informa el limite asignado para realizar adelantos.
          example: 0
        availCreditLimit:
          type: number
          description: Este campo de salida informa el disponible para realizar operaciones de contado.
          example: 1964456.5
        availInstallmentAmount:
          type: number
          description: Este campo de salida informa el disponible para realizar operaciones en cuotas.
          example: 0
        availCashAdvance:
          type: number
          description: Este campo de salida informa el disponible para realizar adelantos en efectivo.
          example: 0
        grupoctacte:
          type: integer
          description: Este campo de salida, permite ingresar el dato correspondiente al Grupo de cuenta corriente al que pertenecen las cuentas listadas del tarjetahabiente. Valores posibles  11 12 13 14  (que configuran las fechas correspondientes a movimientos y cálculos en  cierres y vencimientos)
          format: int32
          example: 12
        cierreCtaCteAnterior:
          type: integer
          description: Este campo indica la fecha anterior o ultima fecha de cierre de cuenta corriente para la cuenta/tarjeta que se consulta.
          format: int32
          example: 20230126
        previusPaymentDueDate:
          type: integer
          description: Este campo de salida, proporciona la información correspondiente a la fecha de  Vencimiento de Resumen anterior.
          format: int32
          example: 20230206
        cierreCtaCteActual:
          type: integer
          description: Este campo indica la fecha de cierre de cuenta corriente para la cuenta/tarjeta que se consulta.
          format: int32
          example: 20230302
        paymentDueDate:
          type: integer
          description: Este campo de salida, proporciona la información correspondiente a la fecha de Proximo Vencimiento
          format: int32
          example: 20230310
        proximoCierreCtaCte:
          type: integer
          description: Este campo proporciona la fecha de proximo cierre de cuenta.
          format: int32
          example: 20230330
        nextPaymentDueDate:
          type: integer
          description: Este campo de salida, proporciona la información correspondiente a la fecha de Proximo Vencimiento
          format: int32
          example: 20230410
        dailyFinRateLOC:
          type: number
          description: Este campo informa la tasa  diaria de financiaciónpara moneda local.
          example: 0.122
        dailyFinRateDOL:
          type: number
          description: Este campo informa la tasa  diaria de financiaciónpara  moneda local.
          example: 0
        dailyCompensatoryRateLOC:
          type: number
          description: Este campo informa la tasa de intereses compensatorios para moneda local.
          example: 0
        dailyCompensatoryRateUSD:
          type: number
          description: Este campo informa la tasa de intereses compensatorios para moneda extranjera.
          example: 0
        dailyPunitiveRateLOC:
          type: number
          description: Este campo devuelve la tasa diaria correspondiente a punitorios en moneda local
          example: 0.061
        dailyPunitiveRateDOL:
          type: number
          description: Este campo devuelve la tasa diaria correspondiente a punitorios en dólares
          example: 0
        cardType:
          type: string
          description: Identifica tipo de tarjeta - Para Mastercard se utiliza MC
          example: MC
        TEMLoc:
          type: number
          description: Este campo informa la Tasa efectiva mensual en moneda local.
          example: 3.66
        TEMDol:
          type: number
          description: Este campo informa la Tasa Efectiva Mensual en moneda extranjera.
          example: 0
        TNALoc:
          type: number
          description: Este campo informa la tasa nominal anual para moneda local.
          example: 44.64
        TNADol:
          type: number
          description: Este campo informa la tasa nominal anual para moneda extranjera.
          example: 0
      description: Estructura de campos que responde la API AccountFinData
  