################################################################################
# Copyrights © 2021-2022 Fiserv, Inc. or its affiliates. 
# Fiserv is a trademark of Fiserv, Inc., 
# registered or used in the United States and foreign countries, 
# and may or may not be registered in your country.  
# All trademarks, service marks, 
# and trade names referenced in this 
# material are the property of their 
# respective owners. This work, including its contents 
# and programming, is confidential and its use 
# is strictly limited. This work is furnished only 
# for use by duly authorized licensees of Fiserv, Inc. 
# or its affiliates, and their designated agents 
# or employees responsible for installation or 
# operation of the products. Any other use, 
# duplication, or dissemination without the 
# prior written consent of Fiserv, Inc. 
# or its affiliates is strictly prohibited. 
# Except as specified by the agreement under 
# which the materials are furnished, Fiserv, Inc. 
# and its affiliates do not accept any liabilities 
# with respect to the information contained herein 
# and are not responsible for any direct, indirect, 
# special, consequential or exemplary damages 
# resulting from the use of this information. 
# No warranties, either express or implied, 
# are granted or extended by this work or 
# the delivery of this work
################################################################################

openapi: 3.0.1
info:
  title: SilverCore™ Account Service - API Documentation
  description: This documentation describes the REST APIs provided by the SilverCore™
  version: "1.0"
servers:
  - url: https://int.api.firstdata.com/latam-gfs-apis/portal
tags:
  - name: Availability
  - name: TripLog
  - name: Cards
paths:
  /accounts/tripLog:
    get:
      tags:
        - TripLog
      operationId: getTripLog
      parameters:
        - name: X-ClientID
          in: header
          required: true
          schema:
            type: integer
            format: int32
        - name: username
          in: header
          required: true
          schema:
            type: string
        - name: security-contex
          in: header
          required: false
          schema:
            type: string
        - name: requestId
          in: header
          required: false
          schema:
            type: string
        - name: request
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/GetTripLogRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TripLogResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
      x-proxy-name: 'Trip Log '
      x-group-name: Account
      x-child-product-name: Accounts
    put:
      tags:
        - TripLog
      operationId: putTripLog
      parameters:
        - name: X-ClientID
          in: header
          required: true
          schema:
            type: integer
            format: int32
        - name: username
          in: header
          required: true
          schema:
            type: string
        - name: security-contex
          in: header
          required: false
          schema:
            type: string
        - name: requestId
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutTripLogResponse'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TripLogResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
      x-proxy-name: 'Trip Log '
      x-group-name: Account
      x-child-product-name: Accounts
    post:
      tags:
        - TripLog
      operationId: postTripLog
      parameters:
        - name: X-ClientID
          in: header
          required: true
          schema:
            type: integer
            format: int32
        - name: username
          in: header
          required: true
          schema:
            type: string
        - name: security-contex
          in: header
          required: false
          schema:
            type: string
        - name: requestId
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutTripLogResponse'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TripLogResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
      x-proxy-name: 'Trip Log '
      x-group-name: Account
      x-child-product-name: Accounts
  /accounts/limitIncrease:
    get:
      tags:
        - limit-increase-controller
      operationId: setIncrementoLimiteTransitorio
      parameters:
        - name: username
          in: header
          required: true
          schema:
            type: string
        - name: X-ClientID
          in: header
          required: true
          schema:
            type: string
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: requestId
          in: header
          required: false
          schema:
            type: string
        - name: request
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/IncrementoLimiteTransitorioRequest'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/IncrementoLimiteTransitorioResponse'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
      x-proxy-name: Limit Increase
      x-group-name: Account
      x-child-product-name: Accounts
  /accounts/cards:
    get:
      tags:
        - Cards
      summary: La consulta permite listar todas las tarjetas en condiciones de operar para la CUENTA AUTORIZADO de manera de seleccionar sobre cual se le solicitará la información para conformar la imagen de la tarjeta para que el cliente final pueda operar.
      operationId: getConsultaTarjetas
      parameters:
        - name: X-ClientID
          in: header
          required: true
          schema:
            type: integer
            format: int32
        - name: username
          in: header
          required: true
          schema:
            type: string
        - name: security-contex
          in: header
          required: false
          schema:
            type: string
        - name: requestId
          in: header
          required: false
          schema:
            type: string
        - name: request
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/CardsRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardsResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
      x-proxy-name: Cards Account
      x-group-name: Account
      x-child-product-name: Accounts
  /accounts/cardholders:
    get:
      tags:
        - card-holders-controller
      operationId: getConsultaMiembros
      parameters:
        - name: username
          in: header
          required: true
          schema:
            type: string
        - name: X-ClientID
          in: header
          required: true
          schema:
            type: string
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: requestId
          in: header
          required: false
          schema:
            type: string
        - name: request
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/ConsultarMiembrosCuentaRequest'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ConsultarMiembrosCuentaResponse'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
      x-proxy-name: Card Holders
      x-group-name: Account
      x-child-product-name: Accounts
  /accounts/availability:
    get:
      tags:
        - Availability
      summary: Permite al Emisor consultar la disponibilidad del servicio previo al uso de la API que realizará el input para generación de la nueva CUENTA/Tarjeta.
      operationId: getAvailability
      parameters:
        - name: X-ClientID
          in: header
          required: true
          schema:
            type: integer
            format: int32
        - name: username
          in: header
          required: true
          schema:
            type: string
        - name: security-contex
          in: header
          required: false
          schema:
            type: string
        - name: requestId
          in: header
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilityResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
      x-proxy-name: Availability Account
      x-group-name: Account
      x-child-product-name: Accounts
components:
  schemas:
    ErrorDetailsResponse:
      type: object
      properties:
        dateError:
          type: string
          format: date-time
        message:
          type: string
        detail:
          type: string
    Account:
      type: object
      properties:
        fullName:
          type: string
          description: Este campo de salida, proporciona la información del Apellido y Nombre del solicitante
        additional:
          type: integer
          description: Este campo de salida, proporciona el para identificar unívocamente Titulares y Adicionales de la misma. Conocido también como "AUTORIZADO"
          format: int32
        countriesList:
          type: array
          description: Este campo de salida, proporciona los datos de los registros de viajes
          items:
            $ref: '#/components/schemas/Country'
      description: Este campo de salida, proporciona los datos del tarjetahabiente o los tarjetahabientes.
    Country:
      type: object
      properties:
        dateFrom:
          maxLength: 10
          minLength: 10
          type: string
          description: Este campo de salida, proporciona la información correspondiente a la fecha de inicio del Aviso de Viaje
        dateTo:
          maxLength: 10
          minLength: 10
          type: string
          description: Este campo de salida, proporciona la información correspondiente a la fecha de fin del Aviso de Viaje
        countryCode:
          maxLength: 3
          minLength: 3
          type: string
          description: Este campo de salida, proporciona el dato del país destino del Aviso de Viaje
      description: Este campo de salida, proporciona los datos de los registros de viajes
    PutTripLogResponse:
      required:
        - acction
      type: object
      properties:
        accountNumber:
          type: integer
          description: Este campo de entrada, permite ingresar el número de cuenta del tarjetahabiente.
          format: int64
        additional:
          type: integer
          description: Este campo de entrada, complementa al dato cuenta para identificar unívocamente Titulares y Adicionales de la misma. Conocido también como "AUTORIZADO"
          format: int64
        cardNumber:
          maxLength: 64
          minLength: 0
          type: string
          description: Este campo de entrada permite ingresar el número de tarjeta (PAN) encriptado
        acction:
          maxLength: 1
          minLength: 1
          type: string
          description: Este campo de entrada permite la acción a realizar
        accountList:
          maxItems: 10
          minItems: 1
          type: array
          description: Este campo de entrada, proporciona los datos del tarjetahabiente o los tarjetahabientes.
          items:
            $ref: '#/components/schemas/Account'
      description: Estructura de campos que responde a la API TripLog
    TripLogResponse:
      type: object
      properties:
        accountNumber:
          type: integer
          description: Este campo de salida, proporciona el número de cuenta del tarjetahabiente.
          format: int32
        accountList:
          type: array
          description: Este campo de salida, proporciona los datos del tarjetahabiente o los tarjetahabientes.
          items:
            $ref: '#/components/schemas/Account'
      description: Estructura de campos que responde a la API TripLog
    GetTripLogRequest:
      required:
        - acction
      type: object
      properties:
        accountNumber:
          type: integer
          description: Este campo de entrada, permite ingresar el número de cuenta del tarjetahabiente.
          format: int64
        additional:
          type: integer
          description: Este campo de entrada, complementa al dato cuenta para identificar unívocamente Titulares y Adicionales de la misma. Conocido también como "AUTORIZADO"
          format: int64
        cardNumber:
          maxLength: 64
          minLength: 0
          type: string
          description: Este campo de entrada permite ingresar el número de tarjeta (PAN) encriptado
        acction:
          maxLength: 1
          minLength: 1
          type: string
          description: Este campo de entrada permite la acción a realizar
      description: Estructura de campos para la solicitud de la API TripLog
    IncrementoLimiteTransitorioRequest:
      type: object
      properties:
        operationDate:
          type: string
          description: Este campo de entrada proporciona el número de cuenta del tarjetahabiente.
        requestNumber:
          type: string
          description: Este campo de entrada proporciona el número de cuenta del tarjetahabiente.
        bankNumber:
          type: string
          description: Este campo de entrada proporciona el número de cuenta del tarjetahabiente.
        bankBranch:
          type: string
          description: Este campo de entrada proporciona el número de cuenta del tarjetahabiente.
        accountNumber:
          pattern: ^[0-9]{7,9}
          type: string
          description: Este campo de entrada proporciona el número de cuenta del tarjetahabiente.
        additional:
          pattern: ^[0-9]{1,3}
          type: string
          description: Este campo de entrada proporciona el número de cuenta del tarjetahabiente.
        checkDigit:
          type: string
          description: Este campo de entrada proporciona el número de cuenta del tarjetahabiente.
        newLimit:
          type: string
          description: Este campo de entrada proporciona el número de cuenta del tarjetahabiente.
        deadline:
          type: string
          description: Este campo de entrada proporciona el número de cuenta del tarjetahabiente.
    IncrementoLimiteTransitorioResponse:
      type: object
      properties:
        returnCode:
          type: string
          description: Este campo de salida proporciona el código de retorno / rechazo que devuelve el sistema.
        returnCodeDescription:
          type: string
          description: Este campo de salida proporciona la descripción del código de retorno / rechazo que devuelve el sistema.
    CardsRequest:
      required:
        - accountNumber
        - additional
      type: object
      properties:
        accountNumber:
          type: integer
          description: Este campo de entrada, permite ingresar el número de cuenta del tarjetahabiente.
          format: int32
        additional:
          type: integer
          description: Este campo de entrada, complementa al dato cuenta para identificar unívocamente Titulares y Adicionales de la misma. Conocido también como "AUTORIZADO"
          format: int32
    Card:
      type: object
      properties:
        cardNumberM:
          maxLength: 16
          minLength: 16
          type: string
          description: Este campo de salida, proporciona la información del número de tarjeta (PAN) enmascarado
      description: Corresponde a un listado Tarjetas. Cada elemento es un elemento tarjeta
    CardsResponse:
      required:
        - cards
      type: object
      properties:
        cards:
          maxItems: 10
          minItems: 10
          type: array
          description: Corresponde a un listado Tarjetas. Cada elemento es un elemento tarjeta
          items:
            $ref: '#/components/schemas/Card'
    ConsultarMiembrosCuentaRequest:
      type: object
      properties:
        accountNumber:
          pattern: ^[0-9]{5,9}
          type: string
          description: Este campo de entrada, permite ingresar el número de cuenta del tarjetahabiente.
        blockActivateCode:
          pattern: 0|7
          type: string
          description: Este campo de entrada, permite ingresar el motivo de boletín de bloqueo o activación. 0 - permite listar tarjetas para activar, 7 - permite listar tarjetas para denunciar.
        additional:
          pattern: ^[0-9]{1}
          type: string
          description: Esta campo de entrada, permite ingresar el número de Autorizado. 0 - tarejtas de la cuenta, [1-9] - tarjetas del autorizado.
    ConsultarMiembrosCuentaResponse:
      type: object
      properties:
        cards:
          type: array
          items:
            $ref: '#/components/schemas/cuentaResponse'
        returnCode:
          type: string
        returnCodeDescription:
          type: string
        cuentas:
          type: array
          writeOnly: true
          items:
            $ref: '#/components/schemas/cuentaResponse'
    cuentaResponse:
      type: object
      properties:
        accountNumber:
          type: string
          description: Este campo de salida proporciona el número de cuenta del tarjetahabiente.
        additional:
          type: string
          description: Este campo de salida complementa al dato cuenta para identificar unívocamente titulares y adicionales de la misma. Conocido también como Autorizado.
        fullName:
          type: string
          description: Este campo de salida proporciona la información del apellido y nombre del solicitante de la tarjeta de crédito.
        cardNumber:
          type: string
          description: Este campo de salida proporciona el número de tarjeta enmascarado (1234000000001234).
        expirationDate:
          type: string
          description: Este campo de salida proporciona la fecha de vencimiento (MMYYYY).
        isRenewal:
          type: string
          description: Este campo de salida proporciona el información si el tarjetahabiente tiene la marca de renovación de tarjeta.
        desist:
          type: string
          description: Este campo de salida se relaciona con la renovación de la tarjeta y conlleva un SI/NO.
        addressStreetNumber:
          type: string
          description: Este campo de salida proporciona el domicilio del tarjetahabiente detallando el nombre y número de la calle.
        addressFloor:
          type: string
          description: Este campo de salida proporciona el número de piso relacionado al domicilio
        addressApartment:
          type: string
          description: Este campo de salida proporciona el número de departamento relacionado al domicilio.
        countryCode:
          type: string
          description: 'Este campo de salida proporciona el código del país. '
        addressprovinceCode:
          type: string
          description: Este campo de salida proporciona el código de la provincia.
        addressZipCode:
          type: string
          description: Este campo de salida proporciona el código postal.
        city:
          type: string
          description: Este campo de salida proporciona la ciudad relacionada con el domicilio.
    AvailabilityResponse:
      type: object
      properties:
        returnCode:
          type: integer
          description: Este campo de salida, proporciona el código de retorno / rechazo que devuelve el sistema - Ver listado de códigos + descripciones  para la API correspondiente
          format: int32
        returnCodeDescription:
          type: string
          description: Este campo de salida, proporciona la descripción del código de retorno / rechazo que devuelve el sistema - Ver listado de códigos + descripciones  para la API correspondiente
      description: Estructura de campos que responde la API Availability
