################################################################################
# Copyrights © 2021-2022 Fiserv, Inc. or its affiliates. 
# Fiserv is a trademark of Fiserv, Inc., 
# registered or used in the United States and foreign countries, 
# and may or may not be registered in your country.  
# All trademarks, service marks, 
# and trade names referenced in this 
# material are the property of their 
# respective owners. This work, including its contents 
# and programming, is confidential and its use 
# is strictly limited. This work is furnished only 
# for use by duly authorized licensees of Fiserv, Inc. 
# or its affiliates, and their designated agents 
# or employees responsible for installation or 
# operation of the products. Any other use, 
# duplication, or dissemination without the 
# prior written consent of Fiserv, Inc. 
# or its affiliates is strictly prohibited. 
# Except as specified by the agreement under 
# which the materials are furnished, Fiserv, Inc. 
# and its affiliates do not accept any liabilities 
# with respect to the information contained herein 
# and are not responsible for any direct, indirect, 
# special, consequential or exemplary damages 
# resulting from the use of this information. 
# No warranties, either express or implied, 
# are granted or extended by this work or 
# the delivery of this work
################################################################################

openapi: 3.0.1
info:
  title: Silvercore™ Account Service - API Documentation
  description: This documentation describes the REST APIs provided by the Silvercore™
  version: "1.0"
servers:
  - url: https://int.api.firstdata.com/latam-gfs-apis/
    description: Sandbox Test
paths:
  /accounts/tripLog:
    get:
      tags:
        - TripLog
      summary: Permite listar los viajes previamente cargados, históricos, vigentes y futuros.
      operationId: getTripLog
      parameters:
        - name: X-ClientID
          in: header
          description: Número que representa la entidad cliente del servicio en Fiserv.
          required: true
          schema:
            pattern: '[0-9]{1,3}'
            type: string
            description: Número que representa la entidad cliente del servicio en Fiserv.
        - name: username
          in: header
          description: Identificador que representa al usuario.
          required: true
          schema:
            type: string
            description: Identificador que representa al usuario.
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: requestId
          in: header
          required: false
          schema:
            type: string
        - name: request
          in: query
          required: true
          description: 'Estructura de campos para la solicitud de la API TripLog: <br/> <table><thead><tr><th></th><th></th></tr></thead><tbody><tr><td>accountNumber</td><td><span class="font-size-14 font-italic api-explorer-type">string</span><br>Este campo de entrada, permite ingresar el número de cuenta del tarjetahabiente.</td></tr><tr><td>additional</td><td><span class="font-size-14 font-italic api-explorer-type">string</span><br>Esta campo de entrada, permite ingresar el número de Autorizado.</td></tr><tr><td>cardNumber</td><td><span class="font-size-14 font-italic api-explorer-type">string</span><br>Este campo de entrada permite ingresar el número de tarjeta (PAN) encriptado en formato hexadecimal con longitud de 64 caracteres.</td></tr></tbody></table>'
          schema:
            $ref: '#/components/schemas/TripLogRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TripLogResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: 'Trip Log GET'
      x-group-name: Account
      x-child-product-name: Accounts
    put:
      tags:
        - TripLog
      summary: Ejecuta Bajas o Modificaciones de uno o varios avisos de viaje previamente cargado. El emisor armara el PUT con los datos que obtiene originalmente del GET (Viajes cargados) ofreciendo al cliente la modificación/baja de alguno de ellos.
      operationId: putTripLog
      parameters:
        - name: X-ClientID
          in: header
          description: Número que representa la entidad cliente del servicio en Fiserv.
          required: true
          schema:
            pattern: '[0-9]{1,3}'
            type: string
            description: Número que representa la entidad cliente del servicio en Fiserv.
        - name: username
          in: header
          description: Identificador que representa al usuario.
          required: true
          schema:
            type: string
            description: Identificador que representa al usuario.
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: requestId
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostTripLogResponse'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TripLogResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: 'Trip Log PUT'
      x-group-name: Account
      x-child-product-name: Accounts
    post:
      tags:
        - TripLog
      summary: Posibilita generar la carga de un nuevo viaje para uno o varios integrantes de la cuenta. (Una o varias tarjetas)
      operationId: postTripLog
      parameters:
        - name: X-ClientID
          in: header
          description: Número que representa la entidad cliente del servicio en Fiserv.
          required: true
          schema:
            pattern: '[0-9]{1,3}'
            type: string
            description: Número que representa la entidad cliente del servicio en Fiserv.
        - name: username
          in: header
          description: Identificador que representa al usuario.
          required: true
          schema:
            type: string
            description: Identificador que representa al usuario.
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: requestId
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostTripLogResponse'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TripLogResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: 'Trip Log POST'
      x-group-name: Account
      x-child-product-name: Accounts
    delete:
      tags:
        - tripLog
      summary: Permite la Baja o Borrado de todos los viajes previamente cargados. El emisor armara el DEL  ofreciendo al cliente la eliminación del histórico de  viajes previamente cargados.
      operationId: deleteTripLog
      parameters:
        - name: X-ClientID
          in: header
          description: Número que representa la entidad cliente del servicio en Fiserv.
          required: true
          schema:
            pattern: '[0-9]{1,3}'
            type: string
            description: Número que representa la entidad cliente del servicio en Fiserv.
        - name: username
          in: header
          description: Identificador que representa al usuario.
          required: true
          schema:
            type: string
            description: Identificador que representa al usuario.
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: requestId
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TripLogRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TripLogResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: 'Trip Log DELETE'
      x-group-name: Account
      x-child-product-name: Accounts
  /accounts/limitIncrease:
    post:
      tags:
        - limitIncrease
      operationId: setIncrementoLimiteTransitorio
      parameters:
        - name: X-ClientID
          in: header
          required: true
          schema:
            pattern: '[0-9]{1,3}'
            type: string
        - name: username
          in: header
          required: true
          schema:
            type: string
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: requestId
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IncrementoLimiteTransitorioRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitIncreaseResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
      x-proxy-name: Limit Increase
      x-group-name: Account
      x-child-product-name: Accounts
  /accounts/cards:
    get:
      tags:
        - Cards
      summary: La consulta permite listar todas las tarjetas en condiciones de operar para la CUENTA AUTORIZADO de manera de seleccionar sobre cual se le solicitará la información para conformar la imagen de la tarjeta para que el cliente final pueda operar.
      operationId: getConsultaTarjetas
      parameters:
        - name: X-ClientID
          in: header
          description: Número que representa la entidad cliente del servicio en Fiserv.
          required: true
          schema:
            type: integer
            format: int32
            description: Número que representa la entidad cliente del servicio en Fiserv.
        - name: username
          in: header
          description: Identificador que representa al usuario.
          required: true
          schema:
            type: string
            description: Identificador que representa al usuario.
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: requestId
          in: header
          required: false
          schema:
            type: string
        - name: request
          in: query
          description: 'Estructura de campos para la solicitud de la API Cards: <br> <table><thead><tr><th></th><th></th></tr></thead><tbody><tr><td>accountNumber</td><td><span class="font-size-14 font-italic api-explorer-type">string</span><br>Este campo de entrada, permite ingresar el número de cuenta del tarjetahabiente.</td></tr><tr><td>additional</td><td><span class="font-size-14 font-italic api-explorer-type">int</span><br>Este campo de entrada, complementa al dato cuenta para identificar unívocamente Titulares y Adicionales de la misma. Conocido también como "AUTORIZADO"</td></tr></tbody></table>'
          required: true
          schema:
            $ref: '#/components/schemas/CardsRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Cards
      x-group-name: Account
      x-child-product-name: Accounts
  /accounts/cardholders:
    get:
      tags:
        - Card Holders
      summary: La consulta permite listar todas las tarjetas en condiciones de ser activadas de todos  los componentes de una cuenta (Titular + Adicionales) de manera de seleccionar sobre cual de ellos se solicitará la acción de DENUNCIAR / BLOQUEAR / NO REIMPRIMIR
      operationId: getConsultaMiembros
      parameters:
        - name: username
          in: header
          required: true
          schema:
            type: string
        - name: X-ClientID
          in: header
          required: true
          schema:
            type: integer
            format: int32
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: requestId
          in: header
          required: false
          schema:
            type: string
        - name: request
          in: query
          required: true
          description: 'Estructura de campos para la solicitud de la API Cards: <br> <table><thead><tr><th></th><th></th></tr></thead><tbody><tr><td>accountNumber</td><td><span class="font-size-14 font-italic api-explorer-type">string</span><br>Este campo de entrada, permite ingresar el número de cuenta del tarjetahabiente.</td></tr><tr><td>additional</td><td><span class="font-size-14 font-italic api-explorer-type">int</span><br>Esta campo de entrada, permite ingresar el número de Autorizado.</td></tr><tr><td>blockActivateCode</td><td><span class="font-size-14 font-italic api-explorer-type">string</span><br>Este campo de entrada, permite ingresar el motivo de boletín de bloqueo o activación. 0 - permite listar tarjetas para activar, 7 - permite listar tarjetas para denunciar.<span class="font-size-14 font-italic api-explorer-type">pattern 0|7</span></td></tr></tbody></table>'
          schema:
            $ref: '#/components/schemas/CardHoldersRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardHoldersResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Card Holders
      x-group-name: Account
      x-child-product-name: Accounts
  /accounts/availability:
    get:
      tags:
        - Availability
      summary: Permite al Emisor consultar la disponibilidad del servicio previo al uso de la API que realizará el input para generación de la nueva CUENTA/Tarjeta.
      operationId: getAvailability
      parameters:
        - name: X-ClientID
          in: header
          description: Número que representa la entidad cliente del servicio en Fiserv.
          required: true
          schema:
            type: integer
            format: int32
            description: Número que representa la entidad cliente del servicio en Fiserv.
        - name: username
          in: header
          description: Identificador que representa al usuario.
          required: true
          schema:
            type: string
            description: Identificador que representa al usuario.
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: requestId
          in: header
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilityResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      - code: 0
                        description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Availability
      x-group-name: Account
      x-child-product-name: Accounts
components:
  schemas:
    ErrorDetailsResponse:
      type: object
      properties:
        dateError:
          type: string
          format: date-time
        message:
          type: string
        detail:
          type: string
    Country:
      type: object
      properties:
        dateFrom:
          type: string
          description: Este campo de salida, proporciona la información correspondiente a la fecha de inicio del Aviso de Viaje
        dateTo:
          type: string
          description: Este campo de salida, proporciona la información correspondiente a la fecha de fin del Aviso de Viaje
        countryCode:
          type: string
          description: Este campo de salida, proporciona el dato del país destino del Aviso de Viaje
      description: Este campo de salida, proporciona los datos de los registros de viajes
    PostTripLogResponse:
      required:
        - countriesList
      type: object
      properties:
        accountNumber:
          pattern: '[0-9A-F]{32}'
          type: string
          description: Este campo de entrada, permite ingresar el número de cuenta del tarjetahabiente encriptado.
        additional:
          pattern: '[0-9]'
          type: string
          description: Este campo de entrada, complementa al dato cuenta para identificar unívocamente Titulares y Adicionales de la misma. Conocido también como "AUTORIZADO"
        cardNumber:
          pattern: '[0-9A-F]{64}'
          type: string
          description: Este campo de entrada permite ingresar el número de tarjeta (PAN) encriptado
        countriesList:
          maxItems: 5
          minItems: 5
          type: array
          description: Este campo de entrada proporciona los datos de los registros de viajes
          items:
            $ref: '#/components/schemas/Country'
      description: Estructura de campos que responde a la API TripLog
    ErrorFiserVDetailsResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
        description:
          type: string
    ErrorFiserVResponse:
      type: object
      properties:
        errorResponse:
          $ref: '#/components/schemas/ErrorFiserVDetailsResponse'
    Account:
      type: object
      properties:
        fullName:
          type: string
          description: Este campo de salida, proporciona la información del Apellido y Nombre del solicitante
        additional:
          type: string
          description: Este campo de salida, proporciona el para identificar unívocamente Titulares y Adicionales de la misma. Conocido también como "AUTORIZADO"
        countriesList:
          type: array
          description: Este campo de salida, proporciona los datos de los registros de viajes
          items:
            $ref: '#/components/schemas/Country'
      description: Este campo de salida, proporciona los datos del tarjetahabiente o los tarjetahabientes.
    TripLogResponse:
      type: object
      properties:
        accountList:
          type: array
          description: Este campo de salida, proporciona los datos del tarjetahabiente o los tarjetahabientes.
          items:
            $ref: '#/components/schemas/Account'
      description: Estructura de campos que responde a la API TripLog
    IncrementoLimiteTransitorioRequest:
      required:
        - bankBranch
        - checkDigit
        - deadline
        - newLimit
        - requestNumber
      type: object
      properties:
        accountNumber:
          pattern: '[0-9A-F]{32}'
          type: string
          description: Este campo de entrada, permite ingresar el número de cuenta del tarjetahabiente encriptado.
        additional:
          pattern: '[0-9]'
          type: string
          description: Este campo de entrada, complementa al dato cuenta para identificar unívocamente Titulares y Adicionales de la misma. Conocido también como "AUTORIZADO"
        cardNumber:
          pattern: '[0-9A-F]{64}'
          type: string
          description: Este campo de entrada permite ingresar el número de tarjeta (PAN) encriptado
        requestNumber:
          pattern: ^[0-9]{1,6}
          type: string
          description: Número de solicitud
        bankBranch:
          pattern: '[0-9]{3}'
          type: string
          description: Identificador de Sucursal
        checkDigit:
          pattern: '[0-9]'
          type: string
          description: Dígito Verificador
        newLimit:
          pattern: '[0-9]{1,15}'
          type: string
          description: Nuevo Límite
        deadline:
          type: string
          description: Fecha de finalización
    LimitIncreaseResponse:
      type: object
      properties:
        returnCode:
          type: string
          description: Este campo de salida proporciona el código de retorno / rechazo que devuelve el sistema.
        returnCodeDescription:
          type: string
          description: Este campo de salida proporciona la descripción del código de retorno / rechazo que devuelve el sistema.
    TripLogRequest:
      type: object
      properties:
        accountNumber:
          pattern: '[0-9A-F]{32}'
          type: string
          description: Este campo de entrada, permite ingresar el número de cuenta del tarjetahabiente encriptado.
        additional:
          pattern: '[0-9]'
          type: string
          description: Este campo de entrada, complementa al dato cuenta para identificar unívocamente Titulares y Adicionales de la misma. Conocido también como "AUTORIZADO"
        cardNumber:
          pattern: '[0-9A-F]{64}'
          type: string
          description: Este campo de entrada permite ingresar el número de tarjeta (PAN) encriptado
      description: Estructura de campos para la solicitud de la API TripLog
    CardsRequest:
      required:
        - accountNumber
        - additional
      type: object
      properties:
        accountNumber:
          pattern: ^[0-9A-F]{32}
          type: string
          description: Este campo de entrada, permite ingresar el número de cuenta del tarjetahabiente.
        additional:
          type: integer
          description: Este campo de entrada, complementa al dato cuenta para identificar unívocamente Titulares y Adicionales de la misma. Conocido también como "AUTORIZADO"
          format: int32
      description: Estructura de campos para la solicitud de la API Reissue Card
    Card:
      type: object
      properties:
        cardNumberM:
          maxLength: 16
          minLength: 16
          type: string
          description: Este campo de salida, proporciona la información del número de tarjeta (PAN) enmascarado
          example: '1234000000001234'
      description: Corresponde a un listado Tarjetas. Cada elemento es un elemento tarjeta
    CardsResponse:
      required:
        - cards
      type: object
      properties:
        cards:
          maxItems: 10
          minItems: 10
          type: array
          description: Corresponde a un listado Tarjetas. Cada elemento es un elemento tarjeta
          items:
            $ref: '#/components/schemas/Card'
      description: Estructura de campos que responde la API Cards
    CardHoldersRequest:
      required:
        - accountNumber
        - additional
        - blockActivateCode
      type: object
      properties:
        accountNumber:
          pattern: ^[0-9A-F]{32}
          type: string
          description: Este campo de entrada, permite ingresar el número de cuenta del tarjetahabiente.
        blockActivateCode:
          pattern: 0|7
          type: string
          description: Este campo de entrada, permite ingresar el motivo de boletín de bloqueo o activación. 0 - permite listar tarjetas para activar, 7 - permite listar tarjetas para denunciar.
        additional:
          pattern: ^[0-9]{1}
          type: string
          description: Esta campo de entrada, permite ingresar el número de Autorizado. 0 - tarejtas de la cuenta, [1-9] - tarjetas del autorizado.
      description: Estructura de campos para la solicitud de la API Card Holders
    CardAccount:
      type: object
      properties:
        additional:
          type: string
          description: Este campo de salida complementa al dato cuenta para identificar unívocamente titulares y adicionales de la misma. Conocido también como Autorizado.
          example: '0'
        fullName:
          type: string
          description: Este campo de salida proporciona la información del apellido y nombre del solicitante de la tarjeta de crédito.
          example: BERTAZZINI,JORGE
        cardNumber:
          type: string
          description: Este campo de salida proporciona el número de tarjeta enmascarado (1234000000001234).
          example: '5505000000007223'
        isRenewal:
          type: string
          description: Este campo de salida proporciona el información si el tarjetahabiente tiene la marca de renovación de tarjeta.
          example: S
        desist:
          type: string
          description: Este campo de salida se relaciona con la renovación de la tarjeta y conlleva un SI/NO.
          example: 'N'
        addressStreetNumber:
          type: string
          description: Este campo de salida proporciona el domicilio del tarjetahabiente detallando el nombre y número de la calle.
          example: SIN DOMICILIO
        addressFloor:
          type: string
          description: Este campo de salida proporciona el número de piso relacionado al domicilio
        addressApartment:
          type: string
          description: Este campo de salida proporciona el número de departamento relacionado al domicilio.
        countryCode:
          type: string
          description: 'Este campo de salida proporciona el código del país. '
        addressprovinceCode:
          type: string
          description: Este campo de salida proporciona el código de la provincia.
          example: '0'
        addressZipCode:
          type: string
          description: Este campo de salida proporciona el código postal.
          example: '0'
        city:
          type: string
          description: Este campo de salida proporciona la ciudad relacionada con el domicilio.
      description: Corresponde a un listado. Cada elemento es un elemento tarjeta-cuenta
    CardHoldersResponse:
      type: object
      properties:
        cards:
          type: array
          description: Corresponde a un listado. Cada elemento es un elemento tarjeta-cuenta
          items:
            $ref: '#/components/schemas/CardAccount'
        returnCode:
          type: string
        returnCodeDescription:
          type: string
      description: Estructura de campos que responde la API Card Holders
    AvailabilityResponse:
      type: object
      properties:
        returnCode:
          type: integer
          description: Este campo de salida, proporciona el código de retorno / rechazo que devuelve el sistema - Ver listado de códigos + descripciones  para la API correspondiente
          format: int32
          example: 1
        returnCodeDescription:
          type: string
          description: Este campo de salida, proporciona la descripción del código de retorno / rechazo que devuelve el sistema - Ver listado de códigos + descripciones  para la API correspondiente
          example: SISTEMA DISPONIBLE
      description: Estructura de campos que responde la API Availability
