################################################################################
# Copyrights © 2021-2022 Fiserv, Inc. or its affiliates. 
# Fiserv is a trademark of Fiserv, Inc., 
# registered or used in the United States and foreign countries, 
# and may or may not be registered in your country.  
# All trademarks, service marks, 
# and trade names referenced in this 
# material are the property of their 
# respective owners. This work, including its contents 
# and programming, is confidential and its use 
# is strictly limited. This work is furnished only 
# for use by duly authorized licensees of Fiserv, Inc. 
# or its affiliates, and their designated agents 
# or employees responsible for installation or 
# operation of the products. Any other use, 
# duplication, or dissemination without the 
# prior written consent of Fiserv, Inc. 
# or its affiliates is strictly prohibited. 
# Except as specified by the agreement under 
# which the materials are furnished, Fiserv, Inc. 
# and its affiliates do not accept any liabilities 
# with respect to the information contained herein 
# and are not responsible for any direct, indirect, 
# special, consequential or exemplary damages 
# resulting from the use of this information. 
# No warranties, either express or implied, 
# are granted or extended by this work or 
# the delivery of this work
################################################################################

openapi: 3.0.1
info:
  title: SilverCore™ Cards Service - API Documentation
  description: This documentation describes the REST APIs provided by the SilverCore™
  version: "1.0"
servers:
  - url: https://int.api.firstdata.com/latam-gfs-apis/portal

tags:
  - name: CardNumber
  - name: CVV
  - name: Instant Issuance
paths:
  /cards/reissue:
    post:
      tags:
        - reissue-controller
      operationId: setReimpresion
      parameters:
        - name: username
          in: header
          required: true
          schema:
            type: string
        - name: X-ClientID
          in: header
          required: true
          schema:
            type: string
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: requestId
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReissueRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ReimpresionResponse'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
      x-proxy-name: Reissue Card
      x-group-name: Card
      x-child-product-name: Cards
  /cards/instantIssuance:
    post:
      tags:
        - Instant Issuance
      summary: Permite al emisor gestionar el alta de una nueva CUENTA/TARJETA o Adicionales de una CUENTA/Tarjeta existente en forma inmediata, el sistema permite la respuesta de DATOS de la TARJETA (conocido como VOUCHER) o bien la salida de DATOS DE PERSONALIZACION para input a una embozadora certificada Contactless (Embozado a Distancia)
      operationId: postInstantIssuanceService
      parameters:
        - name: X-ClientID
          in: header
          required: true
          schema:
            type: integer
            format: int32
        - name: username
          in: header
          required: true
          schema:
            type: string
        - name: security-contex
          in: header
          required: false
          schema:
            type: string
        - name: requestId
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstantIssuanceRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstantIssuanceResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
      x-proxy-name: Instant Issuance
      x-group-name: Card
      x-child-product-name: Cards
  /cards/blockRequest:
    post:
      tags:
        - block-request-controller
      operationId: setBloqueo
      parameters:
        - name: username
          in: header
          required: true
          schema:
            type: string
        - name: X-ClientID
          in: header
          required: true
          schema:
            type: string
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: requestId
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BloqueoRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BloqueoResponse'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
      x-proxy-name: Block Card
      x-group-name: Card
      x-child-product-name: Cards
  /cards/activation:
    post:
      tags:
        - activation-controller
      operationId: setActivarTarjeta
      parameters:
        - name: username
          in: header
          required: true
          schema:
            type: string
        - name: X-ClientID
          in: header
          required: true
          schema:
            type: string
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: requestId
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/activacionTarjetaRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/activacionTarjetaResponse'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
      x-proxy-name: Activation Card
      x-group-name: Card
      x-child-product-name: Cards
  /cards/cvv:
    get:
      tags:
        - CVV
      summary: La API devuelve el CVC2/CVV2 (Encriptado/en calculo o de manera segura) para la tarjeta seleccionada (Pan enmascarado + Cuenta Autorizado) de manera que el emisor pueda conformar los datos de la tarjeta (al dorso) completando la información de la tarjeta.
      operationId: getCvv
      parameters:
        - name: X-ClientID
          in: header
          required: true
          schema:
            type: integer
            format: int32
        - name: username
          in: header
          required: true
          schema:
            type: string
        - name: security-contex
          in: header
          required: false
          schema:
            type: string
        - name: requestId
          in: header
          required: false
          schema:
            type: string
        - name: request
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/CvvRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CvvResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
      x-proxy-name: CVV
      x-group-name: Card
      x-child-product-name: Cards
  /cards/cardNumber:
    get:
      tags:
        - CardNumber
      summary: La API devuelve datos completos de la tarjeta seleccionada (Pan enmascarado + Cuenta Autorizado) de manera que el emisor pueda conformar los datos del frente de la tarjeta (PAN VTO Datos del cliente)
      operationId: getCardNumber
      parameters:
        - name: X-ClientID
          in: header
          required: true
          schema:
            pattern: '[0-9]{1,3}'
            type: string
        - name: username
          in: header
          required: true
          schema:
            type: string
        - name: security-contex
          in: header
          required: false
          schema:
            type: string
        - name: requestId
          in: header
          required: false
          schema:
            type: string
        - name: request
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/CardNumberRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardNumberResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
      x-proxy-name: Card Number
      x-group-name: Card
      x-child-product-name: Cards
  /cards/blockRequestFees:
    get:
      tags:
        - block-request-fees-controller
      operationId: getCostoBloqueo
      parameters:
        - name: username
          in: header
          required: true
          schema:
            type: string
        - name: X-ClientID
          in: header
          required: true
          schema:
            type: string
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: requestId
          in: header
          required: false
          schema:
            type: string
        - name: request
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/blockRequestFeesRequest'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/blockRequestFeesResponse'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
      x-proxy-name: Block Fees Card
      x-group-name: Card
      x-child-product-name: Cards
components:
  schemas:
    ErrorDetailsResponse:
      type: object
      properties:
        dateError:
          type: string
          format: date-time
        message:
          type: string
        detail:
          type: string
    ReissueRequest:
      type: object
      properties:
        accountNumber:
          pattern: ^[0-9]{7,9}
          type: string
          description: Este campo de entrada, permite ingresar el número de cuenta del tarjetahabiente.
        additional:
          pattern: ^[0-9]{1,3}
          type: string
          description: Esta campo de entrada, permite ingresar el número de Autorizado.
        cardNumber:
          pattern: ^[0-9A-F]{64}
          type: string
          description: Este campo de entrada permite ingresar el número de tarjeta (PAN) encriptado en formato hexadecimal con longitud de 48 caracteres.
        cardNumberM:
          pattern: ^[0-9]{4}[0]{8}[0-9]{4}
          type: string
          description: 'Este campo de entrada, permite ingresar el número de tarjeta PAN, formato: 1234000000001234'
        comments:
          maxLength: 120
          minLength: 0
          type: string
          description: Este campo de entrada, permite ingresar comentarios adicionales en el proceso de solicitud de bloqueo y/o reimpresion.
        addressId:
          pattern: C|N
          type: string
          description: Este campo de entrada, permite ingresar el Id de la dirección, C = dirección de la cuenta registrada en el sistema, N = dirección nueva que es proporcionada en la solicitud (No actualiza el domicilio del socio).
        issuingType:
          pattern: F|V|0
          type: string
          description: Este campo de entrada, permite ingresar el tipo de emisión que tendrá la tarjeta, pudiendo optar por la personalización y envío de la tarjeta plástica como fisica (F) , la emisión para consulta y uso virtual (V), el campo es opcional y puede enviarse 'ESPACIO o SIN INFORMAR'.
    ReimpresionResponse:
      type: object
      properties:
        returnCode:
          type: string
          description: Este campo de salida proporciona el código de retorno / rechazo que devuelve el sistema.
        returnCodeDescription:
          type: string
          description: Este campo de salida proporciona la descripción del código de retorno / rechazo que devuelve el sistema.
        blockNumber:
          type: string
          description: Este campo de salida indica el número de denuncia / bloqueo / reimpresión
        orderNumber:
          type: string
          description: Este campo de salida indica el número de gestión / pedido con el cual se registra la acción.
    InstantIssuanceRequest:
      required:
        - branchNumber
        - brandCode
        - dateOfBirth
        - fullName
        - gender
        - idCode
        - internalRequestNumber
        - nationality
        - number
        - operationDate
        - productCode
      type: object
      properties:
        branchNumber:
          type: integer
          description: Este campo de entrada, permite ingresar el dato correspondiente al código de la sucursal bancaria donde el socio tiene radicada su cuenta / tarjeta.
          format: int32
        brandCode:
          type: integer
          description: 'Este campo de entrada, permite ingresar el código correspondiente a la marca/bandera de la tarjeta a la cual se solicita el alta instantánea. Ejemplo: Código 1: Mastercard '
          format: int32
        productCode:
          type: integer
          description: 'Este campo de entrada, permite ingresar el código correspondiente al tipo de producto de la marca/bandera. Ejemplo: 43: MasterCard Black (Personal)'
          format: int32
        issuingType:
          maxLength: 1
          minLength: 0
          type: string
          description: En este campo de entrada se ingresa el tipo de emisión que tendrá la tarjeta, pudiendo optar por la personalización y envío de la tarjeta plástica como fisica (F) , la emisión para consulta y uso virtual (V)
        operationDate:
          maxLength: 10
          minLength: 10
          pattern: ^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$
          type: string
          description: Este campo de entrada, permite ingresar el dato correspondiente a la fecha en que se realiza la operación de Alta Instantánea.
        internalRequestNumber:
          type: integer
          description: Este campo de entrada, permite ingresar el número de solicitud interno de la entidad emisora.
          format: int32
        accountNumber:
          type: integer
          description: Este campo de entrada, permite ingresar el número de cuenta del tarjetahabiente.
          format: int32
        additional:
          type: integer
          description: Este campo de entrada, complementa al dato cuenta para identificar unívocamente Titulares y Adicionales de la misma. Conocido también como "AUTORIZADO"
          format: int32
        checkDigit:
          type: integer
          description: Este campo de entrada, permite ingresar el dato correspondiente al Dígito Verificador
          format: int32
        corporateAccount:
          type: integer
          description: Este campo de entrada, permite ingresar el dato correspondiente al número asignado a la cuenta empresa para la cual se emitirá la tarjeta.
          format: int32
        fullName:
          maxLength: 24
          minLength: 1
          type: string
          description: Este campo de entrada, permite el ingreso del Apellido y Nombre de la persona, a la cual se le emitirá la tarjeta de crédito.
        affinityGroupCode:
          type: integer
          description: Este campo de entrada, permite ingresar el dato correspondiente al dígito Verificador del grupo de afinidad.
          format: int32
        affinityGrounCheckDigit:
          type: integer
          description: Esto campo de entrada, permite ingresar el dato correspondiente al nombre del grupo de afinidad.
          format: int32
        affinityGroupdescription:
          maxLength: 17
          minLength: 0
          type: string
          description: Esto campo de entrada, permite ingresar el dato correspondiente al nombre del grupo de afinidad.
        streetNumber:
          maxLength: 30
          minLength: 0
          type: string
          description: Este campo de entrada, permite ingresar el dato correspondiente al Domicilio del Tarjetahabiente, detallando el Nombre y Número de la calle.
        addressFloor:
          maxLength: 2
          minLength: 0
          type: string
          description: Este campo de entrada, permite ingresar el dato correspondiente al Número de Piso relacionado al domicilio.
        addressApartment:
          maxLength: 3
          minLength: 0
          type: string
          description: Este campo de entrada, permite ingresar el dato correspondiente al Número de Departamento relacionado al domicilio
        addressZipCode:
          type: integer
          description: Este campo de entrada, permite ingresar el dato correspondiente al Código Postal relacionado al domicilio
          format: int32
        city:
          maxLength: 20
          minLength: 0
          type: string
          description: Este campo de entrada, permite ingresar el dato correspondiente al Número de Departamento relacionado al domicilio
        addressprovinceCode:
          type: integer
          description: Este campo de entrada, permite ingresar el dato correspondiente al Código de la Provincia relacionada al domicilio
          format: int32
        distributionCode:
          maxLength: 2
          minLength: 0
          type: string
          description: Este campo de entrada, permite ingresar el dato correspondiente al código de distribución que representa un identificador para la permisionaria durante el flujo de delivery de la tarjeta.
        phoneNumber:
          maxLength: 12
          minLength: 0
          type: string
          description: Este campo de entrada, permite ingresar el dato correspondiente al número de teléfono del tarjetahabiente.
        cuit:
          type: integer
          description: Este campo de entrada, permite ingresar el dato correspondiente al nro. de CUIT en Argentina o RUT en Uruguay. El CUIT o RUT son los números de identificación de las empresas ante el Fisco
          format: int64
        codCedula:
          maxLength: 2
          minLength: 0
          type: string
          description: Este campo de entrada, permite el ingreso del Código de Cedula.
        numeroCedula:
          type: integer
          description: Este campo de entrada, permite ingresar el dato correspondiente al número de cédula de identidad del tarjetahabiente.
          format: int32
        idCode:
          maxLength: 2
          minLength: 1
          type: string
          description: 'Este campo de entrada, permite ingresar el Código de Documento. En Argentina y Uruguay, los documentos tienen distintos tipos de códigos según su categoría. Por ejemplo: DU (Documento Único)'
        number:
          type: integer
          description: Este campo de entrada, permite ingresar el dato correspondiente al número de Documento de identidad del tarjetahabiente.
          format: int32
        dateOfBirth:
          maxLength: 10
          minLength: 10
          pattern: ^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$
          type: string
          description: Este campo de salida, proporciona el dato correspondiente a la fecha de nacimiento del tarjetahabiente.
        nationality:
          maxLength: 3
          minLength: 3
          type: string
          description: 'Este campo de entrada, permite ingresar el dato correspondiente al Código de Nacionalidad del tarjetahabiente. '
        gender:
          maxLength: 1
          minLength: 1
          type: string
          description: Este campo de entrada, permite ingresar el dato correspondiente para la identificación del Sexo/Genero del tarjetahabiente.
        cardDuration:
          type: integer
          description: 'Este campo de entrada, permite ingresar el dato correspondiente a la Duración de la tarjeta. Siendo las opciones 12: Anual; 24: Bienal; 36: Trienal.'
          format: int32
        creditLimitChar:
          maxLength: 1
          minLength: 0
          type: string
          description: Este campo de entrada, permite ingresar la letra correspondiente al límite de compra asignado al tarjetahabiente.
        creditLimitCoefficient:
          maximum: 9
          type: number
          description: Este campo de entrada, permite ingresar el dato correspondiente al coeficiente de modificación de limite de crédito.
        creditLimit:
          type: integer
          description: Este campo de entrada, permite ingresar el dato correspondiente al Importe en moneda del límite de crédito asignado al tarjetahabiente. Información asignada por la entidad otorgante.
          format: int64
        minimumPaymentTerm:
          type: integer
          description: |-
            Este campo de entrada, permite ingresar el dato correspondiente a la cantidad de días que deben sumarse a los consignados en la ocurrencia del submodelo de parámetros para fijar la
            fecha de vencimiento del plazo de pago del resumen de cuenta actual y futuros. 
          format: int32
        loyaltyProgramCode:
          type: integer
          description: Este campo de entrada, permite ingresar los datos correspondientes al código de Sumapuntos/Millaje al que debe pertenecer la cuenta, con el fin de establecer los puntajes pertenecientes al programa
          format: int32
        paymentMethod:
          maxLength: 1
          minLength: 0
          type: string
          description: 'Este campo de entrada, permite ingresar el método de la forma/método de pago seleccionado por el tarjetahabiente. '
        paymentMethodDEBIT:
          type: integer
          description: Este campo de entrada, permite ingresar el método de la forma de pago por débito en la cuenta de la entidad bancaria (emisora)
          format: int32
        paymentMethodACCOUNT:
          type: integer
          description: Este campo de entrada, permite ingresar el dato correspondiente a la forma de pago de la cuenta, en el caso particular que sea por Ventanilla, Ventanilla con Retención del resumen y/o Retención Judicial
          format: int64
        paymentMethodBANK:
          type: integer
          description: Este campo de entrada, permite ingresar los datos correspondiente a la Forma de Pago de Debito en Cuenta con la entidad otorgante
          format: int32
        instalmentsServiceFee:
          type: integer
          description: Este campo de entrada, permite ingresar los datos correspondientes para determinar la cantidad de cuotas para el cobro del mantenimiento de cuenta.
          format: int32
        waiveServiceFee:
          type: integer
          description: Este campo de entrada, permite ingresar los datos correspondientes para determinar si al tarjetahabiente se le bonificará el cargo por el servicio. Este campo también permitirá conocer el porcentaje de bonificación que se aplicará.  Este valor podrá  variar entre 000 y 100. Para eliminar esta bonificación se informará 999. Si no se modifica este campo se informarán ceros
          format: int32
        keepServFeeWaiver:
          type: integer
          description: Este campo de entrada, permite ingresar los datos correspondientes para determinar si el tarjetahabiente mantiene o no la bonificación del cargo.
          format: int32
        grupoctacte:
          type: integer
          description: Este campo de entrada, permite ingresar el dato correspondiente al Grupo de cuenta corriente al que pertenecen las cuentas listadas del tarjetahabiente
          format: int32
        guarantor:
          type: integer
          description: 'Este campo de entrada, permite ingresas el dato correspondiente a si tiene o no garante asignado. '
          format: int32
        advanceATMCoefficient:
          maximum: 9
          type: number
          description: Este campo de entrada, permite ingresar el dato correspondiente al coeficiente de adelanto en ATM
        occupationCode:
          type: integer
          description: Este campo de entrada, permite ingresar el código correspondiente al tipo de ocupación del solicitante de la tarjeta
          format: int32
        addressHomeBusiness:
          maxLength: 1
          minLength: 0
          type: string
          description: 'Este campo de entrada, permite ingresar el dato correspondiente al Tipo de domicilio: Particular o Laboral.'
        authorizationModelNumber:
          maxLength: 5
          minLength: 0
          type: string
          description: Esto campo de entrada, permite ingresar el dato correspondiente al número que identifica el Modelo de autorización que rige a la tarjeta
        settelmentModel:
          maxLength: 5
          minLength: 0
          type: string
          description: 'Esta campo de entrada, permite ingresar el dato correspondiente al tipo de modelo de liquidación seleccionado por el tarjetahabiente. '
        sbmTasasLiquidacion:
          type: integer
          description: Este campo de entrada, permite ingresar los datos correspondientes para indicar la ocurrencia del Submodelo de Tasar que forma parte del Modelo de Liquidación asignado a la cuenta del tarjetahabiente
          format: int32
        sbmGastosLiq:
          type: integer
          description: Este campo de entrada, permite ingresar los datos correspondientes a la definición del SubModelo de Gastos de Liquidación, el cual es un conjunto de parámetros y atributos necesarios para la liquidación de la cuenta corriente del tarjetahabiente
          format: int32
        sbmParametroLiquidacion:
          type: integer
          description: Este campo de entrada, permite ingresar los datos correspondientes para indicar la ocurrencia del Submodelo de Parámetros que forma parte del Modelo de Liquidación asignado a la cuenta del tarjetahabiente
          format: int32
        salesChannel:
          maxLength: 2
          minLength: 0
          type: string
          description: Este campo de entrada, permite conocer cual ha sido el canal de venta por el cual ingresó la petición.
        chipUpdate:
          maxLength: 1
          minLength: 0
          type: string
          description: Este campo de salida, envía la novedad de chip en la instrucción de Personalización y esta relacionada a la impresión del plástico en punto de venta con embozadora homologada.
        IVA:
          type: integer
          description: Este campo de entrada, permite ingresar el dato correspondiente para indicar cual es la situación del tarjetahabiente ante el IVA (Impuesto al valor agregado)
          format: int32
        ATMChargeServiceWaiver:
          type: integer
          description: Este campo de entrada, permite ingresar el dato correspondiente al porcentaje de bonificación a aplica al cargo que se debitara en la cuenta del tarjetahabiente, por las transacciones realizadas mediante el uso de cajeros automáticos, excepto que la misma sea un Adelanto en Efectivo
          format: int32
        CBU:
          maxLength: 22
          minLength: 0
          type: string
          description: 'Este campo de entrada, permite el ingreso del CBU del tarjetahabiente. CBU: Cuenta Bancaria Universal'
    InstantIssuanceResponse:
      type: object
      properties:
        fullName:
          type: string
          description: Este campo de salida, proporciona la información del Apellido y Nombre del solicitante de la tarjeta de crédito
        cardNumber:
          type: string
          description: Este campo de salida, proporciona la información del número de tarjeta completo del tarjetahabiente en manera encriptada. En formatos asociados a la mensajería de personalización que se envía en la opción de impresión en punto de venta  con embozadora homologada.
        cvv:
          type: string
          description: Esta campo de salida, proporciona los datos relacionados al número de CVC de la tarjeta en voucher.
        cvcChip:
          type: string
          description: Esta campo de salida, proporciona los datos relacionados al número de CVC/Chip. Este dato es para la embozadora.
        accountNumber:
          type: string
          description: 'Este campo de salida, proporciona el número de cuenta del tarjetahabiente. '
        branchNumber:
          type: string
          description: Este mensaje de salida, proporciona datos correspondiente al código de la sucursal bancaria donde el socio tiene radicada su cuenta / tarjeta.
        expirationDate:
          type: string
          description: Este campo de salida, proporciona la información correspondiente a la fecha de validez de la tarjeta
        magStripe1:
          type: string
          description: Este campo de salida, proporciona información correspondiente al tipo de pista o track de la banda magnética. Esta información es para ser utilizada por la personalizadora en el proceso de embozado
        magStripe2:
          type: string
          description: Este campo de salida, proporciona información correspondiente al tipo de pista o track de la banda magnética. Esta información es para ser utilizada por la personalizadora en el proceso de embozado
        magStripe3:
          type: string
          description: Este campo de salida, proporciona información correspondiente al tipo de pista o track de la banda magnética. Esta información es para ser utilizada por la personalizadora en el proceso de embozado
        magStripe4:
          type: string
          description: Este campo de salida, proporciona información correspondiente al tipo de pista o track de la banda magnética. Esta información es para ser utilizada por la personalizadora en el proceso de embozado
        reversesideCardInformation:
          type: string
          description: Este campo de salida, proporcionará los datos del dorso de la tarjeta.
        loyaltyNumber:
          type: string
          description: Este campo de salida, proporciona el código correspondiente al programa de Fidelización al cual pertenece el tarjetahabiente.
        chipCheck:
          type: string
          description: Este campo de salida, proporciona información correspondiente a la marca de la tecnología chip o banda. Esta información es para ser utilizada por la personalizadora en el proceso de embozado
        securityChar:
          type: string
          description: Este campo de salida, proporciona el dato correspondiente al Código de Seguridad de la tarjeta (CVC)
    BloqueoRequest:
      type: object
      properties:
        accountNumber:
          pattern: ^[0-9]{7,9}
          type: string
          description: Este campo de entrada, permite ingresar el número de cuenta del tarjetahabiente.
        additional:
          pattern: ^[0-9]{1,3}
          type: string
          description: Esta campo de entrada, permite ingresar el número de Autorizado.
        cardNumber:
          pattern: ^[0-9A-F]{64}
          type: string
          description: Este campo de entrada permite ingresar el número de tarjeta (PAN) encriptado en formato hexadecimal con longitud de 48 caracteres.
        cardNumberM:
          pattern: ^[0-9]{4}[0]{8}[0-9]{4}
          type: string
          description: 'Este campo de entrada permite ingresar el número de tarjeta (PAN) en formato: 1234000000001234.'
        fullName:
          maxLength: 30
          minLength: 1
          type: string
          description: Este campo de entrada, permite ingresar el apellido y nombre de la persona, del denunciante y/o a la cual se le emitirá la tarjeta de crédito por la solicitud de denuncia o reimpresión.
        type:
          pattern: DU|PA
          type: string
          description: Este campo de entrada, permite ingresar el código de documento (Tipo de documento). En Argentina y Uruguay los documentos tienen distintos tipos de código según su categoria. DU - Documento Único, PA - Pasaporte.
        number:
          pattern: ^[0-9]{6,9}
          type: string
          description: Este campo de entrada, permite ingresar el número de documento de identidad del tarjetahabiente.
        isLost:
          pattern: S|N
          type: string
          description: Este campo de entrada, permite informar si el documento de identidad fue extraviado, con valores Sí o No (S o N).
        comments:
          maxLength: 120
          minLength: 0
          type: string
          description: Este campo de entrada, permite ingresar comentarios adicionales en el proceso de solicitud de bloqueo y/o reimpresion.
        blockCode:
          pattern: '7'
          type: string
          description: Este campo de entrada, permite ingresar el motivo de boletín de bloqueo y/o reimpresion.
        isReissue:
          pattern: S|N
          type: string
          description: Este campo de entrada, permite ingresar el valor Sí o No (S o N) para informar si la tarjeta se reimprime.
        addressId:
          pattern: C
          type: string
          description: Este campo de entrada, permite ingresar el Id de la dirección, C = dirección de la cuenta registrada en el sistema.
        addressStreetNumber:
          maxLength: 30
          minLength: 0
          type: string
          description: Este campo de entrada, permite ingresar el domicilio del tarjetahabiente detallando el nombre y número de la calle.
        countryCode:
          pattern: ^[a-zA-Z0-9]{1,3}|N/I
          type: string
          description: 'Este campo de entrada, permite ingresar el código del país. '
        addressprovinceCode:
          pattern: ^[a-zA-Z0-9]{1,3}|N/I
          type: string
          description: Este campo de entrada, permite ingresar el código de la provincia.
        city:
          maxLength: 20
          minLength: 0
          type: string
          description: Este campo de entrada, permite ingresar la ciudad relacionada con el domicilio.
        phoneNumber:
          pattern: ^[0-9]{8,20}|N/I
          type: string
          description: Este campo de entrada, permite ingresar el número de teléfono del tarjeta habiente.
        issuingType:
          pattern: F|V|0
          type: string
          description: Este campo de entrada, permite ingresar el tipo de emisión que tendrá la tarjeta, pudiendo optar por la personalización y envío de la tarjeta plástica como fisica (F) , la emisión para consulta y uso virtual (V), el campo es opcional y puede enviarse 'ESPACIO o SIN INFORMAR'.
    BloqueoResponse:
      type: object
      properties:
        returnCode:
          type: string
          description: Este campo de salida proporciona el código de retorno / rechazo que devuelve el sistema.
        returnCodeDescription:
          type: string
          description: Este campo de salida proporciona la descripción del código de retorno / rechazo que devuelve el sistema.
        blockNumber:
          type: string
          description: Este campo de salida indica el número de denuncia / bloqueo / reimpresión
        orderNumber:
          type: string
          description: Este campo de salida indica el número de gestión / pedido con el cual se registra la acción.
    activacionTarjetaRequest:
      type: object
      properties:
        accountNumber:
          pattern: ^[0-9]{7,9}
          type: string
          description: Este campo de entrada proporciona el número de cuenta del tarjetahabiente.
        additional:
          pattern: ^[0-9]{1,3}
          type: string
          description: Este campo de entrada complementa al dato cuenta para identificar unívocamente titulares y adicionales de la misma. Conocido támbien como 'Autorizado'.
        cardNumber:
          pattern: ^[0-9A-F]{64}
          type: string
          description: Este campo de entrada permite ingresar el número de tarjeta (PAN) encriptado en formato hexadecimal con longitud de 48 caracteres.
        cardNumberM:
          pattern: ^[0-9]{4}[0]{8}[0-9]{4}
          type: string
          description: 'Este campo de entrada permite ingresar el número de tarjeta (PAN) en formato: 1234000000001234.'
    activacionTarjetaResponse:
      type: object
      properties:
        returnCode:
          type: string
          description: Este campo de salida proporciona el código de retorno/rechazo que devuelve el sistema
        returnCodeDescription:
          type: string
          description: Este campo de salida proporciona la descripción del código de retorno/rechazo que devuelve el sistema
        orderNumber:
          type: string
          description: Este campo de salida indica el número de gestión / pedido con el cual se registra la acción.
    CvvRequest:
      type: object
      properties:
        accountNumber:
          type: integer
          description: Este campo de entrada, permite ingresar el número de cuenta del tarjetahabiente.
          format: int64
        additional:
          type: integer
          description: Este campo de entrada, complementa al dato cuenta para identificar unívocamente Titulares y Adicionales de la misma. Conocido también como "AUTORIZADO"
          format: int64
        cardNumber:
          maxLength: 64
          minLength: 0
          type: string
          description: Este campo de entrada permite ingresar el número de tarjeta (PAN) encriptado
        cardNumberM:
          maxLength: 16
          minLength: 0
          type: string
          description: Este campo de entrada, permite ingresar el número de tarjeta (PAN) enmascarado
      description: Estructura de campos para la solicitud de la API CVV
    CvvResponse:
      type: object
      properties:
        cvv:
          type: string
          description: Este campo de salida, proporciona el dato correspondiente al código CVC2 (si es Mastercard) CVV2 (si es Visa)
      description: Estructura de campos que responde la API CVV
    CardNumberRequest:
      type: object
      properties:
        accountNumber:
          pattern: '[0-9]{1,9}'
          type: string
          description: Este campo de entrada, permite ingresar el número de cuenta del tarjetahabiente.
        additional:
          pattern: '[0-9]'
          type: string
          description: Este campo de entrada, complementa al dato cuenta para identificar unívocamente Titulares y Adicionales de la misma. Conocido también como "AUTORIZADO"
        cardNumber:
          pattern: '[0-9A-f]{64}'
          type: string
          description: Este campo de entrada permite ingresar el número de tarjeta (PAN) encriptado
        cardNumberM:
          pattern: '[0-9]{4}0{8}[0-9]{4}'
          type: string
          description: Este campo de entrada, permite ingresar el número de tarjeta (PAN) enmascarado. Formato XXXX00000000XXXX..
    CardNumberResponse:
      type: object
      properties:
        cardNumber:
          maxLength: 96
          minLength: 1
          type: string
          description: Este campo de salida, proporciona la información del número de tarjeta completo del tarjetahabiente en manera encriptada
        expirationDate:
          maxLength: 96
          minLength: 1
          type: string
          description: Este campo de salida, proporciona la información correspondiente a la fecha de validez de la tarjeta
        fullName:
          maxLength: 96
          minLength: 1
          type: string
          description: Este campo de salida, proporciona la información del Apellido y Nombre que esta realizando la consulta
    blockRequestFeesRequest:
      type: object
      properties:
        accountNumber:
          pattern: ^[0-9]{5,9}
          type: string
          description: Este campo de entrada, permite ingresar el número de cuenta del tarjetahabiente.
        additional:
          pattern: ^[0-9]{1}
          type: string
          description: Esta campo de entrada, permite ingresar el número de Autorizado.
        cardNumber:
          pattern: ^[0-9A-F]{64}
          type: string
          description: Este campo de entrada permite ingresar el número de tarjeta (PAN) encriptado en formato hexadecimal con longitud de 48 caracteres.
    blockRequestFeesResponse:
      type: object
      properties:
        rate:
          type: string
          description: Este campo de salida proporciona la información correspondiente al valor asociado al bloqueo o denuncia.
        message:
          type: string
